body.author {
    .inner-masthead {
        display: block;
        margin-top: 40px;
    }
    #primary {
        margin-top: 0;
    }
}
.author-info {
    display: block;
    position: relative;
    margin: 0 auto 24px;
    text-align: center;
    .author-avatar {
        width: 140px;
        height: 140px;
        display: block;
        overflow: hidden;
        @include border-radius(70px);
        margin: 24px auto 12px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .author-title {
        display: block;
        font-size: 32px;
        margin: 12px auto;
        font-family: $headline;
        color: $hrld-black;
    }
    .twitter-follow-button {
        margin-bottom: 6px;
    }
    a.author-media-link, a.author-posts-link {
        display: block;
        color: $hrld-blue;
        margin-bottom: 12px;
        font-family: $headline;
        font-weight: 700;
        font-size: 18px;
        &:hover {
            color: $hrld-blue-hover;
        }
        span.count {
            font-size: 14px;
        }
    }
    .author-detail span {
        display: block;
        line-height: normal;
        color: $hrld-black;
        font-family: $caption;
        margin: 0 auto;
        font-size: 14px;
    }
    .author-position {
        color: $hrld-dark-grey;
        font-size: 18px;
        font-family: $headline;
        margin: 6px auto 12px;
        font-weight: 700;
    }
}

.author-media-block {
    .media-list {
        text-align: justify;
        font-size: 0.1px;
        line-height: 12px;
        width: 100%;
        .media-thumbnail {
            display: inline-block;
            width: calc(33.3333333% - 3px);
            img {
                display: block;
                height: auto;
            }
        }
        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
    }
}
@media (min-width: 760px) {
    .author-info {
        // To prevent margin collapse
        padding-top: 1px;
        .author-avatar {
            margin: 0 auto;
            left: 0;
            width: 200px;
            height: 200px;
            top: -124px;
            right: 0;
            position:absolute;
            @include border-radius(100px);
        }
        .author-title {
            margin: 92px auto 12px;
        }
        .twitter-follow-button {
            margin-bottom: 0;
            margin-left: 10px;
            display: inline-block;
            position: relative;
            top: 4px;
        }
        a.author-media-link, a.author-posts-link {
            display: inline-block;
            margin-left: 10px;
        }
        .author-position {
            margin: 0 auto 12px;
            display: inline-block;
        }
        &.no-banner {
            .author-avatar {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                margin-top: 24px;
            }
            .author-title {
                margin: 12px auto;
            }
        }
    }

    .author-media-block {
        .media-list {
            line-height: 15px;
            .media-thumbnail {
                width: 140px;
                height: 140px;
            }
        }
    }
}
@include breakpoint(desktop) {
    #stream.author-stream {
        margin: 0 auto;
        float: none;
        width: 100%;
    }

    .author-media-block {
        .media-list {
            .media-thumbnail {
                //width: 188px;
            }
        }
    }
}
@include breakpoint(xl) {
    .author-media-block {
        .media-list {
            .media-thumbnail {
                //width: 220px;
            }
        }
    }
}