
/* Style for all blocks */
.block {
	display: block; 
	margin: 24px 0;
	width: 100%;
	position: relative;
}

.context-label {
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family:$headline;
	padding: 3px 4px 2px;
	display:none;
	position:absolute;
	background: #000;
	color:#fff;
}

.block:hover .context-label {
	display:block;
}

.cover-block {
	.wrapper {
		background: rgba(black,.2);
		width: 100%;
		height: 400px;
	}
}

.column-block .column-block-header {
	h2 {
		border-bottom: 2px solid $hrld-black;
		display: block;
		padding-bottom:12px;
		margin-bottom: 24px;
	}
}

.column-block .column-block-article {
	margin-bottom:42px;
	position: relative;
	a:hover {
		cursor: pointer;
	}
	.mug {
		margin: 0 auto;
		float:left;
	}
	.article-link {
		h2 {
			font-size: 18px;
			line-height: 25px;
			font-family: 'pt serif';
			font-style: italic;
			color:#000;
			font-weight:normal;
			padding-top:30px;
			padding-bottom:12px;
			padding-left: 80px;
			margin-left: 10px;
		}
		.read {
			display: inline-block;
			position:absolute;
			left:90px;		
			padding-right:15px;
			font-family: $headline;
			text-transform: uppercase;
			color:#000;
			font-weight: 700;
			font-size:10px;
			line-height: 10px;
			background: url("img/icons/arrow-right-black.png") no-repeat right top;
			background-size: contain;

		}
		&:hover {
			h2,.read { color: $hrld-blue; }
			.mug img {
				-webkit-transition: all .1s ease-in-out;
    			-moz-transition: all .1s ease-in-out;
    			-o-transition: all .1s ease-in-out;
    			transition: all .1s ease-in-out;
				width:110% !important;
				height:110% !important;
				max-width:110%;
				margin-left:-5%;
				margin-top: -5%;
			}
		}
	}
	.author-link {
		text-transform: uppercase;
		font-family: $headline;
		// margin-bottom:18px;
		position:absolute;
		left: 90px;
		display: block;
		font-size:14px;
		font-weight:700;
		color:#000;
		&:after {
			display: block;
			width: 60px;
			border-bottom:2px solid $hrld-dark-grey-border;
			content:" ";
		}
		&:hover {
			color: $hrld-blue;
		}
	}
}

/*
.column-block .column-block-header {
	float:left;
	width:flex(150,320);
	margin-right:flex(20,320);
}

.column-block .column-block-article {
	float:left;
	width:flex(150,320);
	position: relative;
	text-align:center;
	margin-bottom:24px;
	a:hover {
		cursor: pointer;
	}
	.mug {
		margin: 0 auto;
	}
	.article-link {
		h2 {
			font-size: 18px;
			line-height: 25px;
			font-family: 'pt serif';
			font-style: italic;
			color:#000;
			font-weight:normal;
			padding-top:12px;
		}
		&:hover {
			.mug img {
				-webkit-transition: all .1s ease-in-out;
    			-moz-transition: all .1s ease-in-out;
    			-o-transition: all .1s ease-in-out;
    			transition: all .1s ease-in-out;
				width:110% !important;
				height:110% !important;
				max-width:110%;
				margin-left:-5%;
				margin-top: -5%;
			}
		}
		.read {
			display: inline-block;
			padding-right:12px;
			font-family: $headline;
			text-transform: uppercase;
			color:#000;
			font-weight: 700;
			font-size:10px;
			background: url("img/icons/arrow-right-black.png") no-repeat right center;

		}
	}
	.author-link {
		text-transform: uppercase;
		font-family: $headline;
		margin-bottom:18px;
		display: block;
		font-size:14px;
		font-weight:700;
		color:#000;
		&:after {
			display: block;
			width: 60px;
			border-bottom:2px solid $hrld-dark-grey-border;
			content:" ";
			margin: 0 auto;
		}
		&:hover {
			color: $hrld-blue;
		}
	}

	&.even {
		clear:left;
		margin-right: flex(20,320);
	}
}
*/
/**
 * style for element created by functions.php:exa_round_mug()
 */
.round-mug {
	width:80px;
	height:80px;
	overflow:hidden;
	border-radius: 40px;
	img {
		width: 100%;
		height: 100%;
	}
}

.billboard-block {
	background: #fff;
	display:none;
	.ad {
		display: block;
		margin: 18px auto;
	}
}

.leaderboard-block {
	display:none;
}



@media (min-width: 760px) {

	.column-block .column-block-article {
	
		width:flex(240,760);
		float:left;
		margin-right: flex(20,760);

		/* Make wrapping work without clearfix */
		&.article-3 {
			margin-right: 0;
		}

		&.article-4 {
			clear:left;
		}

		.mug {
			margin: 0 auto;
			float:none;
		}
		.article-link {
			h2 {
				padding-top:12px;
				text-align:center;
				padding-bottom:12px;
				padding-left: 0;
				margin-left: 0;
			}
			.read {
				text-align:center;
			}

		}
		.author-link {
			position:relative;
			display: block;
			left:0;
			margin-bottom:12px;
			text-align:center;
			&:after {
				margin:0 auto;
			}

		}
	}

	.leaderboard-block {
		display: block;
	}

}

@media (min-width: 1060px) {

	.billboard-block {
		display: block;
	}

	.column-block .column-block-article {
	
		width:140px;
		float:left;
		margin-right: 20px;

		/* Make wrapping work without clearfix */
		&.article-3 {
			margin-right: 20px;
		}

		&.article-4 {
			clear:none;
		}

		.mug {
			margin: 0 auto;
			float:none;
		}
		.article-link {
			h2 {
				padding-top:12px;
				text-align:center;
				padding-bottom:12px;
				padding-left: 0;
				margin-left: 0;
			}
			.read {
				text-align:center;
			}

		}
		.author-link {
			position:relative;
			display: block;
			left:0;
			margin-bottom:12px;
			text-align:center;
			&:after {
				margin:0 auto;
			}

		}
	}





}






/********************************
 * ARTICLE BLOCK ****************
 ********************************/

.article-display-block {
	.hero img {
		width:100%;
		height:auto;
	}

	.article-text {
		font-size: 20px;
		line-height: 30px;
		p {
			margin-bottom: 30px;
		}
	}

	.article-title {
		font-size: 30px;
		line-height: 36px;
		margin: 18px 0;
	}

	.article-header {

		.article-meta {
			font-family: $headline;
			color: $hrld-dark-grey;
			margin-bottom: 18px;
			a {
				color: $hrld-dark-grey;
				font-weight: bold;
				text-transform: uppercase;
			}
			a:hover {
				color: $hrld-black;
			}
			.article-mug-box {
				width:40px;
				margin-right: 10px;
				margin-top: -3px;
				position: relative;
				float:left;
				img {
					width: 100%;
				}
			}
		}
	}
}

@include breakpoint(tablet) {

	.article-display-block {

		.lede-sidebar {
			float: right;
			width: 300px;
			margin-top: 12px;
			display: block;
			margin-left: 20px;
			margin-bottom: 24px;
			.popular-posts {
				background: rgba(blue,.2);
				margin:18px 0;
				width:300px;
				height:450px;
			}
		}

		.article-text {
			width: 540px;
			margin-left: 80px;
		}
		.article-header {
			margin-left: 80px;
			width: 660px;
			.article-meta {
				.article-mug-box {
					width:60px;
					margin-right: 20px;
					margin-left: -80px;
					margin-top: -10px;
				}
			}
		}

	}
}

@include breakpoint(desktop) {

	.article-display-block {

		.lede-sidebar {
			.sidebar-thing {
				margin-bottom:300px;
			}
		}
		.hero img {
			max-width:700px;
			width:700px;
			display: block;
			height:auto;
			float: left;
		}

		.hero-ad {
			float: left;
			margin-left: 20px;
		}

		.article-header {
			width: 620px;
			.article-title {
				font-size: 44px;
				line-height: 48px;
				margin-top: 24px;
			}
			.article-subhead {

			}
		}

		.article-text {
			width: 540px;
			margin-left: 80px;
		}

	}

}

@include breakpoint(xl) {

	.article-display-block {

		.hero img {
			max-width:860px;
			width:860px;
			height:600px;
			float: left;
		}

		.hero-ad {
			float: left;
			margin-left: 20px;
		}

		.article-header {
			width: 720px;
			.article-title {
				font-size: 44px;
			}
			.article-subhead {

			}
		}
		.article-text {
			width: 620px;
		}
	}
}