
/* Style for all blocks */
.block {
	display: block; 
	margin: 24px 0;
	width: 100%;
	position: relative;
}

.context-label {
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family:$headline;
	padding: 3px 4px 2px;
	display:none;
	position:absolute;
	background: #000;
	color:#fff;
}

.block:hover .context-label {
	// display:block;
}

.cover-block {
	.wrapper {
		background: rgba(black,.2);
		width: 100%;
		height: 400px;
	}
}

.cover-2-column-block {
	.wrapper {
		width: 100%;
	}
	.cover-block {
		background: rgba(black, .2);
		width: 100%;
		height: 400px;
		margin-bottom: 24px;
	}
}

.column-block .column-block-header {
	h2 {
		border-bottom: 2px solid $hrld-black;
		display: block;
		padding-bottom:12px;
		margin-bottom: 24px;
	}
}

.column-block .column-block-article {
	margin-bottom:42px;
	position: relative;
	a:hover {
		cursor: pointer;
	}
	.mug {
		margin: 0 auto;
		float:left;
	}
	.article-link {
		h2 {
			font-size: 18px;
			line-height: 25px;
			font-family: 'pt serif';
			font-style: italic;
			color:#000;
			font-weight:normal;
			padding-top:30px;
			padding-bottom:12px;
			padding-left: 80px;
			margin-left: 10px;
		}
		.read {
			display: inline-block;
			position:absolute;
			left:90px;		
			padding-right:15px;
			font-family: $headline;
			text-transform: uppercase;
			color:#000;
			font-weight: 700;
			font-size:10px;
			line-height: 10px;
			background: url("img/icons/arrow-right-black.png") no-repeat right top;
			background-size: contain;

		}
		&:hover {
			h2,.read { color: $hrld-blue; }
			.mug img {
				-webkit-transition: all .1s ease-in-out;
    			-moz-transition: all .1s ease-in-out;
    			-o-transition: all .1s ease-in-out;
    			transition: all .1s ease-in-out;
				width:110% !important;
				height:110% !important;
				max-width:110%;
				margin-left:-5%;
				margin-top: -5%;
			}
		}
	}
	.author-link {
		text-transform: uppercase;
		font-family: $headline;
		// margin-bottom:18px;
		position:absolute;
		left: 90px;
		display: block;
		font-size:14px;
		font-weight:700;
		color:#000;
		&:after {
			display: block;
			width: 60px;
			border-bottom:2px solid $hrld-dark-grey-border;
			content:" ";
		}
		&:hover {
			color: $hrld-blue;
		}
	}
}

/*
.column-block .column-block-header {
	float:left;
	width:flex(150,320);
	margin-right:flex(20,320);
}

.column-block .column-block-article {
	float:left;
	width:flex(150,320);
	position: relative;
	text-align:center;
	margin-bottom:24px;
	a:hover {
		cursor: pointer;
	}
	.mug {
		margin: 0 auto;
	}
	.article-link {
		h2 {
			font-size: 18px;
			line-height: 25px;
			font-family: 'pt serif';
			font-style: italic;
			color:#000;
			font-weight:normal;
			padding-top:12px;
		}
		&:hover {
			.mug img {
				-webkit-transition: all .1s ease-in-out;
    			-moz-transition: all .1s ease-in-out;
    			-o-transition: all .1s ease-in-out;
    			transition: all .1s ease-in-out;
				width:110% !important;
				height:110% !important;
				max-width:110%;
				margin-left:-5%;
				margin-top: -5%;
			}
		}
		.read {
			display: inline-block;
			padding-right:12px;
			font-family: $headline;
			text-transform: uppercase;
			color:#000;
			font-weight: 700;
			font-size:10px;
			background: url("img/icons/arrow-right-black.png") no-repeat right center;

		}
	}
	.author-link {
		text-transform: uppercase;
		font-family: $headline;
		margin-bottom:18px;
		display: block;
		font-size:14px;
		font-weight:700;
		color:#000;
		&:after {
			display: block;
			width: 60px;
			border-bottom:2px solid $hrld-dark-grey-border;
			content:" ";
			margin: 0 auto;
		}
		&:hover {
			color: $hrld-blue;
		}
	}

	&.even {
		clear:left;
		margin-right: flex(20,320);
	}
}
*/
/**
 * style for element created by functions.php:exa_round_mug()
 */
.round-mug {
	width:80px;
	height:80px;
	overflow:hidden;
	border-radius: 40px;
	img {
		width: 100%;
		height: 100%;
	}
}

.billboard-block {
	background: #fff;
	display:none;
	margin:48px 0 ;
	.ad {
		display: block;
		margin: 0 auto;
		padding: 24px 0;
	}
}

.leaderboard-block {
	.icymi-box {
		display: none;
	}
}

.full-width-cover-image {
	display: block;
	position: relative;
	overflow: hidden;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto 24px;
	max-width: 100%;
	max-height: 600px;
	&:before {
		content: "";
		display: block;
		width: 100%;
	}
	&.pos-bottom {
		background-position: center bottom;
	}
}

.full-width-aspect-3by1:before {
	padding-bottom: 33.33333%;
}



@media (min-width: 760px) {

	.column-block .column-block-article {
	
		width:flex(240,760);
		float:left;
		margin-right: flex(20,760);

		/* Make wrapping work without clearfix */
		&.article-3 {
			margin-right: 0;
		}

		&.article-4 {
			clear:left;
		}

		.mug {
			margin: 0 auto;
			float:none;
		}
		.article-link {
			h2 {
				padding-top:12px;
				text-align:center;
				padding-bottom:12px;
				padding-left: 0;
				margin-left: 0;
			}
			.read {
				text-align:center;
			}

		}
		.author-link {
			position:relative;
			display: block;
			left:0;
			margin-bottom:12px;
			text-align:center;
			&:after {
				margin:0 auto;
			}

		}
	}

	.leaderboard-block {
		display: block;
	}
}

@media (min-width: 1160px) {

	.billboard-block {
		display: block;
	}

	.column-block .column-block-article {
	
		width:140px;
		float:left;
		margin-right: 20px;

		/* Make wrapping work without clearfix */
		&.article-3 {
			margin-right: 20px;
		}

		&.article-4 {
			clear:none;
		}

		.mug {
			margin: 0 auto;
			float:none;
		}
		.article-link {
			h2 {
				padding-top:12px;
				text-align:center;
				padding-bottom:12px;
				padding-left: 0;
				margin-left: 0;
			}
			.read {
				text-align:center;
			}

		}
		.author-link {
			position:relative;
			display: block;
			left:0;
			margin-bottom:12px;
			text-align:center;
			&:after {
				margin:0 auto;
			}

		}
	}

	.leaderboard-block {
		.leaderboard-ad {
			float:left;
		}
		.icymi-box {
			display: block;
			width: 270px;
			float: right;
			text-align: right;
			color: $hrld-dark-grey;
			h4 {
				margin:0 0 0px 0;
				font-style: italic;
				font-size: 12px;
			}
			a {
				font-weight: bold;
				color: $hrld-black;
				font-family: $headline;
				display: block;
				span.time {
					color: $hrld-blue;
					font-family: $body;
					font-style: italic;
					font-size: 12px;
				}
				&:hover {
					color: $hrld-blue;

				}
			}
		}
	}

	.cover-2-column-block {
		.wrapper {
			@include clearfix();
			.cover-block {
				width: 500px;
				float: left;
				&:first-child {
					margin-right: 20px;
				}
			}
		}
	}
}

@include breakpoint(xl) {
	.cover-2-column-block .wrapper {
		.cover-block {
			width: 580px;
		}
	}
}

