/**
 * .container foundations:
 * ----------------------------------------
 */

.container {
	padding: 12px 0px;
	margin: 0;
	&.mobile, &.tablet, &.desktop, &.xl {
		display: none;
	}
	&.mobile {
		display: block;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 540px;
	width: flex(300,320);
	position: relative;
}

@include breakpoint('tablet') {
	.container.mobile, .container.desktop, .container.xl {
		display: none;
	}
	.container.tablet {
		display:block;
	}
	.wrapper {
		max-width: 740px;
		&.flex {
			width: flex(950,1000);
			min-width: 740px;
			max-width: flex(950,1000);
		}
	}
}

@include breakpoint('desktop') {
	.container.mobile, .container.tablet, .container.xl {
		display: none;
	}
	.container.desktop {
		display:block;
	}
	.wrapper {
		max-width: 1020px;
		width: 1020px;
		&.flex {
			width: flex(950,1000);
			min-width: 1020px;
			max-width: flex(950,1000);
		}
	}
}

@include breakpoint('xl') {
	.container.mobile, .container.tablet, .container.desktop {
		display: none;
	}
	.container.xl {
		display:block;
	}
	.wrapper {
		max-width: 1180px;
		width: 1180px;
		&.flex {
			width: flex(850,1000);
			min-width: 1180px;
			max-width: flex(850,1000);
		}
	}
}
