.section-banner {
	width: 100%;
	&.section-banner-news {
		background: url('img/headers/news.png');
	} &.section-banner-banter {
		background: url('img/headers/banter.png');
	} &.section-banner-artsetc {
		background: url('img/headers/artsetc.png');
	} &.section-banner-sports {
		background: url('img/headers/sports.png');
	}
	background-size: cover;
	background-position: 0 0px;
	height: 90px;
	position: relative;
	h2 {
		position: absolute;
		bottom:0;
		background: $hrld-black;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		padding: 12px 20px;
		line-height: 24px;
		margin:0px;
		display: inline;
	}
}

ul.list-stories {
	margin: 0;
	padding: 0;
	width:100%;
	font-family: $headline;
	list-style: none;
	font-size: 17px;
	.topic {
		text-transform: uppercase;
		color: $hrld-dark-grey;
		font-size: 14px;
	}
	h4 {
		margin:3px 0 9px 0;
		padding:0;
		a {
			color: $hrld-black;
			&:hover {
				color: $hrld-blue;
			}
		}
	}
}