.section-banner {
	width: 100%;
	&.section-banner-news {
		background: url('img/headers/news.png');
	} &.section-banner-banter {
		background: url('img/headers/banter.png');
	} &.section-banner-artsetc {
		background: url('img/headers/artsetc.png');
	} &.section-banner-sports {
		background: url('img/headers/sports.png');
	}
	background-size: cover;
	background-position: 0 0px;
	height: 90px;
	position: relative;
	h2 {
		position: absolute;
		bottom:0;
		background: $hrld-black;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		padding: 12px 20px;
		line-height: 24px;
		margin:0px;
		display: inline;
	}
}

ul.list-stories {
	margin: 0;
	margin-top: 30px;
	padding: 0;
	width:100%;
	font-family: $headline;
	list-style: none;
	font-size: 17px;
	.topic {
		text-transform: uppercase;
		color: $hrld-dark-grey;
		font-size: 14px;
	}
	.summary-time-stamp{
		font-size: 12px;
	}
	h4 {
		margin:3px 0 9px 0;
		padding:0;
		a {
			color: $hrld-black;
			&:hover {
				color: $hrld-blue;
			}
		}
	}
}
.featured-container{
	margin-top: 6px;
	.entry-thumbnail{
		//float: left;
		//width: flex(140,300);
		//padding-right: flex(20, 300);
	}
	.entry-title{
		//float: left;
		//width: flex(140,300);
	}
	.entry-summary{
		//clear: both;
	}
}
ul.featured-stream-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
@media (min-width: 760px) {
}
@media (min-width: 1060px) {
	ul.list-stories{
		width: 360px;
		float:left;
		border-left: 1px solid #e0eaee;
		padding-left: 19px;
	}
	.featured-container{
		float: left;
		width: 640px;
		.instream-stream-post{
			.entry-summary{
				display: none;
				//clear: none;
			}
		}
	}
	.featured-stream-post{
		width: 460px;
		padding-right: 20px;
		float: left;
		.entry-thumbnail{
			width: 460px;
		}
	}
	
	ul.featured-stream-list{
		float: left;
		width: 140px;
		padding-right: 20px;
		li{
			display: block;
		}
	}
}

@media (min-width: 1220px) {
	.featured-container{
		width: 800px;
	}
	.featured-stream-post{
		width: 760px;
		padding-right: 20px;
		float: none;
		.entry-thumbnail{
			margin-right: 20px;
			float: left;
		}
	}
	ul.featured-stream-list{
		border-top: 1px solid #e0eaee;
		float: none;
		padding: 0;
		width: auto;
		li{
			width: 220px;
			margin-left: 20px;
			float: left;
			&:first-child{
				margin-left: 0;
			}
		}
	}
}