
/**
 * Slider, ad, and top posts
 * 
 */
#above-fold {

	/** ---------------------------------------- * 
	 *
	 * Swipe styling.
	 *
	 * @see https://github.com/bradbirdsall/Swipe
	 *
	 */
	.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.swipe-wrap > div {
	  float:left;
	  width:100%;
	  position: relative;
	}

	/* ----------------- /end swipe styling/ --- */

	#slider {
		width: 100%;
		background: $hrld-black;
		color: $hrld-light-grey;
		margin-bottom: 12px;
		a {
			color: #fff;
		}
		.slider-content {
			float: left;
		}
		img {
			float: left;
			height: auto;
		}
		h2,p,ul {
			padding: 0px 20px;
		}
		h2 {
			margin-top: 12px;
		}
		.slider-related-title {
			font-weight: 700;
			font-family: $headline;
			margin-top: 18px;
			margin-bottom:6px;

			/* not until iPad */
			display: none;
		}
		ul.slider-related {
			font-family: $headline;
			list-style: none;
			margin:0;

			/* not until iPad */
			display: none;

			li {
				line-height: 18px;
				margin-bottom: 6px;
				a {
					color: $hrld-dark-grey;
					font-weight: bold;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		ul.slider-nav {
			list-style: none;
			margin: 0;
			padding:0;
			li {
				display: block;
				width: flex(74,300);
				margin-left: flex(1,300);
				background: #2b2b2b;
				height: 12px;
				float: left;
				&.active {
					background: $hrld-blue;
				}
				&:first-child {
					width: flex(75,300);
					margin-left: 0;
				}
				span {
					display: none;
				}
			}
		}
	}

	#middle-column {
		.hp-square-ad {
			width: 300px;
			height: 250px;
			margin-bottom: 12px;
		}
		.todays-shoutout {
			margin: 0;
			padding: 0;
			padding-bottom: 24px;
			position: relative;
			.bubble-box {
				background: $hrld-black;
				margin-bottom: 78px;
				color: $hrld-light-grey;
				font-family: 'PT Sans';
				position: relative;
				h3 {
					margin: 0;
					padding:24px 20px 0px;
					font-size: 17px;
					text-transform: uppercase;
				} p {
					padding:6px 20px 24px;
					margin: 0;
					color: $hrld-dark-grey;
					font-family: $headline;
					font-style: italic;
					font-size: 17px;
					line-height: 24px;
				} &:after {
					content: "";
					display: block;
					width: 0; height: 0; 
					border-right: 30px solid transparent;
					border-bottom: 30px solid transparent;
					border-top: 30px solid $hrld-black;
					border-left: 30px solid $hrld-black;
					position: absolute;
					bottom:-60px;
					margin-left: 80px;
				}
			} .hp-so-avatar {
				position: absolute;
				margin-top:-60px;
			} .link-box { /* The box with "More Shoutouts", and "Add a Shoutout" links */
				position: absolute;
				width: 100%;
				height: 60px;
				text-align: right;
				bottom: 24px;
				a {
					font-family: $headline;
					font-size: 14px;
					text-transform: uppercase;
					line-height: 18px;
					font-weight: 700;
					&.more {
						/* TODO: Add Icon */
						color: $hrld-black;
						&:hover {
							color: $hrld-blue;
						}
					} &.submit {
						/* TODO: Add Icon */
						color: $hrld-dark-grey;
						&:hover {
							color: $hrld-dark-grey-hover;
						}
					}
				}
			}
		} /* .todays-shoutout */
	} #top-posts {
		display:none;
	} #interactive {
		display:none;
	}

}

/* Banners on the homepage */

.section-banner {
	width: 100%;
	&.section-banner-news {
		background: url('img/headers/news.png');
	} &.section-banner-banter {
		background: url('img/headers/banter.png');
	} &.section-banner-artsetc {
		background: url('img/headers/artsetc.png');
	} &.section-banner-sports {
		background: url('img/headers/sports.png');
	} &.section-banner-opinion {
		background: url('img/headers/banter.png');
	}
	background-size: cover;
	background-position: 0 0px;
	height: 90px;
	position: relative;
	h2 {
		position: absolute;
		bottom:0;
		background: $hrld-black;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		padding: 12px 20px;
		line-height: 24px;
		margin:0px;
		display: inline;
	}
}

/* Related Posts on Homepage
 * --------------------------------- */

.related-header {
	font-size: 14px;
	text-transform: uppercase;
	color: $hrld-dark-grey;
	h3 {
		margin: 0;
		padding: 0;
		margin: 6px 0 6px 0;
	}
}

ul.related-post-articles {
	margin: 0; padding: 0;
	list-style: none;
	li {
		margin-bottom: 6px;
		line-height: 18px;
		font-size: 17px;
		a {
			font-weight: bold;
			color: $hrld-black;
			&:hover{
				color: $hrld-blue;
			}
		}
	}
}

ul.list-stories {
	margin: 0;
	margin-top: 30px;
	padding: 0;
	width:100%;
	font-family: $headline;
	list-style: none;
	font-size: 17px;
	.topic {
		text-transform: uppercase;
		color: $hrld-dark-grey;
		font-size: 14px;
	}
	.summary-time-stamp{
		text-transform: none;
	}
	h4 {
		margin:3px 0 9px 0;
		padding:0;
		a {
			color: $hrld-black;
			&:hover {
				color: $hrld-blue;
			}
		}
	}
}

.featured-container{
	margin-top: 30px;
}
.stream-post.featured-stream-post{
	margin-top:0;
}

ul.featured-stream-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.opinion-desk{
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.all-link{
	width: 100%;
	clear: both;
	padding-top: 18px;
	border-top: 1px solid #e0eaee;
	text-align: center;
	margin-bottom: 48px;
	font-family: $headline;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	a {
		color: $hrld-dark-grey;
		background: url("img/icons/arrow-right-blue.png") no-repeat right center;
		padding-right: 16px;
		&:hover{
			color: $hrld-dark-grey-hover;
		}
	}
}

.col-container{
	overflow: hidden;
}

@media (min-width: 760px) {

	#above-fold {
		#slider {
			margin-bottom: 18px;
			position: relative;
			img {
				width: flex(460,760);
			} .slider-content {
				width: flex(300,760);
			} .slider-related-title {
				display: block;
			} ul.slider-related {
				display: block;
			} ul.slider-nav {
				width: flex(300,760);
				height:12px;
				position: absolute;
				bottom:0;
				right: 0;
			}
		} #middle-column {
			.hp-square-ad {
				width: 300px;
				height: 250px;
				margin-bottom: 12px;
				position: absolute;
				left: flex(434,760);
			} .todays-shoutout {
				width: flex(414,760);
				.bubble-box {
					height: 172px;
				}
			}	
		} #top-posts {
			display:none;
		} 
	} 

	.featured-container{
		float: left;
		width: flex(420,740);
		padding-bottom: 9999px;
		margin-bottom: -9999px;
		.instream-stream-post{
			.entry-summary{
				display: none;
				//clear: none;
			}
		}
	}
	ul.list-stories{
		width: flex(300,740);
		float: left;
		padding-left: flex(20,740);
		padding-bottom: 9999px;
		margin-bottom: -9999px;
	}
	ul.featured-stream-list{
		li{
			.entry-title{
				font-size: 17px;
				line-height: normal;
			}
			.entry-thumbnail{
				width: flex(140,420);
				float: left;
				margin-right: flex(20,420);
			}
			.stream-post{
				margin-top: 12px;
				&.instream-stream-post .entry-thumbnail{
					margin-bottom: 0;
				}
			}
		}
	}

}




@media (min-width: 1060px) {
	
	#above-fold {
		margin-bottom: 30px;
		#slider {
			margin-bottom: 18px;
			width: 460px;
			float: left;
			img {
				width: 100%;
			} .slider-content {
				width: 100%;
				height: 303px;
			} ul.slider-nav {
				width: 100%;
			}
		} #middle-column {
			width: 300px;
			margin-left: 20px;
			float: left;
			.hp-square-ad {
				margin-bottom: 18px;
				position: static;
			} .todays-shoutout {
				width: 100%;
				.bubble-box {
					height: 217px;
				}
			}	
		} #top-posts {
			display:block;
			float: left;
			width: 180px;
			margin-left: 20px;
			height: 576px;
            background: #fff;
            padding: 12px 20px;
            h3,ul {
                    margin: 0; padding:0;
            }
            h3 {
                    margin-top: 6px;
                    text-transform: uppercase;
                    font-family: $headline;
            }
            ul {
                    list-style: none;
                    font-family: $headline;
                    margin-top: 12px;
                    li {
                            margin-bottom: 12px;
                            line-height: 18px;
                            a {
                                    color: $hrld-black;
                                    font-weight: bold;
                                    &:hover {
                                            color: $hrld-blue;
                                    }
                            }
                    }
            }
        } #interactive {
			width:220px;
			float:left;
			display: block;
			margin-left: 20px;
			background: #fff;
			h3 {
				margin-top: 0;
				margin-bottom: 0px;
				padding:12px 20px;
				font-family: $headline;
				text-transform: uppercase;
			} h4 {
				font-family: $body;
				font-size: 20px;
				margin-top: 6px;
				line-height: 30px;
				color: #000;
				margin: 12px 20px;
			} a p {
				color: #000;
				padding: 0px 20px 24px;
			} p.athr {
				margin: 12px 20px 18px;
				font-family: $headline;
				font-style: italic;
				a {
					font-style: normal;
					text-transform: uppercase;
					color:#000;
					font-weight: bold;
					padding-left: 3px;
				}	
				img {
					position: relative;
					top: 8px;
					margin-right: 5px;
				}
			} 
		}
	} 

	
	ul.list-stories{
		width: 340px;
		padding-left: 19px;
		padding-right: 20px;
	}
	.featured-container{
		width: 640px;
		border-right: 1px solid #e0eaee;
	}
	.featured-stream-post{
		width: 460px;
		padding-right: 20px;
		float: left;
		.entry-thumbnail{
			width: 460px;
		}
	}
	
	ul.featured-stream-list{
		float: left;
		width: 140px;
		padding-right: 20px;
		li{
			display: block;
			.entry-thumbnail{
				width: auto;
				float: none;
				margin-right: 0;
			}
			&:first-child .stream-post{
				margin-top: 0;
			}
		}
	}
}

@media (min-width: 1220px) {

	#above-fold {
		margin-bottom: 30px;
		#slider {
			width: 620px;
			float: left;
			.slider-related-title {

			}
			ul.slider-related {
				li,h4 {
					display: inline;
				}
				li:before {
					content: "|";
					padding: 0 4px;
				} li:first-child:before {
					content: "";
					padding:0;
				}
			}
		} .slider-content {
			width: 100%;
			height: 200px !important;
		}
	} 


	.featured-container{
		width: 800px;
	}
	.featured-stream-post{
		width: 760px;
		padding-right: 20px;
		float: none;
		.entry-thumbnail{
			margin-right: 20px;
			float: left;
		}
	}
	ul.featured-stream-list{
		border-top: 1px solid #e0eaee;
		float: none;
		padding: 0;
		width: auto;
		li{
			width: 220px;
			margin-left: 20px;
			float: left;
			&:first-child{
				margin-left: 0;
				.stream-post{
					margin-top: 12px;
				}
			}
		}
	}
}