.march-madness-content #primary{
	max-width: 660px;
	margin: 0 auto;
	background: $hrld-black;
	color: $hrld-light-grey;
}
.march-madness-content{
	.team-filter{
		width: 100%;
		border-top: solid 1px $hrld-dark-grey;
		padding: 24px 0 6px 0;
		text-align: right;
		label{
			font-weight: 700;
			font-family: $headline;
			color: $hrld-dark-grey;
			font-size: 18px;
		}
		input{
			padding: 3px 10px;
			border: 2px solid $hrld-dark-grey;
			border-radius: 5px;
			color: $hrld-dark-grey;
			&:focus{
				outline: 0;
			}
		}
	}
	.regions-container{
		text-align: center;
		padding-bottom: 24px;
	}
	.team-region{
		width: 100%;
		h2{
			margin: 12px 0;
			text-transform: uppercase;
			font-family: $headline;
			font-weight: 300;
		}
	}
	.team-list, .team-choice-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			padding: 0;
			margin: 0;
		}
	}
	.team-option{
		padding: 6px 0;
		border: none;
		border-bottom: 1px solid $hrld-black-dark-grey;
		margin-bottom: 0;
		background: transparent;
		color: $hrld-light-grey;
		width: 100%;		
		text-align: left;
		&:hover, &:hover .close{
			color: $hrld-blue-hover;
		}
		span{
			margin: 0;
			padding: 0 0 0 10px;
			font-family: $headline;
			font-weight: 400;
			font-size: 16px;
		}
		&:disabled, &:disabled .close{
			color: $hrld-black-dark-grey;
		}
	}
	.team-list li:first-child .team-option{
		border-top: 1px solid $hrld-black-dark-grey;
	}
	.team-option span.seed, li.team-choice span.seed{
			font-size: 14px;
			padding-left: 0;
	}
	li.team-choice{
		padding: 3px 0;
		border: 2px solid $hrld-dark-grey;
		border-radius: 5px;
		margin-bottom: 6px;
		span{
			margin: 0;
			padding: 0 0 0 10px;
			font-family: $headline;
			font-weight: 400;
			font-size: 16px;
		}
	}
	.user-choices{
		padding-bottom: 24px;
		h1{
			margin: 12px 0 24px 0;
			padding: 0;
			font-family: $headline;
			text-transform: uppercase;
			text-align: center;
			font-size: 36px;
			font-weight: 700;
		}
	}
	.close{
		border: none;
		color: $hrld-dark-grey;
		background: transparent;
		font-weight: 700;
		font-size: 24px;
		font-family: $headline;
		padding: 0 10px;
		margin: 0;
		line-height: 1;
		display: inline;
		float: right;
		&:hover{
			color: $hrld-dark-grey-hover;
		}
		&:focus{
			outline: 0;
		}
	}
	.ng-hide{
		display: block !important;
		.team-option, .close{
			color: $hrld-black-dark-grey;
		}
	}
}
@media(min-width: 540px){
	.march-madness-content{
		.team-region{
			float: left;
			width: 240px;
			margin-left: 20px;
			&:nth-child(odd){
				margin-left: 0;
			}
		}
		li.team-choice{
			float: left;
			width: 236px;
			margin-left: 20px;
			&:nth-child(odd){
				margin-left: 0;
			}
		}
	}
}
@media(min-width: 760px){
	.march-madness-content{
		.team-region{
			width: 320px;
			margin-left: 20px;
			margin-bottom: 24px;
			li{
				width: 150px;
				float: left;
				margin-left: 20px;
				&:nth-child(odd){
					margin-left: 0;
				}
				&:last-child, &:nth-last-child(2){
					border-bottom: 1px solid $hrld-black-dark-grey;
				}
			}
		}
		.team-option{
			border-bottom: none;
			border-top: 1px solid $hrld-black-dark-grey;
		}
		li.team-choice{
			width: 146px;
			margin-left: 20px;
			&:nth-child(odd){
				margin-left: 20px;
			}
			&:nth-child(4n + 1){
				margin-left: 0;
			}
		}

	}
}