#masthead {
    left: inherit;
}
.fixed-bar {
	position: fixed;
	width: 100%;
	height: 42px;
	top: 0;
    left: inherit;
	background: rgba(239,244,246,1);
	border-bottom: 1px solid $hrld-dark-grey-border;
	z-index: 9999;
	.nav-control {
        width: 42px;
        height: 100%;
        text-align: center;
        display: inline-block;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        border-right: 1px solid $hrld-dark-grey-border;
        &:hover{
            cursor: pointer;
            &:before {
                border-color: $hrld-dark-grey-hover;
            }
        } 
        &:before {
            content: "";
            position: absolute;
            top: 16px;
            left: 12px;
            width: 18px;
            height: 10px;
            border-top: 3px solid $hrld-dark-grey;
            border-bottom: 3px solid $hrld-dark-grey;
        }
    }
    .bar-logo {
        height: 43px;
        width: 160px;
        background: $hrld-blue;
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        font-family: $headline;
        font-size: 18px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
        left: 42px;
        z-index: 999;
        &:after, &:before {
            content: ' ';
            height: 0;
            position: absolute;
            width: 0;
            border: solid transparent;
            border-width: 10px 80px 0 80px;
        }
        &:before {
            border-top-color: $hrld-blue;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
    .nav-category {
    	display: none;
    }
    .title {
    	display: none;
    }
	.progress {
	    height: 2px;
	    overflow: hidden;
	    background: transparent;
	    width: 100%;
	    position: absolute;
	    bottom: -3px;
	    .progress-bar {
	        float: left;
	        height: 100%;
	        background: $hrld-blue;
	        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	    }
	}
}

.inner-masthead {
	display: none;
    position: relative;
}

@media (min-width: 760px) {

    /** _masthead.scss overrides */
    .inner-masthead {
    	display: block;
    	width: 100%;
        margin-top: 54px;
        @include clearfix();
        .advertise-plug,.tagline,.social-buttons, a#logo {
            display: none;
        }
    }
    #ad-leaderboard {
        margin: 0 auto;
        margin-bottom: 18px;
    }
}

@media (min-width: 1160px) {
    .fixed-bar {
        .bar-content {
            position: relative;
        }
        .bar-logo {
            width: 140px;
            position: relative;
            left: auto;
            font-size: 16px;
            margin-left: 0;
            float: left;
            &:after, &:before {
                border-width: 8px 70px 0 70px;
            }
            &:before {
                bottom: -8px;
            }
        }
        .nav-category {
        	display: block;
	        float: left;
	        height: 30px;
	        line-height: 30px;
	        margin-top: 6px;
	        color: $hrld-dark-grey;
	        font-family: $headline;
	        text-transform: uppercase;
	        font-weight: bold;
	        font-size: 16px;
	        padding: 0 20px;
	        border-right: 1px solid $hrld-dark-grey-border;
        }
        .title {
	        display: block;
	        float: left;
	        height: 100%;
	        font-size: 18px;
	        line-height: 42px;
	        color: $hrld-black;
	        font-family: $headline;
	        font-weight: bold;
	        padding-left: 20px;
	        .byline {
	            color: $hrld-dark-grey;
	            i {
	                font-weight: normal;
	                font-size: 16px;
	            }
	        }
	    }
    }
    .inner-masthead {
	    a#logo {
	        display: block;
	        width: 140px;
	        position: relative;
            float: left;
	        z-index: 9999;
	        background: $hrld-light-grey;
	        margin-right: 20px;
	        padding-bottom: 6px;
            top: -54px;
	    }
	    .tagline {
            display: block;
            width: 120px;
            font-family: $headline;
            color: $hrld-dark-grey;
            height: 90px;
            margin-bottom: 18px;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            float: left;
            padding-top: 24px;
            .since {
                padding-left:6px;
                text-transform: none;
                color: $hrld-dark-grey-hover;
            }
        }
        #ad-leaderboard {
        	margin-bottom: 18px;
        	text-align: center;
            float: right;
            padding-top: 24px;
        }
        .social-buttons {
            display: block;
            position: absolute;
            bottom: 66px;
            left: 160px;
            .twitter,.facebook {
                float: left;
                margin-right:10px;
            }
        }
        .advertise-plug {
            display: block;
            float: right;
            position: absolute;
            bottom: 66px;
            font-family: $headline;
            text-transform: uppercase;
            color: $hrld-dark-grey;
            right: 0;
            &:hover {
                color: $hrld-dark-grey-hover;
            }
        }
    }    
}

@media (min-width: 1320px) {
    .inner-masthead {
        .tagline {
            width: 200px;
            .since {
                display: block;
                line-height: 30px;
                text-transform: none;
                color: $hrld-dark-grey-hover;
                padding-left: 0;
            }
        }
    }
}