.nav-bar {
	position: absolute;
	width: flex(300,320);
	margin-left: flex(10,320);
	top:12px;
	background: $hrld-blue;
	.bar-logo {
		height: 42px;
		width: 160px;
		background: url('img/logo/nav-bar-logo.png') no-repeat 10px 14px;
	} .nav-control {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 0;
		top: 0;
		background: $hrld-black;
		text-align: center;
		display: inline-block;
		padding: 12px 6px 0px;
		opacity: 1;
		&:hover{
			opacity: 1;
			cursor: pointer;
		} 
	} .nav-icon{
		background: url(img/icons/nav_icon.png);
		background-image: url(img/icons/nav-icon.svg), none;
		display: inline-block;
		width: 21px;
		height: 20px;
	}
}

a#logo {
	display: none;
}

.nav-container {
	width: 100%;
	background: $hrld-black;
	color: #fff;
	font-family: $headline;
	display: none;
	border-bottom: 12px solid $hrld-light-grey;
	.nav-drop-tagline {
		width: flex(140,300);
		padding: flex(10,300);
		float: left;
		text-align: right;
	}
}

.nav-container.nav-open{
	display: block;
}

ul#main-nav {
	display: block;
	background: $hrld-black;
	list-style: none;
	padding: 0 0 0 flex(10,300);
	margin:10px 0;
	width: flex(120,300);
	float: left;
	border-left: 1px solid $hrld-black-dark-grey;
	li a {
		color: $hrld-light-grey;
		text-transform: uppercase;
		padding: 6px 0px;
		display: block;
		font-size: 16px;
		font-weight: bold;
		border-bottom: 1px solid $hrld-black-dark-grey;
	} li:last-child a {
		border-bottom: none;
	}
}
ul#main-nav #searchform{
	display: none;
}

@media (min-width: 760px) {

	/** _masthead.scss overrides */

	.nav-bar {
		width: flex(740,760);
		margin-left: flex(10,760);
		.nav-control {
			width: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			top: 0;
			background: $hrld-black;
			text-align: center;
			display: inline-block;
			padding: 12px 6px 0px;
			opacity: 1;
			&:hover{
				opacity: 1;
				cursor: pointer;
			} 
		}
	} #inner-masthead {
		.advertise-plug,.inner-mast-tagline,.social-buttons {
			display: none;
		}
	} #ad-leaderboard {
		margin-bottom: 18px;
	} .nav-container {
		max-width: 500px;
		position: absolute;
		right:0;
		border-left: 12px solid $hrld-light-grey;
	}
}

@media (min-width: 1060px) {

	/** _masthead.scss overrides */

	.nav-bar {
		width: 1020px;
		margin-left: 20px;
		top:24px;
		.nav-control {
			display: none;
		}
	}

	a#logo {
		display: block;
		width: 140px;
		position: absolute;
		padding-left:20px;
		top:0px !important;
		z-index: 9999;
		background: $hrld-light-grey;
		padding-right: 20px;
		padding-bottom: 6px;
	}

	.nav-container {
		.nav-drop-tagline {
			display:none;
		}
		display: block;
		border-bottom: none;
		border-left: none;
		width: 860px;
		max-width:none;
		position: absolute;
		top:0;
	}

	#inner-masthead {
		.inner-mast-tagline {
			display: block;
			width: 160px;
			font-family: $headline;
			position: absolute;
			color: $hrld-dark-grey;
			top : 0;
			font-size: 13px;
			line-height: 18px;
			text-transform: uppercase;
			.since {
				padding-left:6px;
				text-transform: none;
				color: $hrld-dark-grey-hover;
			}
		} .social-buttons {
			display: block;
			position: absolute;
			top:105px;
			.twitter,.facebook {
				float: left;
				margin-right:10px;
			}
		} #ad-leaderboard {
			position: absolute;
			right:0px;
			text-align: center;
		} .advertise-plug {
			display: block;
			position: absolute;
			top:111px;
			right:0;
			font-family: $headline;
			text-transform: uppercase;
			color: $hrld-dark-grey;
			&:hover {
				color: $hrld-dark-grey-hover;
			}
		}
	}

	ul#main-nav,ul#mini-nav {
		padding: 0 0 0 0;
		margin: 0px;
		width: 100%;
		float: left;
		border-left: none;
		li a {
			float: left;
			padding: 11px 18px 10px;
			border-left: 1px solid $hrld-black-dark-grey;
			border-bottom: none;
			&:hover{
				background: $hrld-blue;
			}
		} li:last-child a {
			border-bottom: none;
		} li:first-child a {
			border-left: none;
		}
	}
	ul#main-nav li a.search-link{
		display: none;
	}
	ul#main-nav{
		position: relative;
	}
	ul#main-nav #searchform{
		display: block;
		label{
			display: none;
		}
		input{
			height: 42px;
			// line-height: 42px;
			padding: 0 56px 0 20px;
			border: none;
			width: 49px;
			color: #fff;
			border-left: 1px solid #414141;
			background: $hrld-black;
			font-family: $headline;
			text-transform: uppercase;
			font-weight: 700;
			&:focus{
				background: $hrld-blue;
				outline: none;
			}
		}
		::-webkit-input-placeholder {
		   color: #fff;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		:-ms-input-placeholder {  
		   color: #fff;  
		}
		input#searchsubmit {
			display: block;
			width: 38px;
			height: 42px;
			position: absolute;
			right: 0;
			top: 0;
			text-indent: -999em;
			text-align: left;
			margin: 0;
			padding: 0 18px 0 0;
			border: none;
			background: no-repeat 0px 12px url(img/icons/iconmonstr_magnifier_5_icon.png);
			background-image: url(img/icons/iconmonstr-magnifier-5-icon.svg), none;
			background-size: 20px 20px;
			&:hover{
				cursor: pointer;
			}
		}
	}
}

@media (min-width: 1220px) {

	/** _masthead.scss overrides */

	#inner-masthead {
		.inner-mast-tagline {
			width: 200px;
			.since {
				display: block;
				line-height: 30px;
				text-transform: none;
				color: $hrld-dark-grey-hover;
				padding-left: 0;
			}
		}
	}
	.nav-bar {
		width: 1180px;
		margin-left: 20px;
	}

	.nav-container {
		width: 1020px;
	}
	ul#main-nav #searchform input{
		width: 209px;
		text-align: right;
	}

}