.standing-head-block {
    left: inherit;
    margin: 0;
    margin-top: 12px;
}

/* push the header bar below the admin bar. */

.standing-head-block {
	display: none;
    position: relative;
}

@media (min-width: 760px) {

    /** _masthead.scss overrides */
    .standing-head-block {
    	display: block;
        @include clearfix();
        .advertise-plug,.tagline,.social-buttons, a#logo {
            display: none;
        }
    }
    #ad-leaderboard {
        margin: 0 auto;
        margin-bottom: 18px;
    }
 
}

@media (min-width: 1160px) {

    .standing-head-block {
        margin-top: 0;
	    a#logo {
	        display: block;
	        width: 140px;
	        position: relative;
            float: left;
	        z-index: 9999;
	        background: $hrld-light-grey;
	        margin-right: 20px;
	        padding-bottom: 6px;
            top: -54px;
	    }
	    .tagline {
            display: block;
            width: 120px;
            font-family: $headline;
            color: $hrld-dark-grey;
            height: 90px;
            margin-bottom: 18px;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            float: left;
            padding-top: 24px;
            .since {
                padding-left:6px;
                text-transform: none;
                color: $hrld-dark-grey-hover;
            }
        }
        #ad-leaderboard {
        	margin-bottom: 18px;
        	text-align: center;
            float: right;
            padding-top: 24px;
        }
        .social-buttons {
            display: block;
            position: absolute;
            bottom: 66px;
            left: 160px;
            .twitter,.facebook {
                float: left;
                margin-right:10px;
            }
        }
        .advertise-plug {
            display: block;
            float: right;
            position: absolute;
            bottom: 66px;
            font-family: $headline;
            text-transform: uppercase;
            color: $hrld-dark-grey;
            right: 0;
            &:hover {
                color: $hrld-dark-grey-hover;
            }
        }
    }    
}

@media (min-width: 1320px) {
    .inner-masthead {
        .tagline {
            width: 200px;
            .since {
                display: block;
                line-height: 30px;
                text-transform: none;
                color: $hrld-dark-grey-hover;
                padding-left: 0;
            }
        }
    }
}