

/**
 * 1.0 Block Headline styles.
 * ----------------------------------------------------------------------------
 */

.block-headline a {
	color: #fff;
	font-size: 36px;
	line-height:60px;
	display: inline;
	text-transform: none;
	font-style: normal;
	border: 0;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $hrld-black;
	-webkit-box-shadow: -10px 0 0 $hrld-black,10px 0 0 $hrld-black;
	-moz-box-shadow: -10px 0 0 $hrld-black,10px 0 0 $hrld-black;
	box-shadow: -10px 0 0 $hrld-black,10px 0 0 $hrld-black;
}

h1.block-headline a {
	font-size: 36px;
	line-height: 60px;
	padding: 4px 0 2px;
}

h2.block-headline a {
	font-size: 18px;
	line-height: 30px;
	padding: 2px 0 1px;
}

.block-headline {
	margin-left: 10px;
	margin-right: 10px;
}

.block-headline:hover a {
	transition: all 1s ease;
	transition: color 0.25s ease;
	color: $hrld-black;
	background-color: #fff;
	-webkit-box-shadow: -10px 0 0 #fff,10px 0 0 #fff;
	-moz-box-shadow: -10px 0 0 #fff,10px 0 0 #fff;
	box-shadow: -10px 0 0 #fff,10px 0 0 #fff;
}