html {
	height: 100%;
}

/* Page styles refer to general positioning and sizing. */
body {
	width: 100%;
	background: $hrld-light-grey;
    height:100%;
    min-height:100%;
    position: relative;
    overflow-x: hidden;
    @include clearfix();
}


.wrapper {
	margin: 0 auto;
	max-width: 540px;
	width: flex(300,320);
	position: relative;
}

/* Page surrounds everything inside of body */

#page {
	width: 100%; /* This width is based on 320px width of an iPhone screen */
	position: absolute;	/* #page must be relative so that elements in it are positioned relative to it */
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	@include transition(all, 250ms, linear);
	&.pullout-active {
		left: 260px;
		position: fixed;
	}
}

/* Primary contains all content, with a buffer on both sides of it */

#primary {
	position: relative;
	background: $hrld-light-grey;
	width: 100%;
	margin-top: 54px;
}

.dfw-unit {
	display:none;
}

.dfw-mobile, .dfw-all {
	display:block;
}

@media (min-width: 600px) {
	body.admin-bar {
		#pullout, .fixed-bar {
			top: 46px !important;
		}
	}

}

@media (min-width: 760px) {
	body.admin-bar {
		#pullout, .fixed-bar {
			top: 32px !important;
		}
	}
	/** _page.scss overrides */

	/* Wrapper */
	.wrapper {
		max-width: 740px;
	}
	#primary {
		margin-top: 0;
	}
	#page {
		&.pullout-active {
			left: 681px;
		}
	}

	.dfw-tablet {
		display:block;
	}
	.dfw-mobile:not(.dfw-tablet):not(.dfw-all) {
		display: none;
	}

}

@include breakpoint(desktop) {

	#primary {
		padding: 0;
	}

	.wrapper {
		max-width: 1020px;

	}

	.dfw-desktop {
		display:block;
	}
	.dfw-mobile:not(.dfw-desktop):not(.dfw-all), .dfw-tablet:not(.dfw-desktop):not(.dfw-all) {
		display: none;
	}

}

@include breakpoint(xl) {

	.wrapper {
		max-width: 1180px;
	}

	.dfw-xl {
		display:block;
	}
	.dfw-mobile:not(.dfw-xl):not(.dfw-all), .dfw-tablet:not(.dfw-xl):not(.dfw-all), .dfw-desktop:not(.dfw-xl):not(.dfw-all)  {
		display: none;
	}

} 



