/* Categories */
.category-bar {
	font-family: $headline;
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	margin: 0 0 6px 0;
	clear:both;
	// width: 100%;
	li {
		float: left;
		margin-right:10px;
		a.section-link {
			color : $heraldblack;
		}
		a.beat-link {
			color : $heraldblue;
		}
		&.edit-link-right {
			float: right;
			margin-right: 0;
			a.post-edit-link {
				color : $heralddarkgrey;
				float: right;
			}
		}
	}
	&:after {
    	content: " ";
    	display: block;
    	height: 0;
    	clear: both;
    	overflow: hidden;
    	visibility: hidden;
	}
}

#post-sidebar {
	width: flex(300,860);
	padding-right: flex(20,860);
	float:left;
	.meta-time {
		text-align: right;
		display: block;
		margin:0 0 12px 0;
	}
	.meta-author {
		margin: 0 0 24px 0;
		.meta-author-left {
			width: flex(220,300);
			margin-right: flex(20,300);
			float : left;
			text-align: right;
			.meta-author-link {
				font-family: $headline;
				color: $heraldblack;
				text-transform: uppercase;
				font-size: em(18);
			}
			.meta-author-role {
				font-size: em(13);
			}
		}
		.meta-author-right {
			width: flex(60,300);
			float: left;
			.meta-author-avatar {
				width:100%;
				border-radius: 3px;
				overflow: hidden;
				display: block;
				img {
					width:100%;
					height: auto;
				}
			}
		}
	}

}

.social { 
	width: flex(220,300);
	margin-left: flex(80,300);
	ul {
	list-style: none;
	padding: 0;
	font-family: $headline;
	position: relative;
	margin-top: 0;
		li {
			font-family: $caption;
			text-transform: uppercase;
			font-size: em(13,16);
			a {
				position: absolute;

				left: flex(120,220);
			}
			padding-bottom: 6px;
			padding-top: 6px;
			border-bottom: 2px solid $heraldlightgrey;
			a {
				color: $heraldblack;
			}
			a:hover {
				color: $heraldblue;
			}
			&:first-child {
				border-top: 2px solid $heraldlightgrey;
			}
		}
	}
}

.post-sidebar-headlines {
	width: flex(220,300);
	margin-left: flex(80,300);
	h3 {
		border-bottom: 2px solid $heraldlightgrey;
		padding-bottom: 12px;
		margin-bottom: 0;
	}
	ul {
	list-style: none;
	padding: 0;
	font-family: $headline;
	font-size: em(18,16);
	margin-top: 0;
		li {
			padding-bottom: 6px;
			padding-top: 6px;
			border-bottom: 2px solid $heraldlightgrey;
			a {
				color: $heraldblack;
			}
			a:hover {
				color: $heraldblue;
			}
		}
	}
}

#content {
	float:left;
	width: flex(540,860);
	position: relative;

	.article-content {
		p:first-child {
			font-size: em(17);
		}
	padding-top: 18px !important;

	}
	blockquote {
		margin: 0;
		padding: 20px;
		background:$heraldlightgrey;
	}
		.alignright {
			float:right; 
			margin:0 0 1em 1em
		}
		.alignleft {
			float:left; 
			margin:0 1em 1em 0
		}
		.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a .alignright {float:right; margin:0 0 1em 1em}
		a .alignleft {float:left; margin:0 1em 1em 0}
		a .aligncenter {display: block; margin-left: auto; margin-right: auto}

		.wp-caption {
			padding-top: 12px;
		}
}

.article-content {

}

.wp-caption-text {
	font-family: $caption;
	font-size: em(14,16);
	font-color: $heralddarkgrey;

}

.wp-caption {
	max-width: 100% !important;
}

img.size-full, img.size-large {
	max-width: 100% !important;
	height: auto;
}

img.size-medium {
	max-width: flex(220,540) !important;
	height: auto;
}

.entry-img-featured {
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.entry-post-featured {
	margin-bottom: 24px;
}

.entry-post-featured-credit {
	
	position: absolute;
	bottom:0px;

	span {
		position: relative;
		top: 4px;
		padding: 6px 20px 0px;
		font-family: $caption;
		color: #fff;
		font-size: flex(10,16);
		background: $heraldblack;
		text-transform: uppercase;		
	}
	&.entry-post-featured-credit-no-caption span {
		padding: 6px 20px 6px;
		top: -2px;
	}

}
.entry-post-featured-caption {
	font-family: $caption;
	color : #b6b6b6;
	background: $heraldblack;
	padding: 9px 20px 12px;
	margin: 0;
	font-size: em(13,16);
}

.related-posts-list-style {
	header {
		margin-bottom: 12px !important;
	}
	.related-posts {
		overflow: auto;

	}
	.related-post {
		float: none;
		display: block;
		width:100%;
		border-right : none;
		padding:0px;
		padding-bottom: 6px;
		padding-top : 6px;
		margin-bottom: 0px;
		border-bottom: 2px solid $heraldlightgrey !important;

	}
}

.related-posts-in-article {
	width: flex(200,540);
	float: right;
	margin-left: flex(20,540);
	img.thumbnail {
		max-width: flex(120,200);
		float:none;
		margin-bottom: 12px;
	}
}