.post-sidebar {
		display: none;
		float: left;
		width: 300px;
		position: absolute;
		.post-sidebar-scroll{
			width: 300px;
		}
		.post-sidebar-scroll.fixed-sidebar{
			margin-top: 12px;
		}
		.meta-author {
			font-family: $headline;
			color: $hrld-dark-grey;
			a {
				color: $hrld-dark-grey;
				font-weight: 700;
				&:hover{
					color: $hrld-dark-grey-hover;
				}
			} a.meta-author-avatar img {
				width:140px;
				height:auto;
				float: left;
				margin-right: 20px;
				margin-bottom: 18px;
			} span {
				display: block;
				line-height: 18px;
			} span.author-position, span.author {
				margin-bottom: 12px;
			}
		}
	}
.post-sidebar.author-sidebar{
	display: block;
	width: 100%;
	.meta-author{
		h1{
			margin-bottom: 12px;
			color: $hrld-black;
			font-size: 24px;
		}
		span.author-position{
			margin-bottom: 6px;
		}
		span{
			margin-bottom: 6px;
		}
	}
}

.post-meta {
	color: $hrld-dark-grey;
	font-family: $headline;
	.meta-author-avatar {
		img {
			width: 60px;
			height: auto;
		}
	}
	.meta-author a {
		text-transform: uppercase;
		color: $hrld-dark-grey;
		font-weight: 700;
		&:hover {
			color: $hrld-dark-grey-hover;
		}
	}
}

.mobile-post-meta {
	padding: 6px 0 0px;
	.meta-author-avatar {
		float: left;
		margin-right: 10px;
	}
}

h1.entry-title {
	line-height: 33px;
} h2.entry-excerpt {
	font-weight: 400;
	font-size: 20px;
	line-height: 21px;
	margin-top: 6px;
	margin-bottom: 12px;
}

.entry-img-featured {
	margin-top: 12px;
	img {
		width: 100%;
		height: auto;
	}
}
.entry-attachment{
	margin-top: 24px;
}
span.hrld-media-credit-name a{
	color: $hrld-black;
	&:hover{
		color: $hrld-blue;
	}
}
span.hrld-media-credit-org{
	color: $hrld-dark-grey;
}
.entry-post-featured {
	font-family: $headline;
	position: relative;
	color: $hrld-dark-grey;
}
.entry-img-featured {
	position: relative;
}
.entry-post-featured-credit{
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	font-family: $headline;
	background: #000;
	display: inline;
	position: absolute;
	bottom: 6px;
	padding: 6px 10px;
	right:0;
	span.hrld-media-credit-name a {
		color: $hrld-light-grey;
		&:hover {
			color : $hrld-dark-grey;
		}
	}
}
.article-content {
	width: 100%;
	p {
		margin: 6px 0 12px;
	}
	position: relative;
	h3,h4 {
		font-family: $headline;
	} h3 {
		font-size: 21px;
	} h4 {
		font-size: 16px;
	}
	img {
		height: auto;
		vertical-align: middle;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
	} .wp-caption {
		width: 100% !important;
		font-size: 14px;
		line-height: 18px;
		color: $hrld-dark-grey;
		margin: 12px 0 6px;
		
		dd {
			margin-left:0;
		} img {
			margin-bottom: 6px;
		}
		p, dd { 
			margin: 6px 0;
			&:last-child {
				margin-bottom: 0;
			}
		} * {
			font-family: $headline !important;
		} .wp-caption-text {
			max-width:700px;
		}
	}

	/* ------ Youtube ------- */
	.video-container {
		width: 100%; height:360px;
	    position: relative; 
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	    margin-bottom: 12px;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 300px; width: 100%; 
	    height: 100%; 
	}
	blockquote {
		background: #fff;
		margin:0;
		padding: 12px 20px;
	}

	/** ---------------------------------------- * 
	 *
	 * Swipe styling.
	 *
	 * @see https://github.com/bradbirdsall/Swipe
	 *
	 */
	.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.swipe-wrap > div {
	  float:left;
	  width:100%;
	  position: relative;
	}

	/* ----------------- /end swipe styling/ --- */

	#slider {
		width: 100%;
		background: $hrld-black;
		color: $hrld-light-grey;
		margin-bottom: 12px;
		font-family: $headline;
		a {
			color: #fff;
		}
		.slider-content {
			float: left;
			text-align: left;
			font-weight: 300;
			font-size: 16px;
			background: rgba(0,0,0,.65);
			width: 100%;
			position: absolute;
			font-family: $headline;
			bottom: 0;
			z-index: 100;
			p {
				margin: 6px 0;
				margin-bottom: 3px;
				font-family: $headline;
			}
			.hrld-media-credit {
				font-size: 14px;
				padding: 3px 20px;
				float: right;
			}
		}
		img {
			height: auto;
		}
		h2,p,ul {
			padding: 0px 20px;
		}
		h2 {
			margin-top: 12px;
		}
		.slide{
			text-align: center;
			background: $hrld-black;
		}
		.slide-image {
			position: relative;
			.entry-post-featured-credit {
				bottom: 0;
			}
		}

		.slider-related-title {
			font-weight: 700;
			font-family: $headline;
			margin-top: 18px;
			margin-bottom:6px;

			/* not until iPad */
			display: none;
		}
		ul.slider-related {
			font-family: $headline;
			list-style: none;
			margin:0;

			/* not until iPad */
			display: none;

			li {
				line-height: 18px;
				margin-bottom: 6px;
				a {
					color: $hrld-dark-grey;
					font-weight: bold;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.swipe-slide-nav-page {
			width: 40%;
			height: 100%;
			background: transparent;
			opacity: 0;
			position: absolute;
			top: 0;
			z-index: 50;
			-webkit-transition: all 250ms ease-out;
		    -moz-transition: all 250ms ease-out;
		    -o-transition: all 250ms ease-out;
		    transition: all 250ms ease-out;
			&:after {
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 10px solid transparent;
				top: 50%;
				top: calc(50% - 20px);
			}
			&.prev {
				left: 0;
				&:after {
					border-right-color: #fff;
					left: 10px;
				}
			}
			&.next {
				right: 0;
				&:after {
					border-left-color: #fff;
					right: 10px;
				}
			}
			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
		div.slider-nav-container{
			width: 100%;
			overflow: hidden;
			position: relative;
			margin-top: 6px;
			.slider-nav-page {
				width: 30px;
				height: 100%;
				position: absolute;
				background: $hrld-black;
				opacity: .5;
				color: #fff;
				top: 0;
				&:after {
					content: ' ';
					height: 0;
					position: absolute;
					width: 0;
					border: 10px solid transparent;
					top: 50%;
					top: calc(50% - 6px);
				}
				&.prev {
					left: 0;
					&:after {
						border-right-color: #fff;
						right: 12px;
					}
				}
				&.next {
					right: 0;
					&:after {
						border-left-color: #fff;
						left: 12px;
					}
				}
				&:hover {
					opacity: .8;
					cursor: pointer;
				}
			}
		}
		ul.slider-nav {
			list-style: none;
			position: relative;
			left: 0;
			margin: 0;
			padding:0;
			-webkit-transition: all 600ms ease-out;
		    -moz-transition: all 600ms ease-out;
		    -o-transition: all 600ms ease-out;
		    transition: all 600ms ease-out;
			li {
				display: block;
				width: flex(73,300);
				//margin-left: flex(1,300);
				//margin-right: flex(1, 300);
				padding-bottom: 12px;
				background: #2b2b2b;
				float: left;
				height: auto;
				box-sizing: border-box;
				border-left: 3px solid $hrld-black;
				border-right: 3px solid $hrld-black;
				&.active {
					background: $hrld-blue;
				}
				span {
					display: none;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.bottom-inhouse {
	display: none;
}


@media (min-width: 760px) {

	.mobile-post-meta {
		padding: 12px 0 0 0;
	}
	.article-content {
		width: 100%;
		img {
			min-width: inherit;
			&.size-large {
				width: 100%;
			}
			&.size-medium {
				width: 380px;	
			}
		} .wp-caption {
			position: relative; 
			width: 100% !important;
			float: left;
			font-size: 16px;
			line-height: 24px;
			padding-top: 0px;
			margin: 12px 0 24px;
			.video-container {
				float: left;
				clear: right;
			} img {
				margin-right: 20px;
				float: left;
				clear: right;
				margin-top: 0px;
			}
			* {
				font-family: $headline !important;
			}
		}
		.wp-caption:after {
			content: " ";
			clear:both;
		}
		/* ------ Youtube ------- */
		.video-container {
			width: flex(540,860);
			margin: 0px 20px 18px 0px;
			padding-bottom: 36%;
		}
		#slider {
			margin-bottom: 18px;
			position: relative;
			img {
			} .slider-content {
			} .slider-related-title {
				display: block;
			} ul.slider-related {
				display: block;
			} ul.slider-nav {
				position: relative;
				overflow-y: hidden;
				overflow-x: auto;
				li {
					width: flex(150, 760);
					//margin-right: flex(1, 760);
					//margin-left: flex(1, 760);
					float: left;
					height: auto;
					img {
						width: 100%;
						max-width: 100%;
						float: none;
					}
				}
			}
		}

	} .article-content {
		font-size: 16.5px;
		line-height: 27px;
		p {
			margin: 12px 0 18px;
		}
	}

} 
.best-articles{
	display: block;
	h2{
		color: red;
	}
	article{
		border-left: 5px solid red;
		padding-left: 3px;
	}
}
h4.article-signature {
	/* no styling */
}

ul.edboard-members {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding-bottom: 12px;
		font-family: $headline;
		a {
			color: $hrld-black;
			&:hover {
				color: $hrld-blue;
			}
		}
		img {
			max-width: 40px;
			padding-right: 10px;
			height: auto;
		}
	}
}

.sharebar {
	font-family: $headline;
	height: 29px;
	line-height: 21px;
	margin: 24px 0;
	.sharetag {
		font-weight: bold;
		color: $hrld-dark-grey;
		text-transform: uppercase;
		float: left;
		padding-top: 3px;
		display: block;
	}
	.sharebarurl {
		display: none;
		margin-left: 10px;
		-webkit-appearance:none;
		float: left;
		box-shadow: none !important;
		background: #fff;
		border-style: solid !important;
		border-color: #e0eaee !important;
		padding: 2px 5px;
		width: 100px;
		text-align: center;
		border-radius: 2px;
		border-width: 1px;
		font-size: 13px;
		&:focus {
			outline: 0;
		}
	}
	.sharebartwitter {
		float: left;
		padding-left: 10px;
		margin-top: 1px;
		.twitter-share-button {
			vertical-align: bottom !important;
		}
	}
	.sharebarfb {
		float: left;
		margin-top: 1px;
		padding-left: 10px;
	}


}


@media (min-width: 760px) {
	.sharebarurl {
		display: inline-block !important;
	}
	.bottom-inhouse {
		margin: 18px 0;
	}
	.ad.ad-in-content.mobile-tablet {
		display: none;
	}
	.badger-like-inhouse {
		display: block !important;
		position: relative;
		width: 100%;
		height: 250px;
		background: url('img/inhouses/strut/badger-background.png') no-repeat;
		background-position: -150px 0;
		color: #fff;
		.badger-like-inhouse-content {
			position: absolute;
			left:310px;
			top:36px;
		}
		h2 {
			font-size: 40px;
			text-transform: uppercase;
		}
		h3 {
			font-size: 14px;		
			background: #000;	
			width: 400px;
			margin-top: 18px;
			font-style: italic;
			padding: 12px;
			margin-bottom: 0;
		}
		.like-box {
			background: #fff;
			display: block;
			width: 320px;
			padding: 12px;
			transform: scale(1.1);
			-ms-transform: scale(1.1); 
			-webkit-transform: scale(1.1); 
			-o-transform: scale(1.1); 
			-moz-transform: scale(1.1); 
			transform-origin: top left;
			-ms-transform-origin: top left;
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-webkit-transform-origin: top left;
		}
	}
}

@media (min-width: 1160px) {
	.post-sidebar.author-sidebar{
		width: 300px;
		position: absolute !important;
	}
	.post-sidebar.author-sidebar .sidebar-inner{
		width: 300px;
	}
	.post-sidebar {
		display: block;
	}

	.article-content {
		#slider {
			margin-bottom: 18px;
			float: left; 
			.slider-content {
			}
			ul.slider-nav {
			}
		}
	}

	.article-post {
		float: left;
		width: 700px;
		margin-left: 320px;
		h1.entry-title {
			margin: 12px 0px 18px 0;
			font-size: 44px;
			line-height: 42px;
		} h2 {
			margin-top: 18px;
		}
	}

	.mobile-post-meta {
		display: none;
	}

	.badger-like-inhouse {
		background-position: -100px 0;
		.badger-like-inhouse-content {
			left:380px;
			top:36px;
		}
		h3 {
			width: auto;
		}
		.like-box {
						transform: scale(1.35);
			-ms-transform: scale(1.35); 
			-webkit-transform: scale(1.35); 
			-o-transform: scale(1.35); 
			-moz-transform: scale(1.35); 
		}
	}

}


@media (min-width: 1320px) {
	.post-sidebar.author-sidebar, .post-sidebar.author-sidebar .sidebar-inner{
		width: 380px;
	}
	.article-post {
		width: 860px;
	}
	.article-content {
		#slider {
			ul.slider-related {
				li,h4 {
					display: inline;
				}
				li:before {
					content: "|";
					padding: 0 4px;
				} li:first-child:before {
					content: "";
					padding:0;
				}
			}
		} .slider-content {
			width: 100%;
		}
	}

	.badger-like-inhouse {
		background-position: 0px 0;
		.badger-like-inhouse-content {
			left:480px;
		}
		h3 {
			width: auto;
		}
	}

}











/* Categories 
//.category-bar {
//	font-family: $headline;
//	text-transform: uppercase;
//	list-style-type: none;
//	padding: 0;
//	margin: 0 0 6px 0;
//	clear:both;
//	li {
//		float: left;
//		margin-right:10px;
//		a.section-link {
//			color : $heraldblack;
//		}
//		a.beat-link {
//			color : $heraldblue;
//		}
//		&.edit-link-right {
//			float: right;
//			margin-right: 0;
//			a.post-edit-link {
//				color : $heralddarkgrey;
//				float: right;
//			}
//		}
//	}
//	&:after {
//		content: " ";
//		display: block;
//		height: 0;
//		clear: both;
//		overflow: hidden;
//		visibility: hidden;
//	}
//} */
/*
//#post-sidebar {
//	width: 100%;
//	float:left;
//	.meta-time {
//		display: block;
//		margin:0 0 12px 0;
//	}
//	.meta-author {
//		float: left;
//		width: 60%;
//		.meta-author-left {
//			margin-right: flex(20,300);
//			float : left;
//			.meta-author-link {
//				font-family: $headline;
//				color: $heraldblack;
//				text-transform: uppercase;
//				font-size: em(18);
//			}
//			.meta-author-role {
//				font-size: em(13);
//			}
//		}
//		.meta-author-right {
//			width: flex(60,300);
//			float: left;
//			.meta-author-avatar {
//				width:100%;
//				border-radius: 3px;
//				overflow: hidden;
//				display: block;
//				img {
//					width:100%;
//					height: auto;
//				}
//			}
//		}
//	}
//	#hrld-post-sidebar-ad{
//		display: none;
//	}
//}
//*/ /*
//.social { 
//	width: 100%;
//	margin-left: 5%;
//	float: left;
//	ul {
//	list-style: none;
//	padding: 0;
//	font-family: $headline;
//	position: relative;
//	margin: 0;
//		li {
//			font-family: $caption;
//			text-transform: uppercase;
//			font-size: em(13,16);
//			padding-bottom: 6px;
//			padding-top: 6px;
//			display: inline-block;
//			float: left;
//			width: 33%;
//			a {
//				color: $heraldblack;
//				&:hover {
//					color: $heraldblue;
//				}
//			}
//			> span{
//				font-size: em(12,16);
//			}
//		}
//	}
//} */
///*
//.post-sidebar-headlines {
//	display: none;
//	width: flex(220,300);
//	margin-left: flex(80,300);
//	h3 {
//		border-bottom: 2px solid $heraldlightgrey;
//		padding-bottom: 12px;
//		margin-bottom: 0;
//	}
//	ul {
//	list-style: none;
//	padding: 0;
//	font-family: $headline;
//	font-size: em(18,16);
//	margin-top: 0;
//		li {
//			padding-bottom: 6px;
//			padding-top: 6px;
//			border-bottom: 2px solid $heraldlightgrey;
//			a {
//				color: $heraldblack;
//			}
//			a:hover {
//				color: $heraldblue;
//			}
//		}
//	}
//} */
//
//
///* Various styling within the content */
///*
//#content {
//	float:left;
//	width: 100%;
//	position: relative;
//}
//
//.article-content {
//	padding-top: 6px !important;
//	p:first-child {
//		font-size: em(17);
//	}	
//	blockquote {
//		margin: 0;
//		padding: 20px;
//		background:$heraldlightgrey;
//	}
//}*/
//
//
///* Images within posts and captions */
//
//.article-content {
//
//	position: relative;
//	/* Nothing around the image */
//
//	img {
//		height: auto !important;
//		&.alignleft {
//			float:left;
//			padding: 0 0 flex(20,540) flex(10,540);
//		}	
//		/* Align */
//		&.alignright {
//			float:right;
//			padding: 0px 0 18px 0;
//			padding-left: 20px;
//		}
//		&.alignleft {
//			float:left;
//			padding: 0 0 18px 0;
//			padding-right:20px;
//		}
//		&.aligncenter, &.alignnone {
//			float:none;
//		}
//		/* Size */
//		&.size-medium {
//			width: flex(220,540) !important;
//		}
//		&.size-full {
//			width: 100%;
//			float: none;
//			padding: 0 0 18px 0;
//		}
//	}
//
//	.media-credit-container {
//		height: auto !important;
//		font-family: $caption;
//		.media-credit {
//			color: $heraldblack;
//			font-size: em(12,16);
//			text-transform: uppercase;
//			text-align: left;
//			margin: 0;
//			line-height: 21px;
//		}
//		p {
//			font-family: $caption;
//			color: #999;
//			font-size: em(13,16);
//			line-height: 18px;
//			margin:0;
//		}
//		.media-credit-container {
//			max-width: 100% !important;
//			width: 100% !important;
//		}
//		img {
//			max-width: 100% !important;
//			width: 100% !important;
//		}
//		&.alignleft {
//			float:left;
//			padding: 0 0 flex(20,540) flex(10,540);
//		}	
//		/* Align */
//		&.alignright {
//			float:right;
//			width: flex(220,540) !important;
//			padding: 0px 0 6px 0;
//			padding-left: 20px;
//		}
//		&.alignleft {
//			float:left;
//			width: flex(220,540) !important;
//			padding: 0 0 6px 0;
//			padding-right:20px;
//		}
//		&.aligncenter, &.alignnone {
//			float:none;
//		}
//		/* Size */
//		&.size-medium {
//			width: flex(220,540) !important;
//		}
//		&.size-full {
//			width: 100%;
//			float: none;
//			padding: 0 0 18px 0;
//		}
//	}
//
//	.wp-caption {
//		height: auto !important;
//		font-family: $caption;
//		.media-credit {
//			color: $heraldblack;
//			font-size: em(12,16);
//			text-transform: uppercase;
//			text-align: left;
//			margin: 0;
//			line-height: 21px;
//		}
//		p {
//			font-family: $caption;
//			color: #999;
//			font-size: em(13,16);
//			line-height: 18px;
//			margin:0;
//		}
//		.media-credit-container {
//			max-width: 100% !important;
//			width: 100% !important;
//			padding:0 !important;
//			margin:0 !important;
//		}
//		img {
//			max-width: 100% !important;
//			width: 100% !important;
//		}
//		&.alignleft {
//			float:left;
//			padding: 0 0 flex(20,540) flex(10,540);
//		}	
//		/* Align */
//		&.alignright {
//			float:right;
//			width: flex(220,540) !important;
//			padding: 0px 0 6px 0;
//			padding-left: 20px;
//		}
//		&.alignleft {
//			float:left;
//			width: flex(220,540) !important;
//			padding: 0 0 6px 0;
//			padding-right:20px;
//		}
//		&.aligncenter, &.alignnone {
//			float:none;
//		}
//		/* Size */
//		&.size-medium {
//			width: flex(220,540) !important;
//		}
//		&.size-full {
//			width: 100%;
//			float: none;
//			padding: 0 0 18px 0;
//		}
//	}
//
//}
//
//.entry-img-featured {
//	position: relative;
//	img {
//		width: 100%;
//		height: auto;
//		display: block;
//	}
//}
//
//.entry-post-featured {
//	margin-bottom: 24px;
//}
//
//.entry-post-featured-credit {
//	
//	position: absolute;
//	bottom:0px;
//
//	span {
//		position: relative;
//		top: 4px;
//		padding: 6px 20px 0px;
//		font-family: $caption;
//		color: #fff;
//		font-size: flex(10,16);
//		background: $heraldblack;
//		text-transform: uppercase;		
//	}
//	&.entry-post-featured-credit-no-caption span {
//		padding: 6px 20px 6px;
//		top: -2px;
//	}
//
//}
//.entry-post-featured-caption {
//	font-family: $caption;
//	color : #b6b6b6;
//	background: $heraldblack;
//	padding: 9px 20px 12px;
//	margin: 0;
//	font-size: em(13,16);
//}
//
//.related-posts-list-style {
//	header {
//		margin-bottom: 12px !important;
//	}
//	.related-posts {
//		overflow: auto;
//
//	}
//	.related-post {
//		float: none;
//		display: block;
//		width:100%;
//		border-right : none;
//		padding:0px;
//		padding-bottom: 6px;
//		padding-top : 6px;
//		margin-bottom: 0px;
//		border-bottom: 2px solid $heraldlightgrey !important;
//	}
//}
//
//.related-posts-in-article {
//	display: none;
//	width: flex(200,540);
//	float: right;
//	margin-left: flex(20,540);
//	img.thumbnail {
//		max-width: flex(120,200);
//		float:none;
//		margin-bottom: 12px;
//	}
//}
//
//.letter-to-editor-disclaimer {
//	background: #fff7c9;
//	padding: 18px 20px;
//	font-family: $caption;
//	font-size: em(13);
//}