#pullout {
    height: 100%;
    width: 260px;
    background: #fff;
    color: $hrld-black;
    position: fixed;
    top: 0;
    left: -260px;
    padding: 0;
    margin: 0;
    z-index: 9999;
    @include transition(all, 250ms, ease-in-out);
    &.active {
        left: 0;
    }
}

#searchform{
    display: block;
    position: relative;
    height: 42px;
    border-bottom: 1px solid $hrld-dark-grey-border;
    border-right: 1px solid $hrld-dark-grey-border;
    label{
        display: none;
    }
    input{
        height: 42px;
        padding: 0 20px 0 56px;
        box-sizing: border-box;
        width: 100%;
        border: none;
        background: transparent;
        font-family: $headline;
        color: $hrld-black;
        &:focus{
            outline: none;
        }
    }
    input#searchsubmit {
        display: block;
        width: 0;
        height: 0;
        text-indent: -999em;
        margin: 0;
        padding: 0;
        border: none;
    }
    .search-icon {
        display: block;
        position: absolute;
        left: 20px;
        width: 20px;
        top: 0;
        height: 100%;
        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            margin: -8px 0 0;
            background: #fff;
        }
        &:before {
            width: 12px;
            height: 12px;
            border: 3px solid #fff;
            background: transparent;
            @include border-radius(12px);
        }
        &:after {
            left: 10px;
            width: 3px;
            height: 7px;
            margin-top: 0;
            @include rotate(-45);
        }
    }
}
.nav-list {
    width: 100%;
    border-right: solid 1px $hrld-dark-grey-border;
    padding-top: 12px;
    color: $hrld-black;
    font-family: $headline;
    display: block;
    float: left;
    height: calc(100% - 42px);
    ul#main-nav {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        li.popular-posts {
            display: none;
        }
        li {
            a {
                color: $hrld-black;
                padding: 12px 20px;
                display: block;
                font-size: 16px;
                width: 100%;
                font-weight: bold;
                position: relative;
            }
            &.active a, &:hover a {
                color: $hrld-blue;
                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    right: -2px;
                    border-right: 2px solid $hrld-blue;
                    width: 0;
                    top: 0;
                }
            }
            &.no-stream:hover a {
                &:before, &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    background: $hrld-blue;
                }
                &:before {
                    right: 5px;
                    width: 8px;
                    height: 8px;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    border-color: $hrld-blue;
                    margin-top: -4px;
                    background: transparent;
                    @include rotate(-45);
                }
                &:after {
                    right: 6px;
                    width: 10px;
                    height: 2px;
                    margin-top: -1px;
                    background: $hrld-blue;
                }
            }
        }
    }
}
.nav-stream-container {
    display: none;
}
/*
.exit-nav-open {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(239,244,246);
    opacity: .4;
    z-index: 9998;
    &:hover {
        cursor: pointer;
    }
}
*/


@media (min-width: 1160px) {
    #pullout {
        width: 681px;
        left: -681px;
        border-right: 1px solid $hrld-dark-grey-border;
    }
    #searchform {
        border-right: none;
    }

    .nav-list {
        width: 180px;
    }
    .nav-stream-container {
        display: block;
        width: 500px;
        float: left;
        height: calc(100% - 42px);
        color: $hrld-black;
        padding: 12px 20px;
        overflow: auto;
    }
    .nav-stream {
        display: none;
        height: 100%;
        &.active {
            display: block;
        }
    }
    .block-featured {
        @include clearfix();
        color: #fff;
        margin: 12px 0;
        position: relative;
        .entry-thumbnail {
            width: 100%;
            margin-bottom: 0;
        }
        .entry-header {
            position: absolute;
            width: 100%;
            bottom: 24px;
            margin: 0;
            padding: 10px 12px;
            .topic {
                color: #fff;
                display: inline;
                padding: 2px 3px;
                background: $hrld-blue;
                font-family: $headline;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 12px;
                &:after {
                    content: "\A";
                    white-space: pre-line;
                }
            }
            .entry-title {
                display: inline;
                font-family: $headline;
                background: #000;
                padding: 2px 3px;
                line-height: 32px;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    .block-thumb {
        @include clearfix();
        color: $hrld-black;
        margin: 12px 0;
        .entry-thumbnail {
            float: left;
        }
        .entry-header {
            float: left;
            display: block;
            margin-right: 0;
            .topic {
                color: #fff;
                display: block;
                float: left;
                clear: right;
                padding: 2px 3px;
                background: $hrld-blue;
                font-family: $headline;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 12px;
            }
            .entry-title {
                color: $hrld-black;
                display: block;
                font-family: $headline;
                font-weight: bold;
                font-size: 18px;
                float: left;
                clear: left;
            }
        }
    }
}