

@media (min-width: 1060px) {
	#masthead{
		width: $fifteenColumns;
		margin: 0 auto;
		background: none;
	}
	#masthead #logo{
		width: $twoColumns;
		height: auto;
		color: $heraldblack;
		position: relative;
		float: left;
		img{
			position: relative;
		}
	}
		
	.wrapper{
		width: 980px;
	}
	#primary{
		width: 890px;
		margin-left: 90px;
	}
	.nav-control{
		display: none;
	}
	#masthead nav{
		position: relative;
		float: left;
		margin-top: 24px;
		margin-left: $gutter;
	}
	#main-nav{
		width: $thirteenColumns;
		left: auto;
		top: auto;
		right: 0;
		height: 42px;
		overflow: visible;
		position: relative;
		&.nav-open{
			top: auto;
			border: none;
		}
	}
	#main-nav li{
		display: inline-block;
		float: left;
		&:first-child a{
			border-left: 1px solid $heralddarkgrey;
		}
	}
	#main-nav li a{
		display: inline-block;
		border-bottom: none;
		border-right: 1px solid $heralddarkgrey;
		padding: 0px 20px;
		width: auto;
		height: 42px;
		line-height: 42px;
		font-size: 1em;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
	}
	
	.search-button label {
		display: block;
		width: 20px;
		height: 42px;
		float: right;
		text-indent: -999em;
		border-right: 1px solid $heralddarkgrey;
		margin: 0;
		padding: 0 20px;
		background: no-repeat 20px 12px url(img/icons/iconmonstr_magnifier_5_icon.png);
		background-image: url(img/icons/iconmonstr-magnifier-5-icon.svg), none;
		background-size: 20px 20px;
		opacity: .7;
		&:hover{
			opacity: 1;
			cursor: pointer;
		}
	}
	.search-button input{
		height: 42px;
		line-height: 42px;
		padding: 0 0 0 20px;
		width: 139px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
	}
}
@media (max-width: 1219px) {

	#masthead {
		//width: flex(160,980);
	}

	#page {
		//width: flex(820,980);
		//margin-left: flex(160,960);
	}

	#primary {
		//width: flex(780,820);
	}
	#stream {
		//width: flex(460,780);
	}
	#sidebar {
		//width: flex(300,780);
	}
	

	.stream-post.instream-stream-post {

	.entry-thumbnail {
		width: flex(220,460);
		float: left;
		padding-top: 12px;
		padding-right:	20px;
	}

	.entry-summary {
		float:			left;
		width: 			flex(220,540);
		&.entry-summary-full {
			width: 100%;
		}
	}
}


}

@media (max-width:1060px) {
	#masthead {
		//position: absolute;
	}
} 