@media (min-width: 480px) {
	#nav{
		width: 300px;
	}
	#post-sidebar{
		.meta-author{
			width: 40%;
		}
	}
	.social{
		width: 58%;
		margin-left: 2%;
	}
}
@media (min-width: 768px) {
	#stream{
		width: flex(460,780);
	}
	#sidebar{
		width: flex(280,780);
		padding-left: flex(40,780);
		display: block;
	}
	.post-sidebar-headlines{
		display: block;
	}
	#content{
		width: flex(500,780);
	}
	.related-posts-in-article{
		display: block;
	}
	#post-sidebar{
		width: flex(260,780);
		padding-right: flex(20,780);
		.meta-time {
			text-align: right;
		}
		.meta-author{
			float: none;
			margin: 0 0 24px 0;
			width: auto;
			.meta-author-left {
				width: flex(220,300);
				text-align: right;
			}
		}
		#div-gpt-ad-1379013535352-5{
			display: block;
		}
	}
	.social{
		float: none;
		width: flex(240,300);
		margin-left: flex(60,300);
		margin-bottom: 1em;
		ul{
			li{
				border-bottom: 2px solid $heraldlightgrey;
				display: block;
				float: none;
				width: auto;
				&:first-child {
					border-top: 2px solid $heraldlightgrey;
				}
				a{
					position: absolute;
					left: flex(130,220);
				}
				> span{
					display: inline;
					font-size: inherit;
				}
			}
		}
	}
}

@media (min-width: 1026px) {
	#masthead{
		margin-bottom: 18px;
	}
	.wrapper{
		width: 980px;
	}
	#primary{
		width: 890px;
		margin-left: 90px;
	}
	.nav-control{
		display: none;
	}
	#nav{
		width: auto;
		left: auto;
		top: auto;
		right: 0;
		height: 52px;
		overflow: visible;
		&.nav-open{
			top: auto;
			border: none;
		}
	}
	#nav li{
		display: inline-block;
		float: left;
		&:first-child a{
			border-left: 1px solid $heralddarkgrey;
		}
	}
	#nav li a{
		display: inline-block;
		border-bottom: none;
		border-right: 1px solid $heralddarkgrey;
		padding: 0px 10px;
		width: auto;
		height: 52px;
		line-height: 64px;
		font-size: .85em;
	}
	
	.search-button label {
		display: block;
		width: 32px;
		height: 52px;
		text-indent: -999em;
		border-right: 1px solid $heralddarkgrey;
		margin: 0;
		padding: 0 10px;
		background: no-repeat 50% 22px url(img/icons/iconmonstr-magnifier-5-icon.svg);
		background-size: 20px 20px;
		opacity: .7;
		&:hover{
			opacity: 1;
			cursor: pointer;
		}
	}
	.search-button input{
		display: none;
	}
	.search-button input.search-open{
		display: block;
		position: absolute;
		bottom: -37px;
		right: 0;
		width: 182px;
		height: 24px;
		border: 1px solid $heralddarkgrey;
		background: $heraldlightgrey;
		color: $heralddarkgrey;
		cursor: auto;
	}
}
@media (max-width: 1219px) {

	#masthead {
		//width: flex(160,980);
	}

	#page {
		//width: flex(820,980);
		//margin-left: flex(160,960);
	}

	#primary {
		//width: flex(780,820);
	}
	#stream {
		//width: flex(460,780);
	}
	#sidebar {
		//width: flex(300,780);
	}
	

	.stream-post.instream-stream-post {

	.entry-thumbnail {
		width: flex(220,460);
		float: left;
		padding-top: 12px;
		padding-right:	20px;
	}

	.entry-summary {
		float:			left;
		width: 			flex(220,540);
		&.entry-summary-full {
			width: 100%;
		}
	}
}


}

@media (max-width:1060px) {
	#masthead {
		//position: absolute;
	}
}