.sidebar-posts {
	margin: 0px 0 0 0 ;
	padding: 0;
	position: relative;
	list-style-type: none;
	li.post-in-sidebar {
		border-bottom: 1px solid $heraldlightgreyonwhite;
		border-top: 1px solid $heraldlightgreyonwhite;
		margin-top:-1px;
		width: flex(210,300);
		padding:12px flex(5,300);
		a.post-permalink {
			color: $heraldblack;
			&:hover {
				color: $heraldblue;
			}
		}
	}
}

.sidebar-posts {
	.entry-thumbnail {
		// width:flex(80,210);
		margin: 0;
		padding: 0;
	}
}

.most-recent-headline {
	text-transform: uppercase;
	margin-bottom: 6px;
	margin-top: 12px;
	padding-left: 3px;
//  TODO: Figure out a font size;
	font-size : em(40,32);
}

.sidebar-fixed {
	.sidebar-inner {
		position:fixed;
		top:0;
		overflow:scroll;
	}
	position:relative;
	height:100%;
}