#sidebar {
	position: relative;
}

.sidebar-posts {
	margin: 0px 0 0 0 ;
	padding: 0;
	position: relative;
	list-style-type: none;
	li.post-in-sidebar {
		border-bottom: 1px solid $heraldlightgreyonwhite;
		border-top: 1px solid $heraldlightgreyonwhite;
		margin-top:-1px;
		width: flex(210,300);
		padding:12px flex(5,300);
		a.post-permalink {
			color: $heraldblack;
			&:hover {
				color: $heraldblue;
			}
			&.trending-story {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

.sidebar-posts {
	.entry-thumbnail {
		// width:flex(80,210);
		margin: 0;
		padding: 0;
	}
}

.most-recent-headline {
	text-transform: uppercase;
	padding-bottom: 6px;
	padding-top: 12px;
	padding-left: 3px;
	z-index: 100;
	display: block;
	width: flex(210,300);
	background: #fff;
//  TODO: Figure out a font size;
	position: absolute;
	font-size : em(40,32);
	border-bottom: 2px solid $heraldlightgreyonwhite;
}

.sidebar-scroll {
	position: relative;
	top:48px;
}



.sidebar-fixed {
	.sidebar-inner {
		top:0;
		height:100%;
		overflow:scroll;
		.sidebar-scroll {
			
		}
		position:fixed;
	}
	position:relative;

	.most-recent-headline {
		position: fixed;
		
	}
}