#sidebar {
	position: relative;
	min-height: 600px;
	.sidebar-inner {
		margin-top:24px;
	}

	fieldset {
		margin: -24px 0 25px 0;

		legend, label {
			text-transform: uppercase;
			font-family: $headline;
		}

		label {
			margin-top: 25px;
		}

		ul, ol {
			list-style-type: none;
		}

		input {
			margin-bottom: 5px;
		}
	}
}

.sidebar-posts {
	margin: 0px 0 0 0 ;
	padding: 0;
	position: relative;
	list-style-type: none;
	li.post-in-sidebar {
		border-bottom: 1px solid $heraldlightgreyonwhite;
		border-top: 1px solid $heraldlightgreyonwhite;
		margin-top:-1px;
		width: flex(210,300);
		padding:12px flex(5,300);
		a.post-permalink {
			color: $heraldblack;
			&:hover {
				color: $heraldblue;
			}
			&.trending-story {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

.sidebar-posts {
	.entry-thumbnail {
		// width:flex(80,210);
		margin: 0;
		padding: 0;
	}
}

.most-recent-headline {
	text-transform: uppercase;
	padding-bottom: 6px;
	padding-top: 12px;
	padding-left: 3px;
	z-index: 100;
	display: block;
	width: flex(210,300);
	background: #fff;
//  TODO: Figure out a font size;
	position: absolute;
	font-size : em(40,32);
	border-bottom: 2px solid $heraldlightgreyonwhite;
}
.categories-headline{
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 12px;
	color: $hrld-black;
	font-size: 18px;
}
.categories-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		padding: 0;
		margin: 0;
		a{
			color: $hrld-dark-grey;
			font-size: 14px;
			font-family: $headline;
			text-transform: uppercase;
			display: block;
			padding: 9px 0;
			border-bottom: 1px solid $hrld-dark-grey;
			&:hover{
				color: $hrld-dark-grey-hover;
			}
		}
		&:first-child a{
			border-top: 1px solid $hrld-dark-grey;
		}
	}
}
a.to-categories{
	display: block;
	color: $hrld-dark-grey;
	font-family: $headline;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 18px;
	font-size: 18px;
	&:hover{
		color: $hrld-dark-grey-hover;
		text-decoration: underline;
	}
}
.sidebar-scroll {
	position: relative;
	//top:48px;
}
.sidebar-fixed {
	.sidebar-inner {
		top:0;
		height:100%;
		overflow:scroll;
		.sidebar-scroll {
			
		}
		position:fixed;
	}
	position:relative;

	.most-recent-headline {
		position: fixed;
		
	}
}

article.endless-flow{
	width: 90%;
	.entry-thumbnail{
		max-width: 200px;
		float: left;
		img{
			float: left;
		}
	}
	.entry-summary{
		p{
			font-size: 80%;
		}
	}
	

}

@media (min-width: 480px) {
	.categories-list{
		li{
			a{
				float: left;
				width: flex(240, 506);
			}
			&:nth-child(odd) a{
				margin-right: flex(20,506);
			}
			&:nth-child(2) a{
				border-top: 1px $hrld-dark-grey solid;
			}
		}
	}
}

@media (min-width: 760px) {
	.stream-sidebar #ad-leaderboard{
		float: left;
		margin-right: flex(20, 760);		
	}
	.categories-headline{
		float: left;
		width: flex(400,760);
	}
	.categories-list{
		float: left;
		width: flex(400,760);
	}
}

@media (min-width: 1060px) {
	.stream-sidebar #ad-leaderboard{
		float: none;
		margin-right: 0;		
	}
	.categories-headline{
		float: none;
		width: auto;
	}
	.categories-list{
		float: none;
		width: auto;
	}
	a.to-categories{
		display: none;
	}
	.fixed-sidebar{
		position: fixed !important;
		top: 78px;
	}
}

@media (min-width: 1220px) {
}