/* Thumbnail image */

.entry-thumbnail {
	margin: 0 0 18px 0;
	img {
		width: 100%;
		height: auto;
	}
}

/* exerpt-more */
.excerpt-more {
	background: url('img/icons/arrow-right-blue.png') no-repeat center right;
	padding-right:14px;
}

.stream-post {
	margin-bottom: 0px;
	margin-top: 18px;
	.tiny-avatar {
		border-radius: 2px;
		overflow: hidden;
		position: absolute;
		margin-top: 1px;
	}
	.tiny-avatar img {
		width: 20px;
		height: 20px;

	}
	.category-bar {
		// padding-left : 32px;
	}

	h1,h2 {
		color: $heralddarkgrey;
		font-weight: normal;
		a:hover {
			color: $heraldblue;
		}
	}
}

.stream-post.instream-stream-post {

	.entry-thumbnail {
		width: flex(140,540);
		float: left;
		padding-top: 18px;
		margin-top:3px;
		margin-bottom: 12px;
		padding-right:	20px;
	}

	.entry-summary {
		float:			left;
		width: 			flex(380,540);
		&.entry-summary-full {
			width: 100%;
		}
	}

}


/* META DATA

.meta-author a {
	font-family: $headline;
	color: $heraldblack;
	text-transform: uppercase;
	font-size: em(14,16);
	line-height: em(14,21);
}  */

/* Author thumbnail 

.tiny-avatar {
	border-radius: 2px;
	overflow: hidden;
	float:left;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	img {
		width: 18px;
		height: 18px;
	}
}*/