/* twitter box */

.twitter-box {
	background: $heraldlightgrey;
	padding: 12px 20px;
}

/* Thumbnail image */

.entry-thumbnail {
	margin-bottom: 18px;
	img {
		width: 100%;
		height: auto;
	}
}

/* exerpt-more */
.excerpt-more {
	color: $heraldblue;
	background: url('img/icons/arrow-right-blue.png') no-repeat 14px center;
	padding-right:16px;
	font-family: $body;
}
.all-link.pagination-link{
	border-top: none;
}
.stream-post {
	color : $heraldblack;
	margin-top: 24px;
	font-family: $headline;
	.topic {
		text-transform: uppercase;
		color: $hrld-dark-grey;
		font-size: 14px;
	}
	.tiny-avatar {
		border-radius: 2px;
		overflow: hidden;
		position: absolute;
		margin-top: 1px;
	}
	.tiny-avatar img {
		width: 20px;
		height: 20px;

	}
	.category-bar {
		// padding-left : 32px;
	}

	h1,h2 {
		color: $hrld-black;
		font-size: 20px;
		display: inline;
		a:hover {
			color: $heraldblue;
		}
	}
	.summary-time-stamp {
		font-family: $headline;
		margin-right: 2px;
		color: $hrld-dark-grey;
	}
}
.fullstream-post, .featured-stream-post, .featured-fullstream-post{
	h1, h2{
		font-size: 24px;
	}
}
.stream-post.instream-stream-post {

	.entry-thumbnail {
		//float: left;
		//margin-top:3px;
		margin-bottom: 12px;
		img{
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.entry-summary {
		float: left;
		width: flex(380,540);
		&.entry-summary-full {
			width: 100%;
		}
	}
}
.stream-post.fullstream-post{
	.related-header, .related-header h3, .related-post-articles{
		display: inline;
	}
	.related-post-articles li{
		display: inline;
		&:before{
			content: "|";
			padding: 0 4px;
		}
	}
}
.stream-post.featured-fullstream-post{
	margin-top: 24px;
}
.summary-post-link {
	color: $heraldblack;
	display: block;
}

.summary-post-link:hover {
	color: #000;
	h2 {
		//border-bottom: 1px solid $heraldblack;
		text-decoration: underline;
	}
	.excerpt-more {
		background: url('img/icons/arrow-right-blue.png') no-repeat 16px center;
	}
	.entry-thumbnail img{
		border-color: $hrld-blue;
	}
	
}
@media (min-width: 760px) {
	.stream-post.featured-fullstream-post{
		.entry-thumbnail{
			width: flex(380,760);
			float: left;
			margin-right: flex(20,760);
		}
	}
	.stream-post.fullstream-post{
		.entry-thumbnail{
			width: flex(220,760);
			float: left;
			margin-right: flex(20,760);
			height: 100%;
		}
		.entry-header{
			margin-bottom: 6px;
		}
		.entry-summary.entry-summary-full, .hp-feature-related-posts{
			float: left;
			width: flex(520,760);
		}
		.entry-summary.entry-summary-full.stream-no-thumbnail, .hp-feature-related-posts.stream-no-thumbnail{
			width: 100%;
		}
	}
}

@media (min-width: 1160px) {
	.stream-post{
		margin-bottom: 12px;
	}
	#stream{
		width: 700px;
		float: left;
		margin-right: 20px;
	}
	#stream.author-stream{
		margin-left: 320px;
		margin-right: 0;
	}
	.stream-sidebar{
		width: 300px;
		float: left;
	}
	#section-header .section-banner{
		height: 174px;
	}
	.stream-post.featured-fullstream-post{
		width: auto;
		.entry-thumbnail{
			width: 380px;
			margin-right: 20px;
		}
	}
	.stream-post.fullstream-post{
		.entry-thumbnail{
			width: 220px;
			margin-right: 20px;
		}
		.entry-summary.entry-summary-full, .hp-feature-related-posts{
			width: 460px;
		}
	}
}

@media (min-width: 1320px) {
	#stream{
		width: 780px;
	}
	#stream.author-stream{
		margin-left: 380px;
	}
	.stream-sidebar, .stream-sidebar .sidebar-inner{
		width: 380px;
	}
	.stream-post.instream-stream-post {
		.entry-thumbnail {
			float: left;
		}
	}
	.stream-post.featured-fullstream-post{
		.entry-thumbnail{
			width: 460px;
		}
	}
	.stream-post.fullstream-post{
		.entry-summary.entry-summary-full, .hp-feature-related-posts{
			width: 540px;
		}
	}
}