.student-choice-content .entry-content {
	margin-top: 100px;
	p.tagline {
		font-size: 20px;
		width: 500px;
		font-family: $headline;
		text-align: center;
		left: 50%;
		right: 50%;
		margin-left: -250px;
		margin-bottom: 30px;
		position: relative;
	}
	.student-choice-email {
		background: $hrld-black;
		padding: 20px 0px;
		margin-bottom: 48px;
	}
}

.student-choice-content {
	margin-bottom: 0;
}

.header-sca-2014 .student-herald-logo{
	background: url('./img/student-choice/2014/student-choice-logo.png');
	width: 140px;
	height:196px;
	display: block;
	margin:0 auto;
	margin-top:30px;
}

.student-choice-content.black #primary {
	background: $hrld-black;
	margin-top: 0;
}

.student-logo {
	position: absolute;
	margin: 0 auto;
	width: 343px;
	left: 50%;
	right: 50%;
	margin-left: -171px;
	top:-40px;
}

.page-container-fixed-inside {
	position: relative;
}

.header-sca-2014 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url('./img/student-choice/2014/background.png') center top;
}

.quiz-container {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	ul.answer-list{
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
		li{
			margin: 0;
			display: table-cell;
			vertical-align: top; 
		}
	}
	.answer-box{
		border: 1px solid $hrld-dark-grey;
		border-top: none;
	}
	.question-title{
		padding: 0;
		margin: 0;
		line-height: 0;
	}
	.quiz-question{
		margin-bottom: 54px;
	}
	span.answer-checkmark{
		display: none;
		font-weight: 700;
		font-size: 28px;
		font-family: $caption;
		position: absolute;
		bottom: 0px;
		left: 0;
		&.checkmark-selected{
			display: inline-block;
		}
	}
	span.answer-description{
		display: inline;
		font-family: $headline;
		font-weight: 700;
		font-size: 16px;
		max-width: 180px;
	}
	input[type=radio]{
		display: none;
		margin: 10px;
	}
	input[type=radio] + label{
		display: inline-block;
		opacity: 0.6;
		text-align: left;
		max-width: 180px;
		padding: 10px;
		&:hover{
			cursor: pointer;
			background: $hrld-dark-grey;
		}
	}
	li.inactive input[type=radio] + label{
		opacity: 1; 
	}
	input[type=radio]:checked + label{
		opacity: 1;
		background: #ae1023;
		color: $hrld-light-grey;
	}
	input.email-input{
		border: 2px solid $hrld-dark-grey;;
		height: 50px;
		border-radius: 5px;
		padding: 0 10px;
		margin: 12px auto;
		max-width: 600px;
		width: 90%;
	}
	.email-input-label{
		font-family: $headline;
		color: #fff;
		padding-bottom: 6px;
		display: block;
		font-size: 20px;
	}
	.quiz-submit{
		background: $hrld-blue;
		margin-top: 24px;
		display: block;
		text-align: center;
		height: 50px;
		padding: 0 10px;
		line-height: 50px;
		color: $hrld-light-grey;
		font-family: $headline;
		text-transform: uppercase;
		font-weight: 700;
		border: none;
		margin: 0 auto;
		margin-bottom: 6px;
		margin-top: 6px;
		width: 200px;
		letter-spacing: 2px;
		&:focus{
			outline: 0;
		}
		&:hover{
			background-color: $hrld-blue-hover;
		}
	}
	
}

.quiz-success-wrap{
	text-align: center;
	max-width: 620px;
	margin: 0 auto;
	color: $hrld-blue;
	padding: 72px 10px;
	background: $hrld-black;
	border: 1px solid $hrld-dark-grey;
	margin-bottom: 24px;
}

.quiz-success{
	font-size: 40px;
	font-weight: 700;
	font-family: $headline;
	padding: 24px 0;
	padding-top: 0;
	text-transform: uppercase;
	margin: 0;	
}
p.email-err{
	font-family: $headline;
	font-weight: bold;
	color: red;
	font-size: 20px;
}

.social-plug{
	p{
		padding: 24px 0;
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		font-family: $body;
		color: $hrld-dark-grey;
		margin: 0;
	}
	.social-buttons{
		width: 320px;
		margin: 0 auto;
	}
	.twitter, .facebook{
		float: left;
	}
	.twitter{
		margin-right: 10px;
	}
	.facebook iframe{
		transform: scale(1.4);
		-ms-transform: scale(1.4); 
		-webkit-transform: scale(1.4); 
		-o-transform: scale(1.4); 
		-moz-transform: scale(1.4); 
		transform-origin: top left;
		-ms-transform-origin: top left;
		-webkit-transform-origin: top left;
		-moz-transform-origin: top left;
		-webkit-transform-origin: top left;
	}
}
@media (min-width: 760px) {
	.quiz-container{
		ul.answer-list{
			li{
				margin-right: 0;
				&:nth-child(3n+1){
					margin-left: 0;
				}
			}
		}
	}

	.student-choice-content {
		#primary {
			width: 600px;
			margin: 0 auto;
			margin-top: 300px;
		}
 	}
}