.quiz-container{
	max-width: 640px;
	text-align: center;
	margin: 0 auto;
	ul.answer-list{
		list-style-type: none;
		margin: 0 auto;
		margin-bottom: 12px;
		padding: 0;
		display: table;
		border-collapse: separate;
		border-spacing: 10px 0;
		li{
			margin: 6px 10px;
			display: table-cell;
			vertical-align: top; 
		}
	}
	.answer-box{
		padding: 9px;
		border: 1px solid $hrld-dark-grey;
	}
	span.answer-checkmark{
		display: none;
		font-weight: 700;
		font-size: 28px;
		font-family: $caption;
		position: absolute;
		bottom: 0px;
		left: 0;
		&.checkmark-selected{
			display: inline-block;
		}
	}
	span.description-wrap{
		max-width: 180px;
		display: inline-block;
	}
	span.checkmark-wrap{
		border: 1px solid $hrld-dark-grey;
		padding: 0;
		margin-right: 10px;
		margin-top: 6px;
		position: relative;
		width: 18px;
		height: 18px;
		display: inline-block;
	}
	span.answer-description{
		display: inline;
		font-family: $headline;
		font-weight: 700;
		font-size: 16px;
	}
	input[type=radio]{
		display: none;
		margin: 10px;
	}
	input[type=radio] + label{
		display: inline-block;
		opacity: 0.6;
		text-align: left;
		max-width: 180px;
	}
	li.inactive input[type=radio] + label{
		opacity: 1; 
	}
	input[type=radio]:checked + label{
		opacity: 1;
	}
	input.email-input{
		border: 2px solid $hrld-dark-grey;;
		height: 50px;
		border-radius: 5px;
		padding: 0 10px;
		margin: 12px auto;
		max-width: 600px;
		width: 90%;
	}
	.quiz-submit{
		background: $hrld-black;
		display: block;
		text-align: center;
		height: 50px;
		padding: 0 10px;
		line-height: 50px;
		color: $hrld-light-grey;
		font-family: $headline;
		text-transform: uppercase;
		font-weight: 700;
		border: none;
		margin: 0 auto;
		margin-bottom: 24px;
		width: 200px;
		letter-spacing: 2px;
		&:focus{
			outline: 0;
		}
		&:hover{
			background-color: $hrld-blue;
		}
	}
	
}
.quiz-success-wrap{
	text-align: center;
	max-width: 620px;
	margin: 0 auto;
	color: $hrld-blue;
	padding: 72px 10px;
	background: $hrld-black;
	border: 1px solid $hrld-dark-grey;
	margin-bottom: 24px;
}
.quiz-success{
	font-size: 40px;
	font-weight: 700;
	font-family: $headline;
	padding: 24px 0;
	padding-top: 0;
	text-transform: uppercase;
	margin: 0;	
}
.social-plug{
	p{
		padding: 24px 0;
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		font-family: $body;
		color: $hrld-dark-grey;
		margin: 0;
	}
	.social-buttons{
		width: 250px;
		margin: 0 auto;
	}
	.twitter, .facebook{
		float: left;
	}
	.twitter{
		margin-right: 10px;
	}
}
.quiz_shadow {
	-moz-box-shadow: 1px 1px 0 $hrld-dark-grey;
	-webkit-box-shadow: 1px 1px 0 $hrld-dark-grey;
	box-shadow: 1px 1px 0 $hrld-dark-grey;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#a6b5bd')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#a6b5bd');
}
@media (min-width: 760px) {
	.quiz-container{
		ul.answer-list{
			li{
				margin-right: 0;
				&:nth-child(3n+1){
					margin-left: 0;
				}
			}
		}
	}
}