

//true colors
$trueblack: #000;
$truewhite: #fff;
$trueblue: #0000ff;
$truered: #ff0000;
$truegreen:  #00ff00;
$debug: rgba(0,0,0,.1);

//blues
$blue: #3c74b9;
$blueLinkHover: #3a97f7;
$darkblue: #195ea6;
$supportBlue: #55acee;
$blueHover: #54606f;
$blackHover: #54606f;

//borders:
$borderGrey: #c7d0d5;// #828b90;



//greys
$grey: #eff4f6;
$greyBorder: #c7d0d5;
$greyText: #93a2aa;
$greyTextHover: #626d72;
$greyBorderOnBlack: #262626;
$greyTextOnBlack: #5c5c5c;
$lightgrey: #f5f2f2;
$lightgreyOnWhite: #ededed;
$darkgrey: #2c2c2c;
$darkgreyBorder: #e0eaee;
$darkgreyHover: #7e8c93;

$black: #191919;
$white: #ffffff;
$red: #c81212;