.aside-pane {
	position: absolute;
	left:0px;
	display: block;	
}

.aside-pane-slim {
	width: 380px;
}

.aside-pane-wide {
	width: 540px;
}

.aside-author {
	padding: 24px 0px;
	background: $truewhite;
	color : $black;
	p {
		border-top: 1px solid $darkgrey;
		margin:0;
		a {
			padding: 12px 20px;
			color : $black;
			display: block;
			font-family: $body;
			font-weight: 700;
			font-style: italic;
			
			&:hover {
				color: $blue;
			}
		}
	}
	h3 {
		text-transform: uppercase;
		text-align: center;
	}
	.round-mug {
		position: absolute;
		left : 150px;
		top : -54px;
	}
}

.comments-pane {
	padding: 24px 20px;
	margin-right: -80px;
	background: $truewhite;
	color : $black;
	display: none;
	color: $trueblack;
	background:$truewhite;
	}