/**
 * Breaking News Container
 * ---------------------------------------------------------
 * php: ./inc/containers/breaking-news.php
 * since: 0.4
 * -----------------------------------------------------------------------------
 */


.container.breaking-news {
  
	a.link {
		display:block;
		text-decoration:none;
		color:$white;
		background:$red;
		font-family:$headline;  
		padding-top:12px;
		padding-bottom:12px;
		padding-left:20px;
		font-weight:bold;
		.breaking-tag {
			padding-right:12px;
			position:relative;
			color: $white;
			text-transform:uppercase;
			font-weight:normal;
		}
		.updated {
			opacity:.8;
		}
		&:hover{
			background:#a10e0e;
		}
	}
}

@include breakpoint("tablet") {
	.container.breaking-news {
		/* tablet and up style */
		
	}
}

@include breakpoint("desktop") {
	.container.breaking-news {
		/* desktop and up style */
		.updated {
			padding-top:12px;
			padding-bottom:12px;
			padding-left:20px;
			width:200px;
			display:block;
			color:$white;
			text-align:right;
			position:absolute;
			right:20px;
			top:0;
		}
	}
}

@include breakpoint("xl") {
	.container.breaking-news {
		/* xl desktop and up style */
	}   
}