.container.colophon {
	background: $black;
	margin-bottom:0px;
	.wrapper {
		text-align: center;
		padding: 24px 0;
		color: $truewhite;
		&, p {
			font-family: $headline;
			color: $greyBorder;
		}
		ul {
			list-style: none;
			margin: 24px 0;
			padding: 0;
			font-size: 18px;
			li a {
				color: #fff;
			}
			li a:hover {
				color: $greyText;
			}
		}
		p {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		p.description {
			margin-top: 42px;
			font-size: 18px;
		}
		.left-rail {
			img.logo {
				width: 180px;
				margin-bottom: 24px;
				height: auto;
			}
		}
		.rail {
			border-bottom: 1px solid $greyBorderOnBlack;
		}
	}
}

@include breakpoint('tablet') {
	.container.colophon-block {
		.wrapper {
			text-align: left;
			.rail {
				float:left;
				border-bottom: none;
				border-left: 1px solid $greyBorderOnBlack;
				&:first-child {
					border-left: none;
				}
			}
			.left-rail {
				width:flex(460,760);
			}
			.middle-rail, .right-rail {
				width: flex(150,760);
			}
			ul {
				margin-top: 0;
				padding-left: 20px;
			}
			.fine-print {
				border-top: 1px solid $greyBorderOnBlack;
			}
		}
	}
}

@include breakpoint('desktop') {
	.container.colophon-block {
		.wrapper {
			.left-rail {
				width:720px;
			}
			.middle-rail, .right-rail {
				width: 150px;
			}
		}
	}
}

@include breakpoint('xl') {
	.container.colophon-block {
		.wrapper {
			.left-rail {
				width:880px;
			}
		}
	}
}