.container.cover-hero {
	margin-top: 0;
	padding: 0;
	background: $black;
	position: relative;
	.hero {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		position: relative;

	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.container.standalone-caption {
	.hero-caption {
		max-width: 400px;
		text-align: right;
		font-family: $headline;
		color: $darkgrey;
		padding-bottom: 12px;
		position: relative;
		.hrld-media-credit {
			display: inline-block;
			line-height: 36px;
		}
		a {
			color: $darkgrey;
			font-weight: bold;
			text-transform: uppercase;
			&:hover {
				color: $black;
			}
		}
		br {
		}
		&:after {
			content: " ";
			border-bottom: 1px solid $darkgrey;
			width: 120px;
			display: block;
			position: absolute;
			right:0;
			bottom:0;
			height: 1px;
		}
	}
}

@include breakpoint("tablet") {
	body.author .container.cover-hero {
		max-height: 400px;
		overflow: hidden;
	}
	.container.standalone-caption {
		.hero-caption {
			max-width: 480px;
			float: right;
			margin-bottom: -36px;
		}
	}

}