.container.cover-hero {
	margin-top: 0;
	padding: 0;
	background: $black;
	position: relative;
	.hero {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		position: relative;

	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	.wrapper {
		display: none;
	}
}

.standalone-caption {
	.hero-caption {
		max-width: 400px;
		text-align: right;
		font-family: $headline;
		color: $darkgrey;
		padding-bottom: 12px;
		position: relative;
		.hrld-media-credit {
			display: inline-block;
			line-height: 36px;
		}
		a {
			color: $darkgrey;
			font-weight: bold;
			text-transform: uppercase;
			&:hover {
				color: $black;
			}
		}
		br {
		}
		&:after {
			content: " ";
			border-bottom: 1px solid $darkgrey;
			width: 120px;
			display: block;
			position: absolute;
			right:0;
			bottom:0;
			height: 1px;
		}
	}
}

@include breakpoint("tablet") {

	.container.cover-hero {
		.wrapper {
			display: block;
			position:static;
			.logo-shadow {
				height: 200px;
				position: absolute;
				width:100%;
				left: 0;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
				background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}
			#logo {
				margin-top: 24px;
				width: 240px;
				position: absolute;
				display: block;
				img {
					width: 100%;
				}
			}
		}
	}

	.container.standalone-caption {
		.hero-caption {
			max-width: 480px;
			float: right;
			margin-bottom: -36px;
		}
	}

}