/**
 * Feature and Widget Container
 * ---------------------------------------------------------
 * php: ./inc/containers/feature-widget.php
 * since: 0.3
 * -----------------------------------------------------------------------------
 */





.container.feature-widget {
	.widget {
		display: none;
	}
	a.story {
		width:100%;
		color: $white;
		img {
			width:100%;
			height:auto;
		}

		.headline a, 
		.headline span {
			color: $truewhite;
			display: inline;
			text-transform: none;
			font-style: normal;
			border: 0;
			font-weight: 700;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility;
			background-color: $black;
			-webkit-box-shadow: -10px 0 0 $black,10px 0 0 $black;
			-moz-box-shadow: -10px 0 0 $black,10px 0 0 $black;
			box-shadow: -10px 0 0 $black,10px 0 0 $black;
			padding: 2px 0 1px;
		}

		.headline {
			margin-left: 10px;
			margin-right: 10px;
			line-height: 24px;
			font-size: 20px;
			margin-bottom: 0;
		}
		
		.headline:hover a,
		a:hover .headline span {
			transition: all 1s ease;
			transition: color 0.25s ease;
			color: $black;
			background-color: $truewhite;
			-webkit-box-shadow: -10px 0 0 $truewhite,10px 0 0 $truewhite;
			-moz-box-shadow: -10px 0 0 $truewhite,10px 0 0 $truewhite;
			box-shadow: -10px 0 0 $truewhite,10px 0 0 $truewhite;
		}

		.byline {
			background:$black;
			display: inline-block;
			padding-right:10px;
			top: -1px;
    		position: relative;
			.mug {
				width: 45px;
				float:left;
				img {
					width: auto;
					height: auto;
					float: left;
				}
			}
			font-family: $headline;
			font-style : italic;
			.author {
				margin-left: 12px;
				position: relative;
				top:3px;
			}
			.author-name {
				text-transform: uppercase;
				font-style: normal;
				font-weight: bold;
				padding-left: 3px;
			}
		}
		.title-container {
			width:flex(290,300);
			position: relative;
			margin-top:-46px;
			z-index: 2;
			div.lede {
				visibility: hidden;	// these two lines are the same
				position: absolute; // as display:none, except transitions work. (note screenreaders pick up on it)
				color: $white;
				font-weight: bold;
				height: 0;
			}
		}
	}
}

@include breakpoint('tablet') {
	.container.feature-widget {
		a.story {
			.title-container {
				position:absolute;
				bottom: 0px;
			}
			h1.headline a, 
			h1.headline span
			 {
				font-size: 50px;
				line-height: 60px;
				padding: 4px 0 2px;
			}

		}
	}
}

@include breakpoint('desktop') {
	.container.feature-widget {
		.feature {
			width: flex(720,1040);
			position: relative;
			float: left;
		}
		.widget {
			display: block;
			width: flex(300,1040);
			background: $white;
			float: left;
			margin-left: flex(20,1040);
			position: relative;
			text-align: center;
			padding-top: 36px;
			display: block;
			padding-bottom: 36px;
			h3.title {
				background: $blue;
				margin:0;
				padding: 3px 10px 3px;
				display: inline-block;
				color: $white;
				font-family: $body;
				text-transform: uppercase;
				font-style: italic;
				margin-bottom: 18px;
				font-weight: bold;
			}
			.thumbnail {
				width: 80px;
				float:left;
				margin-right: 10px;
				display: none;
				img {
					width: 100%;
					height: auto;
				}
			}
			a.most-recent-post {
				color: $black;
				padding: 12px 20px;
				display: block;
				.title {
					font-size: 18px;
					font-weight: bold;
					line-height: 21px;
					font-family: $headline;
					overflow: hidden;
					time {
						font-family: $headline;
						color: $blue;
						font-size: 12px;
						line-height: 18px;
						display: block;
						font-weight: normal;
						text-decoration: none;
						text-transform: uppercase;
					}
				}
				&:hover {
					.title {
						color: $blue;
					}
				}
			}
		}
	}
}

@include breakpoint('xl') {
	.container.feature-widget {
		overflow:hidden;
		.feature {
			width: flex(860,1180);
		}
		.widget {
			width: flex(300,1180);
			margin-left: flex(20,1180);
		}
	}
}