/**
 * Header Container
 * ---------------------------------------------------------
 * php: ./inc/containers/header.php
 * since: 0.3
 * -----------------------------------------------------------------------------
 */

.container.header {
	padding-top: 0px;
	.wrapper {
		border-top: 5px solid $blue;
		border-bottom: 1px solid $greyBorder;
		padding: 18px 0;
		a img {
		    width:flex(160,300);
		    max-width: 220px;
		    height: auto;
		}
		.social-buttons {
			display: none;
		}
	}
}

@include breakpoint("tablet") {
	.container.header {
		.wrapper {
			a img {
				width: 220px;
			}
			.social-buttons {
				display: block;
                text-align: right;
                position: absolute;
                bottom: 24px;
                width: 300px;
                right: 0;
                h3 {
                    font-size: 13px;
                    font-style: italic;
                    margin-bottom: 6px;
                }
                .twitter {
                    .twitter-follow-button { vertical-align: bottom !important; }
                }
                .facebook {
                    margin-bottom: 5px;
                }
            }
		}
	}
	.container.header.black {
		.wrapper {
			.social-buttons {
				color: $white;
			}
		}
	}
}
@include breakpoint("desktop") {

	.container.header {
		.wrapper {
			a img {
				width: 220px;
			}
		}
	}

}