/**
 * Menu & Search bar
 * ---------------------------------------------------------
 * php: ./inc/containers/menu-search-bar.php
 * since: v0.3
 * -----------------------------------------------------------------------------
 */

 .container.menu-search-bar {
 	padding: 12px 0px;
 	clear: both;
 	z-index: 10;
 	.wrapper {
 		height:30px;
		.search {
		    float: right;
		    position: relative;
		    padding-left: 10px;
		    margin-right: 45px;
		    right: 0;
		    input[type=text] {      // the input field.
		        @include animate;
		        display: block;
		        padding: 7px 12px 5px;
		        outline: none;
		        color: $black;
		        border: none;
		        font-family: $headline;
		        border-left: 2px solid $grey;
		        width:160px;
		        float:right;
		        &:focus {
		            @include animate;   
		            border-left-color: $blue;    
		            width:200px; 
		        }
		    }
		    input[type=submit] {    // the submit field.
		        position: absolute;
		        right: 0px;
		        text-indent: -99999px;
		        width:30px;
		        height:30px;
		        opacity: .5;
		        border: none;
		        background: transparent;
		    }
		    // The search icon is actually the before element.
		    &:before {
		        content: "s";
		        font-family: $icon;
		        padding:4px 8px;
		        position:absolute;
		        right:0;
		        width:30px;
		        height:30px;
		        color: $greyText;
		    }
		    &:hover:before {
		        color: $blue;
		        pointer: cursor;
		    }
		}
		.menu {
			margin: 0; padding:0;
			list-style-type: none;
			color: $black;
			font-family: $headline;
			font-size: 15px; 	
			display: table-cell;
			position:absolute;
			li {
				text-align: left;
				display: none;
				margin:0;
				float:left;
				clear:left;
				width:100%;
				a {
					padding: 8px 90px 6px 9px;
					background: white;
					width:100%;
					display: block;
					color: $black;
					&:hover {
						color: $blue;
					}
				}
			}
			&:hover li {
				display: block;
			}
			&.menu-primary {
				float: left;
				&:before {
					content: "Sections";
					padding: 8px 45px 6px 10px;
					width:100px;
					line-height: 16px;
					background: $white;
					color:$greyText;
					display: table-cell;
					background-image: url('img/svg/downarrow-grey.svg');
					background-repeat: no-repeat;
					background-position: right 9px center;
				}
			}
			&.menu-secondary {
				float: right;
				right: 0;
				li a {
					color: $blue;
					&:hover {
						color: $black;
					}
				}
				&:before {
					content: "m";
					font-family: $icon;
					padding: 8px 10px 6px 10px;
					display: table-cell;
					line-height: 16px;
					background-repeat: no-repeat;
					background-position: right 9px center;
					position:absolute;
					top:0;
					right:0;
					background-color: #fff;
				}
			}
			&.menu-primary {
				
				z-index: 9990;
			}			
		}
 	}
}

.container.menu-search-bar.black {
	.wrapper .menu {
 		li a {
 			color: white;
 			&:hover {
 				color: $grey;
 			}
 		}
	}
}

@include breakpoint("tablet") {
	.container.menu-search-bar {
		.wrapper .menu.menu-primary {
 			background: transparent; // *	
 			display: block; // *
 			margin-left: -10px;
 			li {
 				display: inline; // *
 				clear:none; //*
 				width:inherit; // *
 				a {
 					padding: 7px 10px 6px 10px; //*
 					background: transparent; //*
 					font-weight: bold; //*
 					text-transform: uppercase;
 				}
 			}
 			&:before {
 				display: none;
 			}
 		}
 	}
}

@include breakpoint("desktop") {
	.container.menu-search-bar {
		.wrapper .search {
			margin-right: 0;
		}
		.wrapper .menu.menu-secondary {
 			background: transparent; // *	
 			display: block; // *
 			margin-left: -10px;
 			position: initial;
 			li {
 				display: inline; // *
 				clear:none; //*
 				width:inherit; // *
 				a {
 					padding: 7px 10px 6px 10px; //*
 					background: transparent; //*
 					font-weight: bold; //*
 					text-transform: uppercase;
 				}
 			}
 			&:before {
 				display: none;
 			}
 		}
 	}
}