@mixin socialIcon($char,$color) {
	content: $char;
	background: $color;
}

.container.nameplate {
	.wrapper {
		border-bottom: 5px solid $blue;
		padding-bottom: 12px;
		.logo {
			width: flex(160,300);
			height: auto;
			position: relative;
			display: block;
		}
		a.menus-button { /* the menu icon */
			@include linkColor($blue);
			padding: 12px flex(30,300) 18px flex(20,300);
			font-size: 24px;
			line-height: 24px;
			font-family: $headline;
			position: absolute;
			right: 0;
			bottom: 0;
			margin-top: -54px;
			transition: bottom .2s;
			cursor: pointer;
			margin-right: flex(-5,300);
			&:after {
				content: "d";
				font-size: 12px;
				margin-left: 5px;
				transition: transform .1s;
				font-family: $icon;
				position: absolute;
			}
			&.active:after {
				margin-top: 3px;
				transform: rotate(180deg);
			}
			&.active {
				background: $white;
				bottom: -6px;
			}
		}
		.menus {
			display: none;
			&.active { display: block; }
			padding-top: 36px;
			background: white;
			position: absolute;
			top: 100%;
			margin-left: flex(-5,300);
			width: flex(310,300);
			z-index: 9999;
			.mobile-right {
				float: right;
				width: flex(200,300);
			}
			ul.menu {
				list-style-type: none;
				padding: 0;
				font-family: $headline;
				line-height: 36px;
				font-size: 24px;
				margin: 18px 0;
				& > li ul {
					display: none;
				}
				& > li > a {
					display: block;
					position: relative;
					padding: 0 flex(10,180);
				}
			}
			ul.menu.secondary-menu {
				float: right;
				width: flex(100,300);
				text-align: right;
				font-size: 16px;
				line-height: 29px;
				margin-top: 24px;
				li a {
					@include linkColor($black);
					padding-right: 20px;
				}
			}
			ul.menu.social-menu {
				min-height: 54px;
				li a {
					float: left;
					margin-right: 10px;
					margin-bottom: 12px;
					width: 34px;
					height: 34px;
					& > span { display: none; } // hide the normal text label
					&:before {
						font-family: $icon;
						font-size: 24px;
						line-height: 35px;
						color: $white;
						text-align: center;
						width: 100%;
						display: block;
						width: 34px;
						height: 34px;
						border-radius: 2px;
					}
					&.twitter:before { @include socialIcon("t",#0892E3); }
					&.facebook:before { @include socialIcon("f",#425F9E); }
					&.linkedin:before { @include socialIcon("l",#0078b6); }
					&.instagram:before { @include socialIcon("i",#cd486b); }
				}
				li:last-child a  {
					margin-right: 0;
				}
			}
			form.search {
				width: 100%;
				input[type=text] {
					position: absolute;
					top: 0;
					right: 0;
					margin-top: 9px;
					padding: 3px flex(10,300);
					margin-right: flex(30,300);
					font-family: $headline;
					outline: none;
					border: none;
					width: flex(170,300);
					transition: all .3s;
					&::placeholder {
						color: $black;
					}
					&:focus {
						width: flex(270,300);
						color: $blue;
						&::placeholder {
							color: $greyText;
						}
					}
					font-size: 20px;
				}
				&:after {
					pointer-events: none;
					content: "s";
					font-family: $icon;
					padding: 4px 8px;
					position: absolute;
					top: 9px;
					right: flex(15,300);
					width: 30px;
					height: 30px;
					color: $greyText;
				}
		  		input[type=submit] {    // the submit field.
					display: none;
				}
			}
		}
	}
}

@include breakpoint('tablet') {
	.container.nameplate {
		.wrapper {
			.logo {
				width: flex(220,740);
				z-index: 11;
			}
			a.menus-button { /* the menu icon */
				display: none;
			}
			.menus {
				padding-top: 0px;
				display: block;
				background: transparent;
				top: 0;
				margin-left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				.mobile-right {
					width: auto;
				}
				ul.menu {
					margin: 0;
					& > li {
						float: left;
					}
				}
				ul.menu.secondary-menu {
					float: right;
					width: auto;
					font-size: 14px;
					margin-top: 0px;
					margin-right: 5px;
					li a {
						color: $black;
						padding: 0 8px;
					}
				}
				ul.menu.main-menu {
					position:absolute;
					bottom: 12px;
					left: flex(240,740);
					font-size: 18px;
					margin-left: -7px;
					& > li > a {
						padding: 0 7px;
					}
					& li.menu-item-has-children { /* dropdown items */
						& > a {
							padding-right: 22px;
							&:after {
								content: "d";
								font-size: 12px;
								padding-left: 2px;
								transition: margin .1s;
								font-family: $icon;
								position: absolute;
							}
						}
						&:hover {
							background: white;
							& > a:after {
								margin-top: 3px;
							}
						}
						&:hover > ul {
							a { @include linkColor($black); }
							display: block;
							position: absolute;			
							top: 100%;
							min-width: 200px;
							background: white;
							list-style-type: none;
							padding: 12px;
							font-size: 18px;
						}
					}
				}
				ul.menu.social-menu {
					li a {
						width: 25px;
						height: 25px;
						&:before {
							font-size: 16px;
							line-height: 26px;
							width: 25px;
							height: 25px;
						}
					}
				}
				form.search {
					input[type=text] {
						bottom: 15px;
						top: inherit;
						width: 36px;
						padding: 3px 12px 3px 9px;
						margin-right: 0px;
						&::placeholder {
							color: transparent;
						}
						&:focus {
							width: flex(500,740);
							margin-top: -6px;
							padding: 6px 12px;
							bottom: 12px;
						}
					}
					&:after {
						bottom: 16px;
						right: 3px;
						top: inherit;
					}					
				}
			}
		}
	}
}

@include breakpoint('desktop') {
	.container.nameplate {
		.wrapper {
			.logo {
				width: flex(220,1020);
			}
			.menus {
				ul.menu {
					line-height: 36px;
				}
				ul.menu.secondary-menu {
					font-size: 16px;
					li a {
						color: $black;
						padding: 0 6px;
					}
				}
				ul.menu.main-menu {
					left: flex(240,1020);
					margin-left: -10px;
					font-size: 24px;
					& > li > a {
						padding: 0 10px;
					}
					& li.menu-item-has-children { /* dropdown items */
						& > a {
							padding-right: 26px;
						}
					}
				}
				form.search {
					input[type=text] {
						width: 180px;
						&::placeholder {
							color: black;
						}
						&:focus {
							width: flex(780,1020);
						}
					}
				}
			}
		}
	}
}

@include breakpoint('xl') {
	.container.nameplate {
		.wrapper {
			.logo {
				width: flex(220,1180);
			}
			.menus {
				ul.menu {
					&.main-menu {
						left: flex(240,1180);
					}
				}
				form.search {
					input[type=text] {
						&:focus {
							width: flex(940,1180);
						}
					}
				}
			}
		}
	}
}