.container.preflight {
	/* loaded gets added as a class if/when dfw fills the spot. */
	display: none;
	.scroll-view {
		display: none;
	}
	&.loaded {
		display: block;
	}
	&.decorated {
		background: $truewhite;
		margin-bottom: 32px;
		margin-top: 0px;
		padding: 24px 0;
		text-align:center;
		.preflight-ad .dfw-unit {
			margin: 0 auto;
		}
		.scroll-view {
			margin-top: 12px;
			display: block;
			width:300px;
			margin: 0 auto;
			font-style: italic;
			font-weight: bold;
			margin-top: 12px;
			padding-bottom: 18px;
			&:after {
				content: "v";
				font-family: $icon;
				font-style: normal;
				text-align: center;
				display: block;
			}
		}
	}
}