.block.section-header {
	background: #fff;
	font-family: $headline;
	display: inline-block;
	padding: 24px 20px;
	width: 100%;
	//border-top: 5px solid $blue;
	.author-mug {
		width: 120px;
		border-radius: 2px;
		img {
			width: 100%;
			height: auto;
			margin-bottom: 18px;

		}
	}
	.bottom-divider {
		position: relative;
		display: block;
		margin-bottom: 18px;
		padding-bottom: 18px;
		&:after {
			content: " ";
			position: absolute;
			height: 1px;
			bottom: 1px;
			width: 180px;
			background: $greyBorder;
			left: 0;
		}
	}
	h1 {
		font-size: 33px;
		font-family: $headline;
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		padding-right: 20px;
		line-height: 30px;
		width: 100%;

	}
	p {
		font-size: 16px;
		font-family: $body;
		color: $greyText;
		font-weight: normal;
		font-family: $headline;
		margin: 0;
	}
	h3 {
		margin-top: 0px;
		position: relative;
		color: $blue;
		margin-bottom: 6px;
		text-transform: uppercase;
	}
	a.editor {
		color: $black;
		clear: both;
		margin-top: 6px;
		display: block;
		.mug {
			float: left;
			img {
				width: 60px;
				margin-right: 10px;
				height: auto;
			}
		}
		.name {
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			padding-top: 6px;
			line-height: 12px;
		}
		.position {
			color: $greyText;
			font-size: 14px;
		}
		&:hover {
			.name {
				color: $blue;
			}
			.position {
				color: $greyTextHover;
			}
		}
	}
}

.block.section-footer {
	background: #fff;
	padding: 18px 20px;
	.explainers {
		display: none;
		h4 {
			background: $blue;
			color:#fff;
			display: inline-block;
			padding: 2px 4px;
			font-style: italic;
		}
		ol {
			font-style: italic;
			font-weight: bold;
			color: $blue;
			margin: 0;
			margin-top: -6px;
			padding: 0;
			padding-left: 24px;
			li {
				margin-bottom: 9px;
			}
		}
	}
}

@include breakpoint('desktop') {
	.block.section-footer {
		.explainers {
			display: block;
		}
	}
}
