bh-search-results-page {
  h1 {
    font-family: $body;
    font-style: italic;
  }
  bh-search-form {
    max-width: 800px;
    display: block;
    border-bottom: 1px solid grey;
    padding-bottom: 36px;
    padding-top: 18px;
  }
  bh-search-results {
    display: block;
    max-width: 600px;
  }
}
