exa-search-form {
	form.search {
		width: 100%;
		position: relative;
		input[type=text] {
			width: 100%;
			padding: 12px flex(10,300);
			padding-right: 40px;
			font-family: $headline;
			font-size: 20px;
			outline: none;
			border: 3px solid $grey;
			transition: all .3s;
			border-radius: 3px;
			&:hover {
				cursor: pointer;
			}
			&::placeholder {
				color: $greyText;
				@include breakpoint('desktop') {
					color: transparent;
				}
			}
			&:focus {
				color: $black;
				border: 3px solid $blue;
			}
			&:focus:hover {
				cursor: inherit;
			}
			@include breakpoint('desktop') {
				bottom: -3px;
				float: right;
				width: 36px;
				padding: 6px 20px 6px 20px;
				margin-right: 0px;
				border: none;
				&::placeholder {
					color: transparent;
				}
				&:focus {
					&::placeholder {
						color: $greyText;
					}
					width: 100%;
					border: none;
				}
			}
		}
		&:after {
			pointer-events: none;
			content: "s";
			font-family: $icon;
			padding: 4px 8px;
			position: absolute;
			top: 13px;
			right: gutter(.4);
			width: 30px;
			height: 30px;
			color: $blue;
			transition: all .1s;
			cursor: pointer;
			@include breakpoint('desktop') {
				bottom: 4px;
				right: 7px;
				top: inherit;
				font-size: 18px;
			}
		}
		&:hover::after {
			transform: scale(1.1,1.1); 
			
		}
		input[type=submit] {    // the submit field.
			display: none;
		}
	}
}
