

.caption {
	font-size: 18px;
	line-height: 27px;
	font-weight: normal;
	font-family: $headline;
   color: $greyText;
   &.big {
      font-size: 22px;
      line-height: 27px;
   }
}


bh-grid {
   position: relative;
   display: grid;
   width: 100%;
   & > * {
      grid-column: grid-start / grid-end;
   }
   grid-template-columns:  
      [page-start]
      4fr
      [leading]
      4fr
      [grid-start base4-col1-start] 
      #{$gridWidth4 + "fr" }
      [base4-col1-end]
      #{$gutter + "fr" }
      [base4-col2-start]
      #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
      [base3-col1-end]
      #{$gutter + "fr" }
      [base3-col2-start]
      #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
      [base4-col2-end]
      #{$gutter + "fr" }
      [base4-col3-start]
      #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
      [base3-col2-end]
      #{$gutter + "fr" }
      [base3-col3-start]
      #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
      [base4-col3-end]
      #{$gutter + "fr" }
      [base4-col4-start]
      #{$gridWidth4 + "fr" }
      [base4-col4-start grid-end base4-col4-end base3-col3-end] 
      6fr
      [tail]
      4fr
      [trailing]
      4fr
      [page-end]
      ;
}

@include breakpoint("tablet") {
   bh-grid {
      grid-template-columns:  
         [page-start]
         5fr
         [leading]
         10fr
         [grid-start base8-col1-start base6-col1-start base3-col1-start base4-col1-start] 

         #{$gridWidth4 + "fr" }
         [base8-col1-end]
         #{$gutter + "fr" }
         [base8-col2-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base6-col1-end]
         #{$gutter + "fr" }
         [base6-col2-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base8-col2-end base4-col1-end]
         #{$gutter + "fr" }
         [base8-col3-start base4-col2-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base6-col2-end base3-col1-end]
         #{$gutter + "fr" }
         [base6-col3-start base3-col2-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base8-col3-end]
         #{$gutter + "fr" }
         [base8-col4-start]
         #{$gridWidth4 + "fr" }
         [base8-col4-end base6-col3-end base4-col2-end]

         #{$gutter + "fr" }

         [base8-col5-start base6-col4-start base4-col3-start]
         #{$gridWidth4 + "fr" }
         [base8-col5-end]
         #{$gutter + "fr" }
         [base8-col6-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base6-col4-end base3-col2-end]
         #{$gutter + "fr" }
         [base6-col5-start base3-col3-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base8-col6-end base4-col3-end]
         #{$gutter + "fr" }
         [base8-col7-start base4-col4-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base6-col5-end]
         #{$gutter + "fr" }
         [base6-col6-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base8-col7-end]
         #{$gutter + "fr" }
         [base8-col8-start]
         #{$gridWidth4 + "fr" }
         [base8-col8-end base6-col6-end base3-col3-end base4-col4-end grid-end]

         15fr
         [tail trailing]
         8fr
         [page-end];
   }
}

@include breakpoint("desktop") {
   bh-grid {
      grid-template-columns:  
         [page-start]
         40fr
         [leading]
         10fr
         [grid-start base16-col1-start base12-col1-start base4-col1-start base3-col1-start base6-col1-start base8-col1-start] 

         #{$gridWidth4 + "fr" }
         [base16-col1-end]
         #{$gutter + "fr" }
         [base16-col2-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base12-col1-end]
         #{$gutter + "fr" }
         [base12-col2-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base16-col2-end base8-col1-end]
         #{$gutter + "fr" }
         [base16-col3-start base8-col2-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base12-col2-end base6-col1-end]
         #{$gutter + "fr" }
         [base12-col3-start base6-col2-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base16-col3-end]
         #{$gutter + "fr" }
         [base16-col4-start]
         #{$gridWidth4 + "fr" }
         [base16-col4-end base12-col3-end base4-col1-end base8-col2-end]

         #{$gutter + "fr" }

         [base16-col5-start base12-col4 base4-col2-start  base8-col3-start]
         #{$gridWidth4 + "fr" }
         [base16-col5-end]
         #{$gutter + "fr" }
         [base16-col6-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base12-col4-end base3-col1-end base6-col2-end]
         #{$gutter + "fr" }
         [base12-col5-start base3-col2-start base6-col3-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base16-col6-end base8-col3-end]
         #{$gutter + "fr" }
         [base16-col7-start base8-col4-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base12-col5-end]
         #{$gutter + "fr" }
         [base12-col6-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base16-col7-end]
         #{$gutter + "fr" }
         [base16-col8-start]
         #{$gridWidth4 + "fr" }
         [base16-col8-end base12-col6-end base4-col2-end base6-col3-end base8-col4-end]

         #{$gutter + "fr" }

         [base16-col9-start base12-col7-start base4-col3-start base6-col4-start base8-col5-start]
         #{$gridWidth4 + "fr" }
         [base16-col9-end]
         #{$gutter + "fr" }
         [base16-col10-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base12-col7-end]
         #{$gutter + "fr" }
         [base12-col8-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base16-col10-end base8-col5-end]
         #{$gutter + "fr" }
         [base16-col11-start base8-col6-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base12-col8-end base3-col2-end base6-col4-end]
         #{$gutter + "fr" }
         [base12-col9-start base3-col3-start base6-col5-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base16-col11-end]
         #{$gutter + "fr" }
         [base16-col12-start]
         #{$gridWidth4 + "fr" }
         [base16-col12-end base12-col9-end base4-col3-end base8-col6-end]

         #{$gutter + "fr" }

         [base16-col13-start base12-col10-start base4-col4-start base8-col7-start]
         #{$gridWidth4 + "fr" }
         [base16-col13-end]
         #{$gutter + "fr" }
         [base16-col14-start]
         #{($gridWidth3 - $gutter - $gridWidth4) + "fr" }
         [base12-col10-end base6-col5-end]
         #{$gutter + "fr" }
         [base12-col11-start base6-col6-start]
         #{($gridWidth4 + $gridWidth4 - $gridWidth3) + "fr" }
         [base16-col14-end base8-col7-end]
         #{$gutter + "fr" }
         [base16-col15-start base8-col8-start]
         #{($gridWidth3 + $gridWidth3 - $gutter - $gridWidth4 - $gridWidth4) + "fr" }
         [base12-col11-end]
         #{$gutter + "fr" }
         [base12-col12-start]
         #{($gridWidth4 + $gridWidth4 + $gridWidth4 - $gridWidth3 - $gridWidth3) + "fr" }
         [base16-col15-end]
         #{$gutter + "fr" }
         [base16-col16-start]
         #{$gridWidth4 + "fr" }
         [base16-col16-end base12-col12-end base4-col4-end base3-col3-end base6-col6-end base8-col8-end grid-end]
         30fr
         [tail trailing]
         50fr
         [page-end]
         ;
   }
}
