/**
 * Article Display Container
 *
 * This container shows the main contents on single.php.
 *
 * ## Basic DOM Structure:
 *
 * 		.container.article-display
 *			div.wrapper
 *				article#post-xx.post-classes
 *					div.clearfix
 *					main
 *						header.article-header (h1, h2, author, time &c.)
 *						section.lede-sidebar (post sidebar content)
 *						section.article-text
 *						div.clearfix
 *						section.article-footnotes
 *
 * ## Contents:
 *
 *  1.0 Hero styles.
 *  2.0 Article header styles.
 *  3.0 Lede sidebar styles.
 *  4.0 Article text styles.
 *  5.0 Footnotes style.
 *
 */

@import "../content-styles/_legacy-content-styles.scss";

.container.article-display .wrapper .donate-form {
  @include setCol(3, 2);
  width: col(3);
  @include breakpoint("mobilexl") {
    @include setCol(6, 2);
    width: col(6);
  }
}

/*
 * 2.0  Article header styles.
 * ----------------------------------------------------------------------------
 */

.container.article-display {
  main.article-content {
    .meta {
      min-height: 10px;
      font-family: $headline;
      color: $darkgrey;
      margin-bottom: 24px;
      .byline a {
        color: $darkgrey;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: $black;
        }
      }
      .mug-box {
        width: 40px;
        margin-right: 10px;
        margin-top: -3px;
        position: relative;
        float: left;
        img {
          width: 100%;
        }
      }
      .tweet-button,
      .facebook-button {
        font-size: 14px;
        padding: 3px 9px;
        font-family: "pt sans";
        color: #fff;
        margin-left: 6px;
        float: right;
        position: relative;
        &:hover {
          background: $black;
        }
      }
      .tweet-button {
        background: #059ff5;
        padding-left: 27px;
        &:before {
          content: "t";
          font-family: $icon;
          padding-right: 5px;
          font-size: 12px;
          position: absolute;
          left: 9px;
        }
      }
      .facebook-button {
        background: #4965a2;
        padding-left: 27px;
        &:before {
          content: "f";
          font-family: $icon;
          padding-right: 5px;
          font-size: 12px;
          position: absolute;
          left: 9px;
        }
      }
    }
    .hero {
      img {
        width: 100%;
        height: auto;
      }
      .hero-caption {
        margin-top: 0px;
        font-family: $headline;
        color: $darkgrey;
        padding-bottom: 12px;
        position: relative;
        .hrld-media-credit {
          display: inline-block;
          line-height: 36px;
        }
        a {
          color: $darkgrey;
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            color: $black;
          }
        }
        &:after {
          content: " ";
          border-bottom: 1px solid $darkgrey;
          width: 120px;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
        }
      }
    }
  }
  aside.sidebar {
    width: 100%;
    display: block;
    top: 0;
    right: 0;
    margin-bottom: 24px;
    .ad {
      padding: 0 0 24px;
    }
    .popular-post-widget {
      margin: 18px 0;
      position: relative;
      width: 100%;
      h3 {
        background: $black;
        font-family: $headline;
        text-transform: uppercase;
        color: $truewhite;
        margin: 0;
        text-align: center;
        font-size: 14px;
        padding: 3px 20px 3px 20px;
        display: inline;
      }
      a {
        position: relative;
        border-bottom: 1px solid $greyBorder;
        background: white;
        padding: 0px 10px;
        display: block;
        font-family: $headline;
        color: $trueblack;
        font-weight: 700;
        .graph-bar {
          background: $blue;
          height: 2px;
          position: absolute;
          bottom: -1px;
          left: 0;
        }
        img {
          height: 80px;
          display: block;
          width: auto;
          margin-top: 20px;
          padding: 0px 0 20px 15px;
          float: right;
        }
        h2 {
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 20px;
          font-weight: bold;
          color: $black;
        }
        .topic {
          color: $darkgrey;
          padding-top: 20px;
          display: block;
          font-weight: normal;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@include breakpoint("tablet") {
  .container.article-display {
    main.article-content {
      .article-text {
        width: col(7);
      }
    }
  }
}

@include breakpoint("desktop") {
  .container.article-display {
    main.article-content {
      @include setCol(9, -2);
      float: left;
      .article-text {
        width: col(7);
      }
      .meta {
        min-height: 18px;
      }
    }
    aside.sidebar {
      margin-left: gutter(2);
      width: col(3, 1);
      float: left;
      .sidebar-thing {
        margin-bottom: 54px;
      }
    }
  }
}

@include breakpoint(xl) {
  .container.article-display {
    main.article-content {
      @include setCol(10, -1);
      .article-text {
        width: col(8);
      }
    }
    main.article-content {
      .hero {
        .hero-caption {
          padding-right: 80px;
        }
      }
    }
    aside.sidebar {
      margin-left: col(1, 2);
    }
  }
  .container.article-display.feature {
    main.article-content {
      .article-text,
      .meta {
        padding-right: 0;
        width: 780px;
        margin: 0 auto;
        margin-bottom: 24px;
        margin-top: 54px;
      }
    }
  }
}

/**
 * 4.0 Article Text Styles.
 * ----------------------------------------------------------------------------
 */

.container.article-display {
  .article-text {
    @include printLegacyContentStyles();
  }

  // todo—why is this all alone?
  .video-container {
    float: left;
    max-width: 100%;
    @include breakpoint(tablet) {
      margin-bottom: 24px;
    }
    iframe {
      max-width: 100%;
    }
  }
}

q.pullquote {
  quotes: "“" "”";
  cite {
    font-size: 16px;
    font-family: $caption;
  }
  &:before {
    display: none;
  }
  &.quotemarks:before {
    font-size: 66px;
    float: left;
    padding-right: 6px;
    display: block;
    position: relative;
    top: 0px;
  }
  &:before {
    content: "";
    width: 80px;
    height: 2px;
    background: $greyText;
    display: block;
    position: absolute;
    bottom: -6px;
  }
  display: block;
  width: 100%;
  float: left;
  font-weight: bolder;
  color: $black;
  font-size: 24px;
  line-height: 36px;
  margin: 18px 0 48px;
  padding: 18px 0px 18px;
  position: relative;
  font-style: italic;
  cite {
    display: block;
    position: relative;
    left: 0;
    margin-top: 18px;
    margin-bottom: -18px;
    color: $greyText;
    font-weight: normal;
    font-size: 18px;
  }
}

@include breakpoint(tablet) {
  .container.article-display.feature {
    .article-content {
      margin: 0 auto;
      float: none;
    }
  }
  q.pullquote {
    &.alignleft {
      width: 360px;
      float: left;
      padding-right: 60px;
    }
    &.alignright {
      width: 360px;
      float: right;
      padding-left: 60px;
    }
    &.aligncenter {
      font-size: 28px;
      line-height: 36px;
      margin: 48px 0 48px;
      cite {
        font-size: 24px;
      }
      &.quotemarks:before {
        font-size: 100px;
        padding-right: 12px;
        top: 6px;
      }
    }
  }
}

/**
 * 5.0 Footnotes Styles.
 * ----------------------------------------------------------------------------
 */
.container.article-display {
  .article-footnotes {
    width: 100%;
    position: relative;
    hr {
      border-bottom: 1px solid $darkgrey;
      width: 120px;
      margin-left: 0;
    }
    p {
      color: $darkgrey;
      font-size: 14px;
      font-family: $headline;
    }
  }
}

@include breakpoint(tablet) {
  .container.article-display {
    .footnote-sidebar {
      width: 380px;
      margin-left: 80px;
      height: 400px;
      display: block;
      background: red;
      float: right;
      margin-top: -436px;
    }
  }
}

@include breakpoint(desktop) {
  .container.article-display {
    .article-footnotes {
      width: 540px;
    }
  }
}
