
.below-the-fold {
	.list {
		grid-column: grid-start / base8-col4-end;
		.img {
			overflow: hidden;
			float: right;
			padding-left: 20px;
			width: 50%;
		}
		bh-headline-unit {
			display: block;
			padding: 48px 0;
			border-bottom: 2px solid $borderGrey;
			&:first-child {
				padding-top: 12px;
			}
			&:last-child {
				padding-bottom: 12px;
				border-bottom: none;
			}
		}
	}
	.banter {
		grid-column: base8-col6-start / grid-end;
		position: relative;
		font-style: italic;
		font-weight: bold;
		align-self: start;
		div[slot="header"], div[slot="content"] {
			@include dotted(rgba(black,.2));
		}
		div[slot="header"] {
			padding-top: 12px;
			&:before {
				content: " ";
				position: absolute;
				top: 12px;
				
				margin-left: -6px;
				width: calc(100% + 12px);
				display: block;
				height: 18px;
				border-left: 6px solid $red;
				border-right: 6px solid $red;
				border-top: 6px solid $red;
				z-index: 2;
			}
			&:after {
				content: " ";
				position: absolute;
				top: 0px;
				width: calc(100%);
				display: block;
				height: 12px;
				background: $grey;
				z-index: 2;
			}
		}
		text-align: center;
		h3 {
			a {
				color: $black;
				&:hover {
					color: $red;
				}
			}
			display: block;
			text-transform: uppercase;
			display: inline-block;
			font-style: italic;
			font-weight: bold;
			font-size: 21px;
			margin-left: 10px;
			line-height: 24px;
			padding: 18px 0;
			margin-bottom: 0;
			margin-top: 12px;
			padding-left: 30px;
			margin: 0 auto;
			@include banterlogo;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: left center; 
		}
		bh-headline-unit a {
			text-align: left;
			margin: 0px 10px;
			display: block;
			border-top: 1px solid $greyBorder;
			padding: 12px 0;
			overflow: hidden;
			color: $black;
			line-height: 21px;
			@include setCols(3);
			align-self: start;
			&:hover {
				color: $red;
			}
			.img {
				height: auto;
				float: left;
				overflow: hidden;
				grid-row: 3;
				margin-top: 12px;
				grid-column: grid-start / grid-col-1;
			}
			.head {
				grid-column: grid-start / grid-end;
				overflow: hidden;
				display: block;
			}
			.head.sub {
				margin-left: 20px;
				grid-row: 3;
				grid-column: grid-col-1 / grid-end;
			}
			.metadata {
				grid-column: grid-start / grid-end;
				grid-row: 1;
				align-self: start;
				.topic {
					color: $red;
				}
				text-transform: uppercase;
			}
		}
		
		&:after {
			content: " ";
			position: absolute;
			bottom: 0px;
			width: calc(100% + 12px);
			margin-left: -6px;
			display: block;
			height: 18px;
			border-left: 6px solid $red;
			border-right: 6px solid $red;
			border-bottom: 6px solid $red;
		}
	}
}

.container.list-and-banter {
	.story {
		background: $white;
		display: block;
		margin-bottom: 24px;
		padding: 18px flex(10,300);
		color: $black;
		font-family: $headline;
		.topic {
			color: $greyText;
			font-weight: bold;
			margin: 12px 0 12px;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			margin-left: 10px;
			&:before {
				content: "*";
				font-family: $icon;
				position: absolute;
				margin-left: -10px;
				margin-top:-10px;
			}
		}
		h2 {
			padding-top: 12px;
			color: $black;
		}
		&:hover h2 {
			color: $blue;
		}
		img {
			height: auto;
		}
		.byline {
			padding: 18px 0 12px;
			.mug {
				width: 45px;
				height: auto;
				img {
					width: 100%;
					height: auto;
					float: left;
				}
			}
			font-family: $headline;
			font-style : italic;
			.author {
				margin-left: 12px;
				position: relative;
				top:3px;
			}
			.author-name {
				text-transform: uppercase;
				font-style: normal;
				font-weight: bold;
				padding-left: 3px;
			}
		}
	}
	.banter {
		position: relative;
		font-style: italic;
		font-weight: bold;
		.content, .header {
			@include dotted(rgba(black,.2));
			margin-left: 6px;
			margin-right: 6px;
			position: relative;
			padding-bottom: 18px;
		}
		text-align: center;
		h3 {
			a {
				color: $black;
				&:hover {
					color: $red;
				}
			}
			text-transform: uppercase;
			display: inline-block;
			font-style: italic;
			font-weight: bold;
			font-size: 21px;
			margin-left: 10px;
			line-height: 24px;
			padding: 18px 0;
			margin-bottom: 0;
			margin-top: 12px;
			padding-left: 30px;
			margin: 0 auto;
			@include banterlogo;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: left center; 
		}
		.fb-like {
			position: absolute;
			top: 20px;
			right: 10px;
		}
		.banter-link {
			text-align: left;
			margin: 0px 10px;
			display: block;
			border-top: 1px solid $greyBorder;
			padding: 12px 0;
			overflow: hidden;
			color: $black;
			line-height: 21px;
			&:hover {
				color: $red;
			}
			img {
				width: 80px;
				height: auto;
				margin-right: 10px;
				float:left;
				overflow: hidden;
			}
			.title {
				overflow: hidden;
				display: block;
			}
			.topic {
				display: block;
				color: $red;
				text-transform: uppercase;
			}
		}
		
	}
}

@include breakpoint(mobilexl) {
	.container.list-and-banter {
		.story {
			padding: 18px 20px;
			h2 {
				padding-top: 12px;
				font-size: 30px;
			}
			img.wp-post-image {
				width: 240px;
				float: right;
				padding-left: 20px;
				padding-bottom: 24px;
			}
		}
	}
}

@include breakpoint(tablet) {
	.list {
		width: col(5);
		float: left;
		margin-right: 20px;
	}
	.banter-widget {
		width: col(4);
		float: right;
	}
}

@include breakpoint(desktop) {
	.list {
		width: col(7);
	}
	.banter-widget {
		width: col(4);
	}
}

@include breakpoint(xl) {
	.list {
		width: col(8);
	}
	.banter-widget {
		width: col(5);
	}
}