.container.stream {
	.sidebar {
		width: 100%;
	}
	.stream {
		.teaser-brief,.teaser-feature {
			border-bottom : 1px solid $greyBorder;
		}
	}

	&.black{
		.all-link.pagination-link {
			a {
				color: white;
			}
			a:hover{
				color: gray;
			}
		}
	}
}

@include breakpoint('desktop') {
	.container.stream {
		.sidebar {
			width: flex(340,1020);
			float: left;
			margin-right: flex(40,1020);
			.ad {
				margin: 0 auto;
				text-align: center;
			}
		}
		.stream {
			width: flex(620,1020);
			float: left;
			a:first-child {
				padding-top: 0;
			}
		}
	}
}

@include breakpoint('xl') {
	.container.stream {
		.sidebar {
			width: flex(340,1180);
			margin-right: flex(40,1180);
		}
		.stream {
			width: flex(800,1180);
		}
	}
}