/* Resets */

ol.exa_masthead_form_list * {
	box-sizing: border-box;
}

ol.exa_masthead_form_list .clearfix {
	clear: both;
}

/* Resets */

ol.exa_masthead_form_list {
	list-style-type: none;
	margin: 0;
}

.exa_masthead_section {
	margin-top: 12px;
	background: white;
	padding: 20px 15px;
}

div.exa_masthead_section_details,
ol.exa_masthead_staff_list {
	float: left;
	margin: 0;
}

.exa_masthead_section_details {
	width: 50%;
}

ol.exa_masthead_staff_list {
	width: 50%;
	list-style-type: none;
}



.exa_masthead_section_title_field {
	font-size: 2em;
}

.exa_masthead_add_user {
	width: 20px;
	height: 20px;
	background: green;
	display: inline-block;
	text-align: center;
	color: white;
	margin-left: 5px;
}