
exa-donate {
    display: block;
}

.donate-form {
    @include setGrid(3,88,10,2);
    background-color: white;
    max-width: 580px;
    border-radius: 2px;
    padding-bottom: 18px;
    .header {
        margin: 15px gutter() 24px;
        border-bottom: 1px solid $grey;
        display: inline-block;
        width: col(3);
        h3 {
            font-size: 28px;
            font-family: $headline;
            margin: 12px 0;
        }
        p {
            margin: 12px 0;
        }
    }
    .charm {
        position: absolute;
        top: 24px;
        right: gutter();
        font-size: 2em;
    }
    .disclaimer {
        margin: 15px gutter() 24px;
        color: grey;
    }
    .disclaimer a {
        color: grey;
        text-decoration: underline;
    }
}

@include breakpoint('tablet') {
    .donate-form {
        @include setGrid(6,80,20,2);
        .header {
            width: col(6);
        }
    }
}