
exa-donate-checkout {
    span.col2 {
        position: relative;
    }
    #card-errors {
        background: red;
        background: #FFD0D0;
        border: 1px solid #d97b7b;
        padding: 6px;
        margin: 0 gutter();
        border-radius: 3px;
        margin-bottom: 12px;
    }
    .thank-you {
        padding: gutter();
        margin-bottom: 20px;
        text-align: center;
        h3 {
            font-size: 2em;
            font-family: "pt sans";
        }
    }
    .edit {
        text-align: center;
        margin-top: 12px;
        display: inline-block;
        padding: 6px;
        &:hover {
            background: $lightgrey;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .amount-banner {
        //background: $grey;
        text-align: center;
        padding: 36px 0;
        color: black;
        font-family: 'pt sans';
        .dollar {
            font-size: 2em;
            font-weight: normal;
            position: relative;
            left: 0em;
            top: -8px;
            position: relative;
            left: -4px;
        }
        .details {
            color: $greyText;
            font-size: .8em;
            position: relative;
            top: -9px;
            line-height: .8em;
        }
        .reocurring {
            line-height: 2em;
            font-weight: normal;
            font-size: 1.2em;
        }

        .amount {
            width: 100%;
            position: relative;
            left: -4px;
            font-weight: bold;
            font-size: 3em;
            .clap {
                font-size: .5em;
                position: relative;
                bottom: .3em;
                padding-left: 10px;
            }
        }
    }
    form.validations {
        input:required:not(:valid) {
            border: 1px solid red;
            background: rgba(red,.03);
        }
    }
    form {
        .form-section {
            margin-top: 18px;
            margin-bottom: 26px;
            & > span {
                float: left;
                width: col(3);
                margin-left: gutter();
                padding-bottom: 12px;
                input, &.stripe {
                    padding: 12px 6px;
                    font-family: arial;
                    border-radius: 3px;
                    border: 1px solid $greyBorder;
                    display: inline-block;
                }
                input {
                    width: 100%;
                }
                label { 
                    width: 100%;
                    padding-bottom: 3px;
                    display: inline-block;
                }
                .anon-check {
                    position: absolute;
                    left: 0;
                    width: initial;
                    top: 6px;
                }
                .anon-label {
                    padding-left: 20px;
                }
            }
            .floater {
                float: left;
                width: inherit;
            } 
            & > .stripe {
                padding: 9px 15px 9px;
                width: col(3);
            }
            & > h4 {
                margin: 6px gutter() 0;
                border-top: 1px solid $grey;
                padding: 6px 0 24px;
                font-size: 1.2em;
                font-family: 'pt sans', 'pt sans narrow';
            }
        }

        input[type="submit"] {
            color: white;
            background: $blue;
            //width: col(2,2);
            border: none;
            font-size: 18px;
            font-weight: bold;
            border-radius: 4px;
            font-family: 'pt sans';
            padding: 15px 40px;
            margin: 24px auto;
            display: block;
            &[value="saving..."] {
                opacity: .5;
            }
        }
    }
}

@include breakpoint("tablet") {
    exa-donate-checkout {
        form .form-section {
            & > span.col2 {
                width: col(2);
            }
            & > span.col4 {
                width: col(4);
            }
            & > .stripe {
                padding: 9px 15px 9px;
                width: col(6);
            }
        }
    }
}
