.snippet.inline {
	cursor: pointer;
	margin: 0 0 12px;
	font: 15px/18px $headline;
	padding: 9px 10px;
	display: block;
	background: #fff;
	img.thumbnail {
		width: 120px;
		height: auto;
		margin-top: 3px;
		float: right;
		padding: 0 0 6px 10px;
	}
	.title {
		color: $black;
		display: block;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;

	}
	.excerpt {
		color: $darkgrey;
		display: block;
		margin-top: 6px;
		.more {
			position: relative;
			left: 2px;
			font-weight: bold;
			color: $blue;	
			padding-right: 30px;
			display: inline-block;
		}
	}
	&:hover { 
		.title {
			color: $blue;
		}
		.excerpt .more {
			left: 6px;
			transition: left .4s ease-in-out;
			text-decoration: underline;
			font-style: italic;
		}
	}
}

@include breakpoint(tablet) {
	.snippet.inline {
		padding: 18px 20px;
		overflow: auto;
		font: 18px/24px $headline;
		img.thumbnail {
			float: left;
			padding: 0 20px 0 0;
			width: 180px;
		}
		.title {
			font-size: 19px;
			line-height: 24px;
		}
	}
}

