
exa-donate-amount {
	display: block;
	position: relative;
	width: 100%;
	* { box-sizing: border-box; }
	.clearfix {
		clear: both;
	}
	ul.reoccuring {
		text-align: center;
		margin-bottom: 15px;
		li {
			margin: 18px 0;
			a {
				color: black;
				padding: 10px;
				padding-left: 34px;
				border-radius: 6px;
				position:relative;
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
				&:before {
					content: "";
					width: 16px;
					height: 16px;
					border-radius: 12px;
					left: 10px;
					top: 10px;
					position: absolute;
					-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
					box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
					display: inline-block;
					border: 2px solid white;
					background: white;
				}
				&.active {
					color: $blue;
					background: $lightgrey;
					&:before {
						background: $blue;
						-webkit-box-shadow: 0px 0px 0px 2px $blue;
					-moz-box-shadow: 0px 0px 0px 2px $blue;
					box-shadow: 0px 0px 0px 2px $blue;
					}
				}
				&:hover {
					color: $blue;
					background-color: $lightgrey;	
				}
			}
			text-align: center;
			font-family: "pt sans";
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li.suggestion {
			margin: 9px 0;
			margin-right: gutter();
			padding: 0;
			display: inline-block;
			width: col(1);
			text-align: center;
			position: relative;
			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
				-webkit-appearance: none; 
				margin: 0; 
			}
			input[type=number] {
				-moz-appearance:textfield;
			}
			input,a {
				font-size: 21px;
				padding: 14px 0px;
				display: inline-block;	
				width: 100%;
				font-family: $headline;
				font-weight: bold;
				color: white !important;
				border-radius: 4px;
			}
			a {
				background: $blue;
			}
			input {
				font-size: 18px;
				font-family: Arial, Helvetica, sans-serif;
				font-weight: normal;
				padding: 12px 15px 10px;
				border: 4px solid $greyBorder;
				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
					margin: 0; 
					-webkit-appearance: none; 
				}
				outline: none;
 				 
			}
			.custom:focus {
				z-index: 5;
			}
			a:hover, input:focus {
				color: $black !important;
				border: 4px solid $blue;
				cursor: pointer;
				-moz-appearance:textfield;
				-webkit-appearance: none; 
				margin: 0; 
			}
			button {
				position: absolute;
				top: 0px;
				padding: 18px;
				right: 0px;
				display:block;
				background: transparent;
				z-index: 2;
				.hidden {
					display: none;
				}
				font-size: 18px;
				padding-left: 4px;
				border: none;
				&:after {
					background: $blue;
					color: white;

					//width: 24px;
					font-size: 16px;
					display: block;
					padding: 15px 10px;
					right: 2px;
					top: 0;
					position: absolute;
					content: ">";
					font-family: $icon;
					&:hover {
						color: $blueLinkHover;
					}
				}
				&:hover {
					cursor: pointer;
				
				}
			}
			a:hover {
				background: $grey;
				padding: 8px 15px;
			}
			&:before {
				display: none;
			}
			
		}
	}
}

@include breakpoint("tablet") {
	exa-donate-amount {
		ul.reoccuring {
			li {
				margin: 0;
				display: inline;
			}
		}
	}
	.container.article-display .article-text .donate-form {
		//width: col(6);
		ul {
			li.suggestion {
				width: col(2);
				&:nth-child(2n) {
					margin-right: gutter();
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}