/**
 *
 * Style Foundations
 * 
 * This set of style (mostly definitions) is shared between theme code
 * and is global to web components.
 *
 */

@import "foundations/colors.scss";
@import "foundations/fonts.scss";
@import "foundations/grid.scss";
@import "foundations/normalize.scss";
@import "foundations/helperclasses.scss";

@mixin linkColor($color) {
  @if $color == $black {
    color: $black;
    &:hover {
      color: #787878;
    }
  }
  @if $color == $blue {
    color: $blue;
    &:hover {
      color: $blueLinkHover;
    }
  }
}

wp-permalink {
  a {
    color: $blue;
    text-decoration: none;
  }
}

// Global/Base styles
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * BASE FONTS
 * ------------------------------------------------------------------------- 
 */

body {
  font-family: $body;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $blueLinkHover;
  }
}

/**
 * HEADER FONTS
 * ------------------------------------------------------------------------- 
 */

wp-teaser {
  h1 {
    font-family: $headline;
    font-size: 2em;
    a {
      color: $black;
    }
  }

  h2 {
    font-family: $headline;
    font-size: 1.5em;
    a {
      color: $black;
    }
    &.author-title {
      padding-top: 6px;
    }
  }

  h3 {
    font-family: $headline;
    font-size: 1.17em;
  }

  p {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
  }
}
