

.ad-and-two-dominant-block {
	margin-top: 54px;
	.sidekick-ad {
		margin-bottom: 24px;
	}
	a.story {
		position: relative;
		display: block;
		color: $white;
		margin-bottom: 24px;
		img {
			width:100%;
			height:auto;
		}
		.byline {
			padding: 12px 0;
			.mug {
				width: 45px;
				height: auto;
				img {
					width: 100%;
					height: auto;
					float: left;
				}
			}
			font-family: $headline;
			font-style : italic;
			.author {
				margin-left: 12px;
				position: relative;
				top:3px;
			}
			.author-name {
				text-transform: uppercase;
				font-style: normal;
				font-weight: bold;
				padding-left: 3px;
			}
		}
		.title-container {
			width:flex(240,300);
			margin-left: flex(10,300);
			position: absolute;
			bottom: 24px;
			z-index: 2;
			div.lede {
				visibility: hidden;	// these two lines are the same
				position: absolute; // as display:none, except transitions work. (note screenreaders pick up on it)
				color: $white;
				font-weight: bold;
				height: 0;
			}
		}
	}
}

@include breakpoint('tablet') {
	.ad-and-two-dominant-block {
		a.story {
			width: flex(370,760);
			float:left;
			&:last-child {
				margin-left: flex(20,760);
			}
		}
	}
}

@include breakpoint('desktop') {
	.ad-and-two-dominant-block {
		.sidekick-ad {
			float: left;
			margin-right: 100px;
		}
		a.story {
			width: 300px;
			float: left;
			&:last-child {
				margin-left: 20px;
			}
		}
	}
}

@include breakpoint('xl') {
	.ad-and-two-dominant-block {
		.sidekick-ad {
			margin-right: 100px;
		}
		a.story {
			width: 380px;
		}
	}
}