/**
 * Article Display Block
 *
 * This block shows the main contents on single.php.
 *
 * ## Basic DOM Structure:
 *
 * 		div.block.article-display-block
 *			div.wrapper
 *				article#post-xx.post-classes
 *					div.hero (hero, image and caption)
 *					div.clearfix
 *					main
 *						header.article-header (h1, h2, author, time &c.)
 *						section.lede-sidebar (post sidebar content)
 *						section.article-text
 *						div.clearfix
 *						section.article-footnotes
 *
 * ## Notes:
 *
 * 	- the hero div and contents are only displayed if the post has a
 * 	  feature image to display.
 *	- `.lede-sidebar` is positioned absolutely. Its height and the
 * 	  positions of its contents is then decided by javascript on
 *	  pageload.
 *  - much of the style in the `.article-text` style method is duplicated
 *    in the editor styles.
 *
 *
 * ## Contents:
 *
 *  1.0 Hero styles.
 *  2.0 Article header styles.
 *  3.0 Lede sidebar styles.
 *  4.0 Article text styles.
 *  5.0 Footnotes style.
 *
 */



/**
 * 1.0 Hero styles.
 * ----------------------------------------------------------------------------
 */

.article-display-block {

	.hero {

		position: relative;
		margin-bottom: 32px;
		.hero-aside {

			display: block;


			.hero-ad {
				display:none;
			}
			.hero-caption {
				font-family: $headline;
				margin-top: 0px;
				color: $hrld-dark-grey;
				.hrld-media-credit {
					display: block;
					a {
						color: $hrld-black;
						&:hover {
							color: $hrld-blue;
						}
					}
				}
			}
		}
		img {
			width:100%;
			height:auto;
		}
	}
}


@include breakpoint(desktop) {

	.article-display-block {
		.hero {
			img {
				max-width:700px;
				width:700px;
				display: block;
				float: left;
			}
			.hero-aside {
				margin-left: 20px;
				width: 300px;
				float: right;
				.hero-ad {
					display: block;
				}
				.hero-caption {
					position: absolute;
					bottom: 0px;
					display: block;
					margin-top: 30px;
					margin-bottom: 24px;
					width: 220px;
					&:before { // The bar that sits above the caption on desktop+xl
						content: '';
						width: 80px;
						display: block;
						border-top: 1px solid $hrld-dark-grey;
						padding-bottom:6px;
					}
					.hrld-media-credit {
						margin-top: 6px;
					}
				}
			}
		}
	}
}

@include breakpoint(xl) {
	.article-display-block {
		.hero img {
			max-width:860px;
			width:860px;
			height:600px;
			float: left;
		}
	}
}

/**
 * 2.0  Article header styles.
 * ----------------------------------------------------------------------------
 */

.article-display-block {

	/* Header phone styles */

	.article-title, .article-title h1 {
		font-size: 30px;
		line-height: 36px;
		margin: 18px 0;
		color: $hrld-black;
	}

	.article-subhead {
		margin-bottom: 24px;
		font-weight: 400;
	}

	.article-header {

		.article-section {
			display: inline-block;
			font-family: $headline;
			background: $hrld-blue;
			color: #fff;
			font-weight:700;
			bottom:-12px;
			text-transform: uppercase;
			padding: 6px 12px;
			font-weight:12px;
			margin-left:-80px;
			text-align: center;
			position:relative;
			&:after {
				content: ' ';
				width:0;
				height:0;
				position:absolute;
				left:0;
				bottom: -6px;
				//border-style: solid;
				//border-width: 6px 40px 0 40px;
				//border-color: $hrld-blue transparent transparent transparent ;
			}
			&:hover {
				background: $hrld-black;
				&:after {
					border-color: $hrld-black transparent transparent transparent ;
				}
			}
		}

		.article-meta {
			font-family: $headline;
			color: $hrld-dark-grey;
			margin-bottom: 18px;
			a.author-link {
				color: $hrld-dark-grey;
				font-weight: bold;
				text-transform: uppercase;
				&:hover {
					color: $hrld-black;
				}
			}
			.article-mug-box {
				width:40px;
				margin-right: 10px;
				margin-top: -3px;
				position: relative;
				float:left;
				img {
					width: 100%;
				}
			}
		}
	}
}

@include breakpoint(tablet) {

	/* Header tablet styles */

	.article-display-block {

		.article-header {
			margin-left: 80px;
			width: 660px;
			.article-meta {
				.article-mug-box {
					width:60px;
					margin-right: 20px;
					margin-left: -80px;
					margin-top: -10px;
				}
			}

			.article-title h1 {
				position: relative;
				&:before {
					content: 't';
					font-size: 18px;
					color: $hrld-dark-grey;
					left: -(38px+50px);
					top:-0px;
					display: block;
					font-family: $icon;
					position: absolute;
					visibility: hidden;
					opacity: 0;
				}
			}
			.article-title:hover h1 {
				&:before {
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
					left: -40px;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

@include breakpoint(desktop) {

	/* Header desktop styles */

	.article-display-block {
		.article-header {
			width: 620px;
			.article-title, .article-title h1 {
				color: #000;
				font-size: 44px;
				line-height: 48px;
				margin-top: 24px;
			}
			.article-subhead {

			}
		}
	}
}

@include breakpoint(xl) {

	/* Header xl styles */

	.article-display-block {
		.article-header {
			width: 720px;
			.article-title, .article-title h1 {
				font-size: 44px;
			}
			.article-subhead {

			}
		}
	}
}


/**
 * 3.0 Lede sidebar styles.
 * ----------------------------------------------------------------------------
 */

.article-display-block {
	.lede-sidebar {
		display: none;
	}
}

@include breakpoint(tablet) {
	.article-display-block {
		.lede-sidebar {
			float: right;
			width: 300px;
			display: block;
			margin-top: 12px;
			margin-bottom: 24px;
			margin-left: 80px;
			.popular-post-widget {
				background: #fff;
				margin:18px 0;
				width:300px;
				position: relative;
				h3 {
					width: 100%;
					background: $hrld-black;
					font-family: $headline;
					text-transform: uppercase;
					color: #fff;
					margin: 0;
					text-align: center;
					padding: 12px 20px;

				}
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
					li {
						padding: 0;
						margin: 0;
						border-bottom: 1px solid #d7dbdd;
						position:relative;
						.graph-bar {
							border: 0;
							display: block;
							background: $hrld-blue;
							height: 2px;
							margin-bottom:-1px;
							z-index:1;
							left: 0px;
							text-align: left;
						}
						a {
							display: block;
							font-family: $headline;
							color: #000;
							padding: 12px 20px;
							font-weight:700;
							&:hover {
								color: $hrld-blue;
							}
						}
					}
				}
			}
		}
	}
}


@include breakpoint(desktop) {

	.article-display-block {
		.lede-sidebar {
			margin-left: 0;
		}
	}

}

/**
 * 4.0 Article Text Styles.
 * ----------------------------------------------------------------------------
 */

.article-display-block {
	.article-text {
		font-size: 16px;
		line-height: 24px;
		p {
			margin-bottom: 24px;
		}
		a {
			margin: 0 -2px;
			border-radius: 2px;
			color: #195ea6;
			text-shadow: 1px 1px rgba($hrld-blue,.1);
			&:hover {
				color: $hrld-blue;
			}
		}
		.ad-in-content {
			margin: 24px 0;
			&:after {
				content : "Advertisement";
				font-family: $headline;
				text-transform: uppercase;
				color: $hrld-dark-grey;
				font-size: 12px;
				line-height: 14px;
			}
		}
		a.hrld-inline-link {
			cursor: pointer;
			margin: 0px 0 12px;
			font-family: $headline;
			font-size: 15px;
			line-height: 18px;
			color: $hrld-black;
			position: relative;
			padding:9px 10px;
			display: block;
			background: #fff;
			.hrld-inline-thumbnail {
				width: 120px;
				min-width: 120px;
				max-width: 120px;
				margin-top: 3px;
				float:right;
				clear:left;
				padding: 0px 0px 6px 10px;
			}
			.hrld-inline-link-title {
				display: block;
				font-weight: 700;
				font-size: 18px;
				line-height: 21px;
				&:before {
					/* new window icon */
					font-family: $icon;
					content: ' w';
					float:right;
					width:32px;
					height: 32px;
					display: block;
					text-align: right;
					visibility: hidden;
					color: $hrld-black;
					// text-shadow: none;
				}
			}
			.hrld-inline-link-excerpt {
				color: $hrld-dark-grey;
				display: block;
				margin-top: 6px;
				&:after {
					content: " ";
					clear: left;
					display: block;
				}
			}
			.hrld-inline-link-excerpt-small {

			}

			&:hover {
				background: #fff;
				.hrld-inline-link-title {
					color: $hrld-blue;
					&:before {
						visibility: visible;
					}
				}
			}
		}
		.wp-caption {
			width: 100% !important; // wordpress adds an element style for width;
			font-size: 16px;
			line-height: 18px;
			color: $hrld-dark-grey;
			margin: 24px 0;
			.hrld-media-credit-name a {
				padding-right: 3px;
				color: $hrld-black;
				font-weight: bold;
				text-shadow: none;
				// font-weight: 800;
				text-transform: uppercase;
				&:hover {
					color: $hrld-blue;
				}
			}
			dd {
				margin-left:0;
			} img {
				width:100%;
				height:auto;
			}
			p, dd {
				margin: 6px 0px 12px;
				&:last-child {
					margin-bottom: 0;
				}
			} * {
				font-family: $headline !important;
			} .wp-caption-text {
				max-width:700px;
			} .hrld-media-credit {
				margin-top: 6px;
				display: block;
			}
		}
		img {
			height: auto;
		}
		& > img.alignleft,& >img.alignright,&>img.alignnone,&>img.aligncenter {
			margin: 0px 0 24px;
		}
		.video-container {
			float: left;
			max-width: 100%;
			iframe {
				max-width: 100%;
			}
		}
	}
}


@include breakpoint(tablet) {

	/* .article-text tablet styles */

	.article-display-block {

		.article-text {
			font-size: 20px;
			line-height: 30px;
			width:100%;
			position: relative;
			p,h1,h2,h3,h4,h5,h6,.twitter-tweet {
				margin-left: 80px;
				margin-right: 80px;
				width: (540,720);
			}
			a.hrld-inline-link {
				margin-left: -80px;
				padding:12px 20px;
				overflow:auto;
				img.hrld-inline-thumbnail {
					float: left;
					padding-left:0;
					padding-right: 20px;
					width: 140px;
					min-width: 140px;
					max-width: 140px;
				}
			}
			.wp-caption {
				position: relative;
				font-size: 16px;
				line-height: 24px;
				margin: 12px 0 24px;
				img {
					width: 100%;
					height: auto;
				}
			}
			.alignleft {
				float: left;
				// margin-left: -80px !important;
				padding-right: 20px;
				width: 300px !important;
				height: auto;
			}
			.alignright {
				float: right;
				padding-left: 20px;
				width: 300px !important;
				height: auto;
			}
			.alignnone, .aligncenter {
				width:100%;
				float:left;
			}
			.video-container {
				float: left;
				max-width: 100%;
				iframe {
					max-width: 100%;
					//width: 100%;
				}
			}
		}
	}
}

@include breakpoint(desktop) {

	/* .article-text desktop styles */

	.article-display-block {
		.article-text {
			width:700px;
			.alignnone, .aligncenter, & > img.alignnone, & > img.aligncenter {
				width:100% !important;
				float: left;
			}
			.ad-in-content {
				display: none;
			}
		}
	}
}

@include breakpoint(xl) {

	/* .article-text xl styles */

	.article-display-block {
		.article-text {
			width: 780px;
		}
		.wp-caption {
			&.alignnone, &.aligncenter {
				width:780px !important;
			}
		}
	}
}


/**
 * 5.0 Footnotes Styles.
 * ----------------------------------------------------------------------------
 */

.article-display-block {

	.article-footnotes {

		width:100%;
		position: relative;
		
		/* 5.1 - Comment button */

		.comment-button {
			width: 120px;
			padding:12px 0;
			color:#fff;
			background: $hrld-black;
			font-weight: bold;
			float:right;
			text-align: center;
			font-family: $headline;
			border-radius: 3px;
			margin-left: 20px;
			margin-top: -6px;
			position:relative;
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-right: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-top: 10px solid #191919;
				border-left: 10px solid #191919;
				position: absolute;
				bottom: -15px;
				margin-left: 20px;
			}
			&:hover {
				background: $hrld-blue;
				&:after {
				  border-top-color: $hrld-blue;
				  border-left-color: $hrld-blue;
				}
			}
		}

		/* 5.2 - Share bar */

		.sharebar {
			font-family: $headline;
			height: 29px;
			line-height: 21px;
			margin: 24px 0;
			.sharetag {
				font-weight: bold;
				color: $hrld-dark-grey;
				text-transform: uppercase;
				float: left;
				padding-top: 3px;
				display: block;
			}
			.sharebarurl {
				display: none;
				margin-left: 10px;
				-webkit-appearance:none;
				float: left;
				box-shadow: none !important;
				background: #fff;
				border-style: solid !important;
				border-color: #e0eaee !important;
				padding: 2px 5px;
				width: 130px;
				text-align: center;
				border-radius: 2px;
				border-width: 1px;
				font-size: 13px;
				&:focus {
					outline: 0;
				}
			}
			.sharebartwitter {
				float: left;
				padding-left: 10px;
				margin-top: 1px;
				.twitter-share-button {
					vertical-align: bottom !important;
				}
			}
			.sharebarfb {
				float: left;
				margin-top: 1px;
				padding-left: 10px;
			}
		}

		/* 5.3 - Assorted */

		hr {
			border-bottom: 1px solid $hrld-dark-grey;
			width:180px;
			margin-left:0;
		}
		
		p {
			color: $hrld-dark-grey;
			font-size: 14px;
			font-family: $headline;
		}

	}

}

/* 5.4 - Responsive */

@include breakpoint(tablet) {

	.article-display-block {

		.article-footnotes {
	  		.sharebarurl {
				display: inline-block !important;
	  		}
	  	}
		
		.footnote-sidebar {
			width: 380px;
			margin-left: 80px;
			height: 400px;
			display: block;
			background: red;
			float:right;
			margin-top: -436px;
		}

	}

}

@include breakpoint(desktop) {

	.article-display-block {

		.article-footnotes {
		
			margin-left:80px;
			width:540px;

		}

	}
	
}
