/**
 * Feature and Widget block
 * ---------------------------------------------------------
 * php: ./inc/blocks/feature-widget.php
 * since: 0.3
 * -----------------------------------------------------------------------------
 */

.feature-widget-block {
	.widget {
		display: none;
	}
	a.story {
		width:100%;
		color: $white;
		img {
			width:100%;
			height:auto;
		}
		.byline {
			padding: 12px 0;
			.mug {
				width: 45px;
				height: auto;
				img {
					width: 100%;
					height: auto;
					float: left;
				}
			}
			font-family: $headline;
			font-style : italic;
			.author {
				margin-left: 12px;
				position: relative;
				top:3px;
			}
			.author-name {
				text-transform: uppercase;
				font-style: normal;
				font-weight: bold;
				padding-left: 3px;
			}
		}
		.title-container {
			width:flex(240,300);
			margin-left: flex(10,300);
			position: absolute;
			bottom: 24px;
			z-index: 2;
			div.lede {
				visibility: hidden;	// these two lines are the same
				position: absolute; // as display:none, except transitions work. (note screenreaders pick up on it)
				color: $white;
				font-weight: bold;
				height: 0;
			}
		}
	}
}

@include breakpoint('tablet') {
	.feature-widget-block {
		a.story {
			.title-container {
				width: flex(600,760);
				margin-left:80px;
				bottom: 60px;
			}
			&:hover {
				.title-container {
					transition: all 0.5s linear;
					div.lede {
						display: block;
						width: flex(460,760);
						font-size: 16px;
						line-height: 24px;
						position: relative;
						visibility: visible;
						height: auto;
					}
				}
			}
		}
	}
}

@include breakpoint('desktop') {
	.feature-widget-block {
		.feature {
			width: 700px;
			position: relative;
			float: left;
		}
		.widget {
			display: block;
			width: 300px;
			background: $white;
			float: left;
			margin-left: 20px;
			position: relative;
			padding-top: 32px;
			h3.title {
				background: $blue;
				margin:0;
				padding: 6px 20px 6px;
				position: absolute;
				top:-6px;
				left: -6px;
				text-align: center;
				color: $white;
				font-family: $headline;
				text-transform: uppercase;
				display: inline;
			}
			.thumbnail {
				width: 80px;
				float:left;
				margin-right: 10px;
				img {
					width: 100%;
					height: auto;
				}
			}
			a.most-recent-post {
				color: $hrld-black;
				padding: 12px 20px;
				display: block;
				.title {
					font-size: 16px;
					font-weight: bold;
					line-height: 21px;
					font-family: $headline;
					overflow: hidden;
					time {
						font-family: $headline;
						color: $hrld-blue;
						font-size: 12px;
						line-height: 18px;
						display: block;
						font-weight: normal;
						text-decoration: none;
					}
				}
				&:hover {
					.title {
						color: $blue;
					}
				}
			}
		}
	}
}

@include breakpoint('xl') {
	.feature-widget-block {
		.feature {
			width: 860px;
		}
		.widget {
			width: 300px;
		}
	}
}