$ribbon-height: 6px;

.fixed-bar-block-placeholder {
    height: 6px;
}
.fixed-bar-block {
    //.wrapper {
    //    margin: 0;
    //    width:inherit;
    //    max-width:inherit;
    //}
    &.fixed {
       // this class added with js.
       position: fixed;
    }
    margin: 0;
    width: 100%;
    height: $ribbon-height;
    top: 0;
    left: inherit;
    background: white;
    border-bottom: 1px solid $hrld-dark-grey-border;
    z-index: 9998;
    .button {
        background: white url('./img/icons/nav-toggle.svg') no-repeat center 3px;
        background-size: 24px 9px;
        border-bottom: 1px solid $hrld-dark-grey-border;  
        border-left: 1px solid $hrld-dark-grey-border; 
        border-right: 1px solid $hrld-dark-grey-border; 
        width: 42px;
        height: 21px;    
        left: 20px; 
        position: absolute;
        border-radius: 0px 0 3px 3px;
        top: 5px;
        z-index: 9999;
    }
}

@include breakpoint(tablet) {
    .fixed-bar-block {
    }
}

@include breakpoint(desktop) {
    .fixed-bar-block {
        //.wrapper {
        //    margin: 0 auto;
        //    width:1020px;
        //    max-width:1020px;
        //}     
    }
}

@include breakpoint(xl) {
    // it just works.
    .fixed-bar-block {
        //.wrapper {
        //    margin: 0 auto;
        //    width:1180px;
        //    max-width:1180px;
        //}
    }
}