.footer-block {
	background: $black;
	margin-bottom:0px;
	padding: 24px 0;
	color: $truewhite;
	p {
		font-family: $headline;
		color: $greyBorder;
		margin: 0;
		a {
			color: $truewhite;
			&:hover {
				border-bottom: 1px solid $truewhite;
			}
		}
	} 
}