/**
 * 1.0 Hero styles.
 * ----------------------------------------------------------------------------
 */

.hero-block {
	.hero {
		position: relative;
		margin-bottom: 32px;
		.hero-aside {
			display: block;
			.hero-ad {
				display:none;
			}
			.hero-caption {
				font-family: $headline;
				margin-top: 0px;
				color: $hrld-dark-grey;
				.hrld-media-credit {
					display: block;
					a {
						color: $hrld-black;
						&:hover {
							color: $hrld-blue;
						}
					}
				}
			}
		}
		img {
			width:100%;
			height:auto;
		}
	}
}


@include breakpoint(desktop) {

	.hero-block {
		.hero {
			img {
				max-width:700px;
				width:700px;
				display: block;
				float: left;
			}
			.hero-aside {
				margin-left: 20px;
				width: 300px;
				float: right;
				.hero-ad {
					display: block;
				}
				.hero-caption {
					position: absolute;
					bottom: 0px;
					display: block;
					margin-top: 30px;
					margin-bottom: 24px;
					width: 220px;
					&:before { // The bar that sits above the caption on desktop+xl
						content: '';
						width: 80px;
						display: block;
						border-top: 1px solid $hrld-dark-grey;
						padding-bottom:6px;
					}
					.hrld-media-credit {
						margin-top: 6px;
					}
				}
			}
		}
	}
}

@include breakpoint(xl) {
	.hero-block {
		.hero img {
			max-width:860px;
			width:860px;
			max-height:600px;
			float: left;
		}
	}
}