
.list-and-banter-block {
	.story {
		background: $white;
		display: block;
		margin-bottom: 24px;
		padding: 18px flex(10,300);
		color: $black;
		font-family: $headline;
		.topic {
			color: $textGrey;
			font-weight: bold;
			margin: 12px 0 12px;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			margin-left: 10px;
			&:before {
				content: "*";
				font-family: $icon;
				position: absolute;
				margin-left: -10px;
				margin-top:-10px;
			}
		}
		h2 {
			padding-top: 12px;
			color: $black;
		}
		&:hover h2 {
			color: $blue;
		}
		img {
			height: auto;
		}
		.byline {
			padding: 18px 0 12px;
			.mug {
				width: 45px;
				height: auto;
				img {
					width: 100%;
					height: auto;
					float: left;
				}
			}
			font-family: $headline;
			font-style : italic;
			.author {
				margin-left: 12px;
				position: relative;
				top:3px;
			}
			.author-name {
				text-transform: uppercase;
				font-style: normal;
				font-weight: bold;
				padding-left: 3px;
			}
		}
	}
	.banter-widget {
		position: relative;
		font-style: italic;
		font-weight: bold;
		.inner-banter {
			@include dotted(rgba(black,.2));
			margin-left: 6px;
			margin-right: 6px;
			position: relative;
			padding-bottom: 18px;
		}
		text-align: center;
		h3 {
			text-transform: uppercase;
			display: inline-block;
			font-style: italic;
			font-weight: bold;
			font-size: 21px;
			margin-left: 10px;
			line-height: 24px;
			padding: 18px 0;
			margin-bottom: 0;
			margin-top: 12px;
			padding-left: 30px;
			margin: 0 auto;
			@include banterlogo;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: left center; 
		}
		.fb-like {
			position: absolute;
			top: 20px;
			right: 10px;
		}
		.banter-link {
			text-align: left;
			margin: 0px 10px;
			display: block;
			border-top: 1px solid $greyBorder;
			padding: 12px 0;
			overflow: hidden;
			color: $black;
			line-height: 21px;
			&:hover {
				color: $red;
			}
			img {
				width: 80px;
				height: auto;
				margin-right: 10px;
				float:left;
				overflow: hidden;
			}
			.title {
				overflow: hidden;
				display: block;
			}
			.topic {
				display: block;
				color: $red;
				text-transform: uppercase;
			}
		}
		&:before {
			content: " ";
			position: absolute;
			top: 0px;
			width: 100%;
			display: block;
			height: 18px;
			border-left: 6px solid $red;
			border-right: 6px solid $red;
			border-top: 6px solid $red;
		}
		&:after {
			content: " ";
			position: absolute;
			bottom: 0px;
			width: 100%;
			display: block;
			height: 18px;
			border-left: 6px solid $red;
			border-right: 6px solid $red;
			border-bottom: 6px solid $red;
		}
	}
}

@include breakpoint(tablet) {
	.list-and-banter-block {
		.story {
			padding: 18px 20px;
			h2 {
				padding-top: 12px;
				font-size: 30px;
			}
			img.wp-post-image {
				width: 240px;
				float: right;
				padding-left: 20px;
				padding-bottom: 24px;
			}
		}
	}
}

@include breakpoint(desktop) {
	.list {
		width: 620px;
		float: left;
		margin-right: 20px;
	}
	.banter-widget {
		width: 380px;
		float: left;
	}
}

@include breakpoint(xl) {
	.list {
		width: 620px;
		float: left;
		margin-right: 100px;
	}
	.banter-widget {
		width: 460px;
		float: left;
	}
}