/**
 * Menu & Search bar
 * ---------------------------------------------------------
 * php: ./inc/blocks/menu-search-bar.php
 * since: 0.3
 * -----------------------------------------------------------------------------
 */

 .menu-search-bar-block {
 	margin: 12px 0;
 	clear: both;
 	.wrapper {
 		height:30px;
		.search {
		    width: 300px;
		    position: absolute;
		    right: 0;
		    input[type=text] {      // the input field.
		        @include animate;
		        display: block;
		        padding: 5px 12px 6px;
		        outline: none;
		        color: $black;
		        border: none;
		        font-family: $headline;
		        border-left: 2px solid $grey;
		        width:160px;
		        float:right;
		        &:focus {
		            @include animate;   
		            border-left-color: $blue;    
		            width:200px; 
		        }
		    }
		    input[type=submit] {    // the submit field.
		        position: absolute;
		        right: 0px;
		        text-indent: -99999px;
		        width:30px;
		        height:30px;
		        opacity: .5;
		        border: none;
		        background: transparent;
		    }
		    // The search icon is actually the before element.
		    &:before {
		        content: "s";
		        font-family: $icon;
		        padding:4px 8px;
		        position:absolute;
		        right:0;
		        width:30px;
		        height:30px;
		        color: $greyText;
		    }
		    &:hover:before {
		        color: $blue;
		        pointer: cursor;
		    }
		}
 		.menu {
 			margin: 0; padding:0;
 			list-style-type: none;
 			color: $black;
 			font-family: $headline;
 			font-size: 15px; 	
 			display: table-cell;
 			position: absolute;
 			z-index: 9990;
 			li {
 				text-align: left;
 				display: none;
 				margin:0;
 				float:left;
 				clear:left;
 				width:100%;
 				a {
 					padding: 8px 120px 6px 9px;
 					background: white;
 					width:100%;
 					display: block;
 					color: $black;
 					&:hover {
 						color: $blue;
 					}
 				}
 			}

 			&:hover {
 				li {
 					display: block;
 				}
 			}
 			&:before {
 				content: "Sections";
 				padding: 8px 60px 6px 9px;
 				line-height: 16px;
 				background: $white;
 				color:$greyText;
 				display: table-cell;
 				background-image: url('data:image/svg+xml;utf8, \a'
					'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="11"> \a'
					'	<polygon points="0,0 3,0 9,5 15,0 18,0 18,1 11,8 7,8, 0,1" style="fill:#{$greyText}" > \a'
					'</svg> \a'
					);
 				background-repeat: no-repeat;
 				background-position: right 9px center;
 			}
 			&:hover:before {
  				background-image: url('data:image/svg+xml;utf8,\a'
					'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="11">\a'
						'<polygon points="0,0 3,0 9,5 15,0 18,0 18,1 11,8 7,8, 0,1" style="fill:#{$black}" />\a'
					'</svg>\a'
					);		
				color:$black;
 			}
 		}
 	}
}

.menu-search-bar-block.black {
	.wrapper .menu {
 		li a {
 			color: white;
 			&:hover {
 				color: $grey;
 			}
 		}
	}
}

@include breakpoint("tablet") {
	.menu-search-bar-block {
		.wrapper .menu {
 			background: transparent; // *	
 			display: block; // *
 			margin-left: -10px;
 			li {
 				display: inline; // *
 				clear:none; //*
 				width:inherit; // *
 				a {
 					padding: 8px 10px 6px 10px; //*
 					background: transparent; //*
 					font-weight: bold; //*
 					text-transform: uppercase;
 					&:hover {
 					}
 				}
 			}
 			&:before {
 				display: none; // *
 			}
 		}
 	}
}