.gcs_container{
	div, .gsc-control-cse, .gsc-webResult.gsc-result{
		background-color: #eff4f6;
		border: 0px;
		border-left: 0px;
		&:hover{
			border: 0px;
		}
	}
	.gsc-table-cell-thumbnail{
		display: block !important;	// to align the results with thumbnail and those without
	}
	.gsc-url-bottom{
		display: none;
	}
}