<button ng-click="toEmail($event)" class="mm-button mm-button-right view-link no-btn" ng-hide="validSocial">Back</button>
<hr/>
<div class="social-plug divider">
	<h3>Follow us on Twitter and Facebook for contest updates</h3>
	<div class="social-buttons clearfix">
		<div class="twitter">
			<a href="https://twitter.com/badgerherald" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @badgerherald</a>
			<script type="text/javascript-lazy">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div><!-- .twitter -->

		<div class="facebook">
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbadgerherald&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 83px; height:21px;" allowTransparency="true"></iframe>
		</div><!-- .facebook -->
	</div>
    <div class="clearfix"></div>
    <!--
    <a class="opt-out" ng-click="socialClick('opt-out')">No Thanks.</a> -->
</div>
<hr/>
<button class="mm-button no-btn view-link view-link-center view-link-large" ng-click="submit($event)" ng-hide="validSocial">Submit</button>
<h3 ng-hide="!validSocial">Thank you for entering!</h3>


<div ng-hide="!validSocial" class="tweet-this" style="background:#3c3c3c;width:80%;margin:0 auto;padding:10px;">
    <h2>Tell your friends!</h2>
    <p style="color:#fff;">I voted in the 2014 @BadgerHerald Student Choice Awards <a href="http://badgerherald.com/student-choice">http://badgerherald.com/student-choice/</a> <a href="https://twitter.com/search?q=%23studentchoice&src=typd&f=realtime">#StudentChoice</a></p>
    <a href="https://twitter.com/intent/tweet?button_hashtag=StudentChoice&text=I%20voted%20in%20the%202014%20%40BadgerHerald%20Student%20Choice%20Awards!%20" class="twitter-hashtag-button" data-size="large" data-related="badgerherald" data-url="http://badgerherald.com/student-choice/">Tweet #StudentChoice</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
