
/**
 * .container foundations:
 * ----------------------------------------
 */

.container {
	padding: 12px 0px;
	display: block; 
	margin: 24px 0;
	width: 100%;
	position: relative;
	&.mobile, &.tablet, &.desktop, &.xl {
		display: none;
	}
	&.mobile {
		display: block;
	}
}

.container.black {
	background: $black;
}

@include breakpoint('tablet') {
	.container.mobile, .container.desktop, .container.xl {
		display: none;
	}
	.container.tablet {
		display: block;
	}
}

@include breakpoint('desktop') {
	$gridColor: red;
	.container.mobile, .container.tablet, .container.xl {
		display: none;
	}
	.container.desktop {
		display: block;
	}
}

@include breakpoint('xl') {
	$gridColor: green;
	.container.mobile, .container.tablet, .container.desktop {
		display: none;
	}
	.container.xl {
		display: block;
	}
}