@mixin transition($prop, $time, $fn, $delay:0ms) {
    -webkit-transition: $prop $time $fn $delay;
    -moz-transition: $prop $time $fn $delay;
    -o-transition: $prop $time $fn $delay;
    transition: $prop $time $fn $delay;
}

html {
	height: 100%;
}

body {
	width: 100%;
	background: $grey;
    height:100%;
    min-height:100%;
    overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 540px;
	width: flex(280,300);
	position: relative;
}

/* Page surrounds everything inside of body */

#page {
	width: 100%;
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	@include transition(all, 250ms, linear);
	&.pullout-active {
		left: 260px;
		position: fixed;
	}
}

.container {
	@include setGrid(3, 80, 20);
	.wrapper {
		max-width: 100%;
	}
}

@include breakpoint("mobilexl") {
	.container {
		@include setGrid(6, 80, 20);
	}
}
@include breakpoint("tablet") {
	.container {
		@include setGrid(9, 80, 20);
	}
}

@include breakpoint("desktop") {
	.container {
		@include setGrid(12, 80, 20);
	}
}

@include breakpoint("xl") {
	.container {
		@include setGrid(15, 80, 20);
	}
} 

